/**
* @version $Id: $
* Kunena Component
* @package Kunena

**/

@charset "UTF-8";

/* CSS for BlueEagle template for Kunena v1.6.x */

/* ------------------------- COLOR PALETTE

Dark blue color: 			#0B2A4C		RGB: 11/42/76
Light blue color: 			#4f7ba4		RGB: 79/123/164
Lavender color: 			#b9cadb		RGB: 185/202/219
Light Lavender color: 		#e2e9f0		RGB: 226/233/240
Orange color: 				#FC8F30		RGB: 252/143/48
Medium Grey color:			#606060		RGB: 96/96/96
Dark Grey color:			#2c2c2c		RGB: 44/44/44

----------------------------------------*/


/* ------------------------- GLOBAL ------------------------- */

body {
	background-color: #ffffff;
	font-family: Ariel, Helvetiva, sans-serif;
	font-size: 100%;
	color: #2C2C2C;
}

img {
	border: none 0;
}

#kunena {
	
}

#kunena,
table,
div.topnav,
table.announcements {
	width: 960px;
	margin: 0 auto;
}

h1 {}
h2 {}
h3 {}
h4 {}

div.search {

}

div.profile_box {

}

div.show_hide {

}

div.top_info_box,
div.bottom_info_box {
	width: 960px;
	margin: 0 auto;
	}

div.jump_box {

}

div.pagination_box {

}

div.discussions {

}

div.corner1 {
	width: 960px;
	margin: 0 auto;
}

div.corner2 {

}

div.corner3 {

}

div.corner4 {

}

div.credits {
	width: 960px;
	margin: 0 auto;
}


	
/* ------------------------- TABLES ------------------------- */

thead {

}

tbody {

}

tfoot {

}
	
table.forum_body {

}


tr.odd_row {

}
tr.even_row {

}

td.col1 {}

td.col2 {}

td.col3 {}

td.col4 {}

td.col5 {}


/* ------------------------- ANNOUNCEMENTS ------------------------- */

div.announce_create {

}

div.announce_summary {

}



					
/* ------------------------- RECENT ------------------------- */




/* ------------------------- TOPIC ------------------------- */




/* ------------------------- PROFILES ------------------------- */




/* ------------------------- MISC ------------------------- */

