/**
* @version $Id: $
* Kunena Component
* @package Kunena

**/

@charset "UTF-8";

/* CSS for BlueEagle template for Kunena v1.6.x */

/* ------------------------- COLOR PALETTE

Dark blue color: 			#0B2A4C		RGB: 11/42/76
Light blue color: 			#4f7ba4		RGB: 79/123/164
Lavender color: 			#b9cadb		RGB: 185/202/219
Light Lavender color: 		#e2e9f0		RGB: 226/233/240
Orange color: 				#FC8F30		RGB: 252/143/48
Medium Grey color:			#606060		RGB: 96/96/96
Dark Grey color:			#2c2c2c		RGB: 44/44/44

----------------------------------------*/

/* ------------------------- GLOBAL ------------------------- */

/*
body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2C2C2C;
}
*/

img {
	border: none 0;
}

#kunena {
/*	font-family: Arial, Helvetica, sans-serif;*/
	color: #2C2C2C;
	margin: 0;
	padding:0;
	line-height: 120%;
/*	width: 95%;*/
	margin: 0 auto;
	font-size: 12px;
}

#kunena table,
div.topnav {
	width: 100%;
	margin: 0 auto; 
}

a:link,
a:visited,
a:active {
	color: #0B3768;
	text-decoration: none;
	border: 0;
}

a:hover {
	color: #0B3768;
	text-decoration: underline;
}

h1 { font-size: 18px; }
h2 { font-size: 17px; }
h3 { font-size: 16px;  }
h4 { font-size: 15px; margin: 0 0 2px 0;}


/* ------ TOP NAV ---- */
#kunena div.topnav {
}

#kunena div.topnav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#kunena div.topnav li {
	margin-right: 1px;
	list-style: none;
	display: block;
	width: auto;
	float:left;
	padding:5px 0;
	margin: 5px 1px 0px 1px;
	background: #777777;
}

#kunena div.topnav li:hover {
	background: #5388B4;
	padding:9px 0 5px;
	margin-top: 1px;
}

#kunena div.topnav li a {
	background: url('../images/menubg.png') no-repeat scroll right top;
	padding:10px 1px 5px 0px;
	font-weight:bold;
	color: #ffffff;
}

#kunena div.topnav li a:hover {
	font-weight:bold;
	text-decoration:none;
	color: #ffffff;
	background: url('../images/menubg.png') no-repeat scroll right -35px;
}

#kunena div.topnav li a span {
	background: url('../images/menubg.png') no-repeat scroll left top;
	color: #ffffff;
	margin-left: -1px;
	padding:10px 8px 5px 8px;
}

#kunena div.topnav li a:hover span {
	background: url('../images/menubg.png') no-repeat scroll left -35px;
	color: #ffffff;
	margin-left: -1px;
}

/* ----------- */

#kunena div.search {
	display:block;
	text-align:right;
	padding-top:2px;
}

#kunena select,
#kunena input {
	font-size: 12px;
	background:#F7F7F7;
	border:1px solid #999999;
	margin: 0;
	padding: 0;
}

#kunena input:hover {
	background:#609FBF;
	border:1px solid #006699;
	color:#FFFFFF;
}
div.profile_box {
	background:#EEEEEE;
	border: 1px solid #BFC3C6;
	padding: 6px;
	clear:both;
	margin-bottom: 6px;
}

div.profile_box p {
}

#kunena div.top_info_box,
#kunena div.bottom_info_box {
/*	width: 100%; */
	margin: 0 auto;
	text-align:right;
}

div.bottom_info_box {
	margin-top: 6px;
}

div.choose_time {
	float:left;
	margin-right: 12px;
}

div.choose_time {
	width:auto;
}

div.choose_forumcat {
/*	float: left;*/
	width: auto;
}

div.announcements {
	width: 100%;
	padding: 0;
	background-color: #F7F7F7;
	margin-bottom: 12px;
	border: 1px solid #d6d6d6;
}

div.announcements h3 {
	text-align: center;
	margin-top:12px;
}

div.announcements p {
	margin: 0 12px 12px 12px;
}

p.announce_summary a:link {

}

div.pagination {
	display: inline;
/*	float: right;*/
/*	width: auto;*/
	margin-right: 12px;
}

div.pagination span {
	border: 1px solid #83afda;
	padding: 2px;
}

#kunena input.input_search {
	background: url(../images/search_icon.png) no-repeat scroll 5px center;
	font-weight:normal;
	padding:1px 5px 1px 20px;
	width:auto;
}

#kunena input.go_btn {
	padding:0 4px;
	width:auto;
}

div.counter {
/*	width: auto;*/
/*	float: right;*/
	display: inline;
	margin-right: 12px;
}

div.corner_tl {
	width: 100%;
	margin: 0 auto;
}

div.corner_tr {

}

div.corner_br {

}

div.corner_bl {

}

div.stats_box {
	margin-top: 36px;
}

div.credits {
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
}

div.credits p {
	font-size: 10px;
	text-align:center;
}

div.rsslink {
	width: 100%;
	margin: 0 auto;
}
div.rsslink img {
	text-align:center;
}


	
/* ------------------------- TABLES ------------------------- */

#kunena table {
	border: 1px solid #ffd978;
	clear:both;
	border-collapse: collapse;
}

thead {
	background-color: #FC8F30;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	height: 15px;
	text-transform:uppercase;
}

thead col1 {
}

tbody {

}

tfoot {

}
	
#kunena table.forum_body {
	margin-bottom: 6px;
}

tr.row_odd {
	border-top: 1px solid #e5e5e5;
}

tr.row_even {
	background-color: #F7F7F7;
	border-top: 1px solid #e5e5e5;
}

td.col1 {
	width: 70px;
	text-align:center;
	padding: 5px;
	border-right: 1px solid #D6D6D6;
}

td.col1 div.post_number {
	font-size: 26px;
	/* color: #4f7ba4; */
	color: #999999;
	text-align:center!important;
	margin-bottom: 5px;
}

td.col1 span {
	font-size: 11px;
	color: #999999;
	text-transform:uppercase;
}

td.col2 {
	width: 60px;
	text-align:center;
	padding: 5px;
	border-right: 1px solid #D6D6D6;
}

td.col3 {
	width: auto;
	padding: 10px 15px;
	border-right: 1px solid #D6D6D6;
	}

td.col4 {
	width: 165px;
	padding: 10px 15px;
	vertical-align: center;
}


/* ------------------------- ANNOUNCEMENTS ------------------------- */

p.announce_summary {
	font-size: 13px;
	line-height: 150%;
}

p.announce_summary span {
	font-weight: bold;
	padding-right: 5px;
}

					
/* ------------------------- RECENT ------------------------- */

div.post_info {
	display:block;
}

div.topic_post_time {
	display:block;
	float:left;
	margin-right: 5px;
}

div.topic_author {
	display:block;
	float:left;
}

div.topic_category {
	display:block;
	clear:both;
}

div.topic_category a {
	
}

div.topic_views {
	display:block;
}

div.topic_latest_post_avatar {
	width: 48px;
	height: 48px;
	float:left;
	margin-right: 12px;
}

p.topic_latest_post,
p.topic_time {
	font-size: 10px;
	line-height: 110%;
	margin-bottom: 1px;
}



/* ------------------------- TOPIC ------------------------- */




/* ------------------------- PROFILES ------------------------- */




/* ------------------------- MISC ------------------------- */

.clr {
	line-height: 1;
	font-size: 1;
	clear:both;
}

/* ADDED BY MATIAS */
/* ------------------------- PATHWAY ------------------------- */

div.pathway {
	background:#F7F7F7 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	clear:both;
	margin-bottom:-1px;
	padding:6px;
}

span.path-element-first {
	background:transparent url(../images/pathway_start.gif) no-repeat scroll left center;
	font-weight:normal;
	padding-left:22px;
}

span.path-element,
span.path-element-last {
	background:transparent url(../images/arrow.png) no-repeat scroll left center;
	font-weight:normal;
	padding-left:12px;
}

div.forum-description {
	background:#F7F7F7 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	clear:both;
	margin-bottom:-1px;
	padding:6px;
}

div.stats_box {
	background:#F7F7F7 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	clear:both;
	margin-bottom:6px;
	padding:6px;
}

#kunena div.top_info_box,
#kunena div.bottom_info_box,
#kunena div.top_actions_box,
#kunena div.bottom_actions_box {
	border:1px solid #CCCCCC;
	clear:both;
	padding:6px;
	text-align: right;
	line-height: 19px;
}

#kunena div.top_info_box,
#kunena div.top_actions_box {
	margin-bottom:6px;
}

#kunena div.bottom_info_box,
#kunena div.bottom_actions_box {
	margin-bottom:-1px;
}

#kunena div.top_info_box div,
#kunena div.bottom_info_box div,
#kunena div.top_actions_box div,
#kunena div.bottom_actions_box div {
	display: inline;
	text-align: right;
}

#kunena div.jump,
#kunena div.actions,
#kunena div.moderators {
	float: left;
}

div.topline {
	clear:both;
	background:#5388b4 none repeat scroll 0 0;
	border:1px solid #5182a4;
	padding:1px 0 0 0;
}

p.welcome span {
	font-weight: bold;
}