/**
* @version $Id: $
* Kunena Component
* @package Kunena

**/

@charset "UTF-8";

/* CSS for BlueEagle template for Kunena v1.6.x */

/* ------------------------- COLOR PALETTE

Dark blue color: 			#0B2A4C		RGB: 11/42/76
Light blue color: 			#4f7ba4		RGB: 79/123/164
Lavender color: 			#b9cadb		RGB: 185/202/219
Light Lavender color: 		#e2e9f0		RGB: 226/233/240
Orange color: 				#FC8F30		RGB: 252/143/48
Medium Grey color:			#606060		RGB: 96/96/96
Dark Grey color:			#2c2c2c		RGB: 44/44/44

----------------------------------------*/

/* ------------------------- GLOBAL ------------------------- */

/*
body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2C2C2C;
}
*/

img {
	border: none 0;
}

#kunena {
/*	font-family: Arial, Helvetica, sans-serif;*/
	color: #2C2C2C;
	margin: 0;
	padding:0;
	line-height: 120%;
/*	width: 95%;*/
	margin: 0 auto;
	font-size: 12px;
}

#kunena table,
div.topnav {
	width: 100%;
	margin: 0 auto; 
}

#kunena a:link,
#kunena a:visited,
#kunena a:active {
	color: #006699;
	text-decoration: none;
	border: 0;
}

#kunena a:hover {
	color: #006699;
	text-decoration: underline;
}

h1 { font-size: 18px; }
h2 { font-size: 17px; }
h3 { font-size: 16px;  }
h4 { font-size: 15px; margin: 0 0 2px 0;}

h1 a:link, h1 a:visited, h1 a:active,
h2 a:link, h2 a:visited, h2 a:active,
h3 a:link, h3 a:visited, h3 a:active,
h4 a:link, h4 a:visited, h4 a:active {
		font-weight: bold;
}

/* ------ TOP NAV ---- */
#kunena_top {
	position: relative;
}

#kunena div.topnav {
}

#kunena div.topnav ul {
	margin: 0;
	padding: 10px 0 5px 0;
	list-style: none;
}

#kunena div.topnav li {
	list-style: none;
	display: inline;
	width: auto;
	padding:5px 0;
	margin: 0 -2px 0 1px;
	background: #777777;
}

#kunena div.topnav li.active,
#kunena div.topnav li:hover {
	background: #5388B4;
	padding:9px 0 5px;
	margin-top: 1px;
}

#kunena div.topnav li a {
	background: url('../images/menubg.png') no-repeat scroll right top;
	padding:10px 1px 5px 0px;
	font-weight:bold;
	color: #ffffff;
}

#kunena div.topnav li.active a,
#kunena div.topnav li a:hover {
	font-weight:bold;
	text-decoration:none;
	color: #ffffff;
	background: url('../images/menubg.png') no-repeat scroll right -35px;
}

#kunena div.topnav li a span {
	background: url('../images/menubg.png') no-repeat scroll left top;
	color: #ffffff;
	margin-left: -1px;
	padding:10px 8px 5px 8px;
}

#kunena div.topnav li.active a span,
#kunena div.topnav li a:hover span {
	background: url('../images/menubg.png') no-repeat scroll left -35px;
	color: #ffffff;
	margin-left: -1px;
}

/* ----------- */

#kunena div.search {
	position: absolute;
	bottom: 6px;
	right: 0;
	display:block;
	text-align:right;
	padding-top:2px;
}

#kunena select,
#kunena input {
	font-size: 12px;
	background:#F7F7F7;
	border:1px solid #999999;
	margin: 0;
	padding: 0;
}

#kunena input:hover {
	background:#609FBF;
	border:1px solid #006699;
	color:#FFFFFF;
}
div.profile_box {
	background:#F7F7F7;
	border: 1px solid #BFC3C6;
	padding: 6px;
	clear:both;
	margin-bottom: 6px;
}

div.profile_box p {
}

#kunena div.top_info_box,
#kunena div.bottom_info_box {
/*	width: 100%; */
	margin: 0 auto;
	text-align:right;
}

div.bottom_info_box {
	margin-top: 6px;
}

div.choose_time {
	float:left;
	margin-right: 12px;
}

div.choose_time {
	width:auto;
}

div.choose_forumcat {
/*	float: left;*/
	width: auto;
}

#kunena table.announcements {
	margin-bottom: 6px;
}

table.announcements h3 {
}

table.announcements td {
	margin: 0 12px 12px 12px;
}

td.announce_summary a:link {

}

div.pagination {
	display: inline;
/*	float: right;*/
/*	width: auto;*/
	margin-right: 12px;
}

div.pagination span {
	border: 1px solid #83afda;
	padding: 2px;
}

#kunena input.input_search,
#kunena input:hover.input_search {
	background: url(../images/search_icon.png) no-repeat scroll 5px center;
	color: #000000;
	font-weight:normal;
	padding:1px 5px 1px 20px;
	width:auto;
}

#kunena input.go_btn {
	padding:0 4px;
	width:auto;
}

div.counter {
/*	width: auto;*/
/*	float: right;*/
	display: inline;
	margin-right: 12px;
}

div.stats_box {
	margin-top: 36px;
}

#kunena_footer {
	position:relative;
}

div.credits {
	width:80%;
	margin: 0 auto;
	margin-top: 18px;
}

div.credits p {
	font-size: 10px;
	text-align:center;
}

div.rsslink {
	position: absolute;
	display:inline;
	right: 1px;
	bottom:0;
	margin: 0 auto;
}
div.rsslink img {
	text-align:center;
}


	
/* ------------------------- TABLES ------------------------- */

#kunena table {
	clear:both;
	border-collapse: separate;
	border-spacing: 0;
	border-color:#BFC3C6;
	border-style:solid;
	border-width:0 0 4px;
}

#kunena thead {
	background-color: #516c81;
	color: #ffffff;
	font-size: 12px;
	text-align: center;
	height: 15px;
}

#kunena thead a:link,
#kunena thead a:visited,
#kunena thead a:hover {
	color: #ffffff;
	font-weight: bold;
}

thead col1 {
}

tbody {
}

tfoot {

}
	
#kunena table.forum_body {
}

#kunena table.forum_body tbody td {
	border-bottom: 1px solid #CCCCCC;
}

#kunena table.forum_body tbody tr.thread_sticky,
#kunena table.forum_body tbody tr.thread_favorite,
#kunena table.forum_body tbody tr.thread_sticky_favorite {
	background:#FEFECC;
}

#kunena table.forum_body thead th {
	background:#516c81 url(../images/categorybg.png) repeat-x scroll left top;
	border-left: 1px solid #7f9fba;
	border-right: 1px solid #516c81;
	border-top:0;
	padding: 0 4px;
	margin: -1px 0 0 0;
}

#kunena table.forum_body tbody th {
	background:#c0d0e3 url(../images/categorybg.png) repeat-x scroll left -101px;
	border-left: 1px solid #c0d0e3;
	border-right: 1px solid #7398b9;
/*	padding: 3px 4px 2px;*/
/*	text-align: right;*/
}

#kunena table.forum_body thead h1,
#kunena table.forum_body thead h2,
#kunena table.forum_body thead h3 {
	color: #ffffff;
	line-height:20px;
	font-size:17px;
	padding: 4px 0px 3px;
	margin: 0px;
}

#kunena table.forum_body tbody h1,
#kunena table.forum_body tbody h2,
#kunena table.forum_body tbody h3 {
	font-size:17px;
	line-height:1em;
	margin: 0px;
	font-weight: bold;
	padding-bottom: 4px;
}

#kunena table.forum_body tbody .new_posts {
	color:#009900;
	font-size:9px;
	font-weight:bold;
	margin-left:3px;
}

#kunena table.forum_body thead div {
	padding-bottom: 6px;
}

#kunena .lcol,
#kunena .fcol {
	border-left: 1px solid #D6D6D6;
}

#kunena td.lcol,
#kunena td.rcol,
#kunena td.mcol,
#kunena td.fcol {
	border-right: 1px solid #D6D6D6;
	padding: 6px;
	vertical-align: center;
}

#kunena th {
	padding: 2px 6px 3px 6px;
}

#kunena td {
	padding: 6px;
}

tr.row_odd {
	border-top: 1px solid #e5e5e5;
}

tr.row_even {
	background-color: #F7F7F7;
	border-top: 1px solid #e5e5e5;
}

#kunena tbody th,
#kunena tbody td {
	border-left: 1px solid #ffffff;
	border-right: 1px solid #d6d6d6;
}

#kunena .col_replies {
	width: auto;
	text-align:center;
}

td.col_replies div.post_number {
	font-size: 26px;
	/* color: #4f7ba4; */
	color: #999999;
	text-align:center!important;
	margin-bottom: 5px;
}

td.col_replies span {
	font-size: 11px;
	color: #999999;
	text-transform:uppercase;
}

#kunena .col_emoticon {
	width: auto;
	text-align:center;
}

#kunena .col_content {
	width: 60%;
}

#kunena .col_last {
	width: 35%;
}


#kunena .col_topics {
	width: auto;
	text-align:center!important;
}

#kunena .col_posts {
	width: auto;
	text-align:center!important;
}

/* ------------------------- ANNOUNCEMENTS ------------------------- */

td.announce_summary {
	font-size: 13px;
	line-height: 150%;
}

td.announce_summary span {
	font-weight: bold;
	padding-right: 5px;
}

					
/* ------------------------- RECENT ------------------------- */

div.post_info {
	display:block;
	position:relative;
}

div.topic_post_time {
	display:block;
	float:left;
	margin-right: 5px;
}

div.topic_author {
	display:block;
	float:left;
}

div.topic_category {
	display:block;
	clear:both;
}

div.topic_category a {
	
}

div.topic_views {
	display:block;
	position:absolute;
	top: 0;
	right: 0;
}

div.topic_latest_post_avatar {
	width: 48px;
	height: 48px;
	float:left;
	margin-right: 6px;
}

p.topic_latest_post,
p.topic_time {
	margin-bottom: 1px;
}



/* ------------------------- TOPIC ------------------------- */




/* ------------------------- PROFILES ------------------------- */




/* ------------------------- MISC ------------------------- */

.clr {
	line-height: 1;
	font-size: 1;
	clear:both;
}

/* ADDED BY MATIAS */
/* ------------------------- PATHWAY ------------------------- */

div.pathway {
	background:#F7F7F7 none repeat scroll 0 0;
	border:1px solid #CCCCCC;
	clear:both;
	margin-bottom:-1px;
	padding:6px;
}

span.path-element-first {
	background:transparent url(../images/pathway_start.gif) no-repeat scroll left center;
	font-weight:normal;
	padding-left:22px;
}

span.path-element,
span.path-element-last {
	background:transparent url(../images/arrow.png) no-repeat scroll left center;
	font-weight:normal;
	padding-left:12px;
}

div.forum-description {
	background:none;
	border:1px solid #CCCCCC;
	clear:both;
	margin-bottom:6px;
	padding:6px;
}

table.stats_box {
	background:#F7F7F7 none repeat scroll 0 0;
	clear:both;
	margin-bottom:6px;
}

#kunena div.top_info_box,
#kunena div.bottom_info_box,
#kunena div.top_actions_box,
#kunena div.bottom_actions_box {
	border:1px solid #CCCCCC;
	clear:both;
	padding:6px;
	text-align: right;
	line-height: 19px;
}

#kunena div.top_actions_box {
	margin-bottom:-1px;
}

#kunena div.bottom_info_box,
#kunena div.bottom_actions_box {
	margin-bottom:6px;
}

#kunena div.top_info_box div,
#kunena div.bottom_info_box div,
#kunena div.top_actions_box div,
#kunena div.bottom_actions_box div {
	display: inline;
	text-align: right;
}

#kunena div.jump,
#kunena div.actions,
#kunena div.moderators {
	float: left;
}

div.topline {
	clear:both;
	background:#5388b4 none repeat scroll 0 0;
	border:1px solid #5182a4;
	padding:1px 0 0 0;
}

p.welcome span {
	font-weight: bold;
}

#kunena div.message_header {
	position: relative;
	text-align: right;
	padding: 6px 0 12px 0;
	line-height: 17px;
}

#kunena table.forum_body tbody h2.msgsubject,
#kunena table.forum_body tbody h2.msgsubject_new {
	background:transparent url(../images/msgtitle.png) no-repeat scroll left top;
	padding-left:22px;
	display: inline;
	width: auto;
	float: left;
}

#kunena th.msgheader {
	text-align:right;
}

#kunena span.msgdate {
	padding-left:22px;
	white-space:nowrap;
	float: left;
}

#kunena span.msgkarma {
	white-space:nowrap;
}

#kunena div.message_text {
	border-top:1px solid #CCCCCC;
	padding: 6px 0;
}

#kunena td.message {
	vertical-align: top;
}

#kunena td.profile {
	background:#EFF0F4 none repeat scroll 0 0;
	vertical-align: top;
	min-width:170px;
	width:170px;
}

#kunena div.profilebox div {
	margin:2px 5px;
	text-align: center;
}

#kunena div.profilebox div.cover {
	background:#DDDDDD none repeat scroll 0 0;
	border:1px solid #BFC3C6;
	color:#333333;
}

#kunena div.profilebox img.avatar {
	border:1px solid #BFC3C6;
	margin:5px;
	padding:1px;
}