/*#kunena.layout li.dropdown a:hover > * {
 	visibility: visible;
 	opacity: 1.0;
 	display: block;
}*/

/*#kunena.layout input.kinputbox,
#kunena.layout textarea.ktxtarea {
	border: 1px solid;
	padding: 3px 5px;
	width: 95%;
}

#kunena.layout input.kinputbox-inline {
	width: auto;
}

#kunena.layout input.kinputbox-date {
	width: 25%;
}

#kunena.layout label {
	font-weight:bold;
}

#kunena.layout label i {
	font-weight:normal;
}

#kunena.layout fieldset {
	background: none;
	padding:0;
	margin:0;
	border:0 none;
}

#kunena.layout legend.klegend {
	display: none;
}*/

/*#kunena.layout a {
	text-decoration:none;
}

#kunena.layout li {
	line-height: normal;
	list-style-type: none !important;
}

#kunena.layout ul {
	line-height: normal;
	list-style-type: none !important;
}*/

/* This outter element is needed for dropdowns */

/* TODO: Need configure option for: padding */
/*#kunena.layout div.block-wrapper {
 	position: relative;
 	padding: 5px;
 	overflow: hidden;
}*/

/* although we can do margin, it makes sense if we want people to configure the space easily */

/* TODO: Need configure option for: padding */

/*wrapper is needed for some spacing elements */
/* TODO: Need configure option for: padding */

/*---------- Statistics ------------- */

/*#kunena.layout div#statistics statistics-general .statistics-totals {
	width: 29%;
}

#kunena.layout div#statistics tr.sth {
	font-size: 1em;
}

#kunena.layout div#statistics tr.sth th {
	padding: 3px 5px;
	text-align: center;
}

#kunena.layout div#statistics tr.sth th.name {
	width: 50%;
	text-align: left;
}

#kunena.layout div#statistics tr.sth th.bar {
	width: 40%;
}

#kunena.layout div#statistics tr.sth th.nr {
	width: 10%;
}*/

/*#kunena.layout div.buttonbar ul.message-buttons span {
	padding: 10px 5px
}*/

/*#kunena.layout div.block-wrapper {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-color: transparent rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;*/
	/* need to include this line because the transition will not work */
	/*background-image: linear-gradient(top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%) !important;*/
	/*opacity: 0.1;
	background: var(styleForumHeadercolor) !important;
	background-image: linear-gradient(top, var(styleForumHeadercolor) 0%, var(styleForumHeadercolorGradient) 100%) !important;
}*/

/*#kunena.layout div.block-wrapper:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-color: transparent rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;*/
	/*background: var(styleForumHeadercolor) !important;*/
	/*background-image: linear-gradient(top, rgba(89, 155, 220, 0.4) 0%, rgba(48, 114, 179, 0.4) 100%) !important;*/
	/*background-image: linear-gradient(top, (0.25, var(styleForumHeadercolor)) 0%, (0.25, var(styleForumHeadercolorGradient)) 100%) !important;
}*/

/*#kunena.layout h2.header a {
	/*color: var(styleForumHeadercolorText) !important;*/
	/*font-weight: normal;
	text-decoration: none;
	font-size: 18px !important;
	line-height: 24px;
	background: none;
	color: #444444;
}*/

/*#kunena.layout h2.header a:hover {
	/*color: var(styleForumHeadercolorText) !important;*/
	/*font-weight: normal;
	text-decoration: none;
	font-size: 18px !important;
	line-height: 24px;
	background: none;
	color: #444444;
}*/

/*#kunena.layout div.detailsbox {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.4), -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4);
	border-color: transparent rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
}*/

/*#kunena.layout div.announcements ul.announcement-list li.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout div.announcements ul.announcement-list li.announcements-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout div.announcements ul.announcement-list li.announcements-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(100, 100, 100, 0.05);
}*/


/*#kunena.layout div.category ul.category-list li.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout div.category ul.category-list li.category-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout div.category ul.category-list li.category-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(100, 100, 100, 0.05);*/
}

/*#kunena.layout div.topic ul.topic-list li.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout div.topic ul.topic-list li.topics-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout div.topic ul.topic-list li.topics-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(100, 100, 100, 0.05);
}*/

/* effects */

/*#kunena.layout div.block-wrapper {
	-moz-transition: all 0.6s ease 0s;
}

#kunena.layout div.block-wrapper:hover {
	-moz-transition: all 0.3s ease 0s;
}*/

/*#kunena.layout div.category ul.category-list li.category-row {
	-moz-transition: all 0.6s ease 0s;
}	

#kunena.layout div.category ul.category-list li.category-row:hover {
	-moz-transition: all 0.3s ease 0s;
}

#kunena.layout div.category ul.category-list li.category-row + li.category-row {
	-moz-transition: all 0.3s ease 0s;
}*/

/*--------*/
/* Search */
/*--------*/


/*#kunena.layout #searchform {
	background: #F3F3F3;
}

#kunena.layout #searchform fieldset {
	background: #FFFFFF;
	border-color: #BCBCBC;
	border-radius: 3px 3px 3px 3px;
 	padding: 0;
}

#kunena.layout #searchform .input {
	padding: 5px;
	background-color: transparent;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid silver;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout #searchform .clrline {
}

#kunena.layout #searchform legend {
	font-size: 1.1em;
}

#kunena.layout #searchform .kpost-buttons {
	background-color: #FFFFFF;
	border-top-color: #BFC3C6;
}*/