@charset "utf-8";

/* DESIGN STYLES
-------------------------------------------------------------------------- */

/* The following attributes belong in this file:

font-family
font-size
font-style
font-weight
color
background-color
text-decoration
text-transform
border

*/

/*html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:20px;}
h2 {font-size:16px;}
h3 {font-size:15px;}
h4 {font-size:12px;}
h5,h6 {font-size:11px;}
p {font-size:12px;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
select {font-size: 11px;}
table {border-collapse: collapse;}
*/
#kunena input.kinputbox, textarea.ktxtarea {
	background-color: #FFFFFF;
	border-color: #BFC3C6;
}
#kunena .kheader {
	background-color: #5388B4;
	color: #fff;
	font-weight: bold;
}
#kunena .kheader a {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}
#kunena .kheader a:hover {
	text-decoration: underline;
}
#kunena .ksection .kheader-desc {
	background: #5388B4;
	color: #fff;
}
#kunena .ksection .kheader-desc.ktoggle-close {
	background-color: #999999;
}
#kunena li.kannounce-date {
	font-style: italic;
}
#kunena tr.krow1 td {
	background-color: #F2F1EE;
}
#kunena tr.krow2 td {
	background-color: #FFFFFF;
}
#kunena th.kcol-first,
#kunena td.kcol-first {
	border-bottom-color: #BFC3C6;
}
#kunena th.kcol-mid,
#kunena td.kcol-mid {
	border-bottom-color: #BFC3C6;
	border-left-color: #BFC3C6;
}
#kunena th.kcol-last,
#kunena td.kcol-last {
	border-bottom-color: #BFC3C6;
	border-left-color: #BFC3C6;
}
#kunena .kbutton {
	background-color: #5388B4;
	border: 1px solid #CCCCCC;
	color: #FFFFFF;
	font-size: 11px;
}
#kunena .kbutton:hover {
	background-color: #CCCCCC;
	border: 1px solid #000000;
	color: #000000;
}
#kunena .kattachment .kbutton {
	color: #000000;
}
#kunena .kfile-input-button,
#kunena .kfile-input-button:hover,
#kunena .kfile-input-button:focus {
	background-color: #F2F1EE;
	border-color: #999999;
	color: #000000;
}
#kunena .kpostbuttonset,.kpostbuttons {
	border-color: #BFC3C6;
}

/*---------- Top Menu ------------- */

#kunena .kmenu {
	border-bottom: 3px solid #5388B4;
}
#kunena .kmenu ul.menu li {
	background: #ddd !important;
	font-size: 13px;
}
#kunena .kmenu ul.menu li:hover,
#kunena .kmenu ul.menu li.active {
	background: #5388B4 !important;
}
#kunena .kmenu ul.menu li a {
	color: #000;
	text-decoration: none;
}
#kunena .kmenu ul.menu li:hover a,
#kunena .kmenu ul.menu li.active a {
	color: #FFF;
}
#kunena .klogin {
	background-color: #f3f3f3;
}
#kunena ul.klogin-userlinks {
	font-size: 11px;
}
#kunena li.klogin-avatar img {
	border: 1px solid #ccc;
}

/*---------- Breadcrumbs ------------- */

#kunena .kbreadcrumb {
	background-color: #f3f3f3;
}
#kunena li.kbreadcumb-viewing,
#kunena li.kbreadcumb-total {
	font-weight: bold
}
/*---------- Category List ------------- */

#kunena .kcategories-row table,
#kunena .kposts-row table,
#kunena .ktopics-row table,
#kunena .ktags-row table,
#kunena .kcategory-row table {
	border-top: 1px solid #ccc;
}
#kunena .kcategories-row table caption,
#kunena .kposts-row table caption,
#kunena .ktopics-row table caption,
#kunena .ktags-row table caption {
	font-size: .001em;
}
#kunena td.kcategory-icon {
	border-right: 1px solid #ccc;
}
#kunena .ktopic-title h3,
#kunena .kpost-title h3,
#kunena .kcategory-title h3,
#kunena .kposts-body h3,
#kunena .ktag-title h3 {
	font-weight: bold;
	font-size: 15px;
}
#kunena .ktopic-details,
#kunena .ktopic-category,
#kunena li.kposts-det,
#kunena .kposts-title,
#kunena .kposts-sect-title,
#kunena .kposts-topic,
#kunena .kposts-sect,
#kunena .kposts-cats,
#kunena li.kcategory-smdetails h4,
#kunena li.kpost-smdetails h4,
#kunena li.ktopic-smdetails h4,
#kunena li.ktag-smdetails h4,
#kunena li.kposts-smdetails h4 {
	font-size: 11px;
}
#kunena .ktopic-category{
	font-weight: bold;
	color: #333;
}
#kunena .ktopic-actions,
#kunena .kcategory-actions li a,
#kunena .ktopic-actions li a {
	text-decoration: none;
}
#kunena .ktopic-actions {
	float:left;
}
#kunena .kcounts,
#kunena .kcategory-smdetails-lastpost {
	color: #999;
	font-size: 11px;
}
#kunena td.kcategory-subs,
#kunena td.ktopic-subs,
#kunena td.kcategory-topics,
#kunena td.kcategory-replies,
#kunena td.ktopic-replies,
#kunena td.ktag-posts,
#kunena td.kcategory-views,
#kunena td.ktopic-views,
#kunena td.kcategory-posts,
#kunena td.kposts-replies,
#kunena td.kposts-views {
	border-left: 1px solid #ccc;
	color: #999;
	font-size: 20px;
	line-height: 22px;
}
#kunena #klatest-detailsbox .krow-odd td.kcategory-views,
#kunena #klatest-detailsbox .krow-odd td.ktopic-views,
#kunena #klatest-detailsbox .krow-even td.kcategory-views,
#kunena #klatest-detailsbox .krow-even td.ktopic-views,
#kunena #klatest-detailsbox .krow-odd td.kcategory-replies,
#kunena #klatest-detailsbox .krow-odd td.ktopic-replies,
#kunena #klatest-detailsbox .krow-even td.kcategory-replies,
#kunena #klatest-detailsbox .krow-even td.ktopic-replies,
#kunena #klatest-detailsbox .krow-odd td.kcategory-subs,
#kunena #klatest-detailsbox .krow-odd td.ktopic-subs,
#kunena #klatest-detailsbox .krow-even td.kcategory-subs,
#kunena #klatest-detailsbox .krow-even td.ktopic-subs {
	background-color: #F9F9F9;
}
#kunena td.kcategory-topics span,
#kunena td.kcategory-replies span,
#kunena td.ktopic-replies span,
#kunena td.ktag-posts span,
#kunena td.kcategory-views span,
#kunena td.ktopic-views span,
#kunena td.kcategory-posts span,
#kunena td.kposts-topics span,
#kunena td.kposts-replies span,
#kunena td.kposts-views span {
	font-size: 14px;
}
#kunena td.kcategory-subs span,
#kunena td.ktopic-subs span{
	font-size: 12px;
}
#kunena .kcategories-row table td.kcategory-lastpost,
#kunena .kposts-row table td.kpost-author,
#kunena .ktopics-row table td.ktopic-lastpost,
#kunena .ktags-row table td.ktag-lastpost {
	border-left: 1px solid #ccc;
}
#kunena li.kcategory-smavatar img,
#kunena li.kpost-smavatar img,
#kunena li.ktopic-smavatar img,
#kunena li.ktag-smavatar img,
#kunena li.kposts-smavatar img {
	border: 1px solid #ccc;	
}
#kunena .krow-odd {
	background-color: #f3f3f3;
}
#kunena .krow-sticky {
	background-color: #FFFFCC;
}
#kunena .kcategories-row {
	/* background-color: red; */
}
#kunena .kwhosonline-users {
	border-left: 1px solid #CCC;
	}
#kunena .kwhosonline-subtitle {
	border-bottom: 1px solid #CCC;
}
#kunena .kwhosonline-legend ul li {
	font-size: 11px;
}
#kunena .klegend-title {
	font-weight: bold;
}
#kunena .kuser-admin			{ color: #FF0000; }
#kunena .kuser-globalmod		{ color: #800000; }
#kunena .kuser-moderator		{ color: #0000FF; }
#kunena .kuser-user				{ color: #5388B4; }
#kunena .kuser-guest			{ color: #666666; }
#kunena .kwhosonline-legend ul li span {
	color: #000;
}
#kunena .kstatistics-totals {
	border-left: 1px solid #CCC;
}
#kunena .kstatistics-totals ul li span,
#kunena .kstatistics-totals-links ul li span {
	font-weight: bold;	
}
#kunena .kheader-link {
	color: #fff;
	font-size: 11px;
	line-height: 19px;
}
#kunena input.kheader-link {
	color: #FFF;
	border: 0 none;
	background: #5388B4;
	padding: 0;
	line-height: 12px;
	text-decoration: underline;
}
#kunena .kcategory-smtitle h4 {
	font-size: 11px;
}
#kunena h2.ktoggle-close {
	background-color: #999999;
}
#kunena h2.ktoggle-close a {
	color: #ccc;
}
#kunena .kfilter-button {
	border: 1px solid #666;
	margin: 2px;
	background-color:#5388B4;
	color: #fff;
	font-size: 10px;
}
#kunena .kfilter-button:hover {
	border: 1px solid #333;
	background-color: #DDDDDD;
	cursor:pointer;
	color: #000;
}
#kunena li.kcategory-modtitle {
	font-size: 11px;
	font-weight:bold;
}
#kunena li.kcategory-modname {
	font-size: 11px;
}
#kunena td.kcategory-subcats {
	border-top: 1px solid #ccc;
}
#kunena .ksubscriptions-category li.kcategory-mods,
#kunena .kusercats li.kcategory-mods {
	border-bottom: 0px;
}
#kunena td.ktopic-icon {
	border-right: 1px solid #ccc;
}
#kunena .kcategory-lastpost li a,
#kunena .kpost-author li,
#kunena .kpost-author li a,
#kunena .ktopic-lastpost li a,
#kunena .ktag-lastpost li a,
#kunena .kcategory-lastpost li,
#kunena .ktopic-lastpost li,
#kunena .ktag-lastpost li,
#kunena .kposts-lastpost li,
#kunena .kposts-lastpost li a {
	font-size: 10px;
}
/*---------- Topic Tags ------------- */
#kunena .ktopic-tags {
	border-top: 1px solid #ddd;
}
#kunena .ktopic-tags li {
	font-size: 11px;
}
#kunena .ktopic-tags li a,
#kunena .kposts-sect a,
#kunena .kposts-cats a {
	color: #5388B4;
}
#kunena .ktopic-tags li a,
#kunena .kposts-sect a,
#kunena .kposts-cats a {
	text-decoration: none;
}
#kunena .ktopic-tags li a:hover,
#kunena .kposts-sect a:hover,
#kunena .kposts-cats a:hover {
	text-decoration: underline;
}
#kunena .ktopic-tags-title,
#kunena .kposts-title,
#kunena .kposts-sect-title,
#kunena .kposts-cats-title {
	font-weight: bold;
	color: #333;
}
#kunena .ktopic-taglist {
	background-color: #14537b;
}
#kunena .ktopic-taglist li {
	font-size: 11px;
}
#kunena .ktopic-taglist li a {
	color: #f5f5f5;
}
#kunena .ktopic-taglist-title {
	color: #FFF;
}

/*---------- Topic Categories ------------- */

#kunena .ktopic-cats {
	border-top: 1px solid #ddd;
}
#kunena .ktopic-cats li {
	font-size: 11px;
}
#kunena .ktopic-cats li a {
	color: #5388B4;
}
#kunena .ktopic-cats li a {
	text-decoration: none;
}
#kunena .ktopic-cats li a:hover {
	text-decoration: underline;
}
#kunena .ktopic-cats-title {
	font-weight: bold;
	color: #333;
}
#kunena .ktopic-catlist {
	background-color: #14537b;
}
#kunena .ktopic-catlist li {
	font-size: 11px;
}
#kunena .ktopic-catlist li a {
	color: #f5f5f5;
}
#kunena .ktopic-catlist-title {
	color: #FFF;
}
/*---------- Topics ------------- */

#kunena .ktopic-subsc {
	font-size: 11px;
	color: #fff;
}
#kunena .kposthead {
	background-color: #666;
}
#kunena .kposthead h3,
#kunena .kposthead li,
#kunena .kposthead li a{
	color: #fff;
}
#kunena .kposthead-postsubs,
#kunena .kposthead-posttime,
#kunena .kposthead-postip,
#kunena .kposthead-postid {
	font-size: 11px;
}
/*#kunena .kposts-row {
	border-bottom: 1px solid #BCBCBC;
}*/

#kunena .kposts-body {
	width: 40%;
	border-right: 1px solid #BCBCBC;
}

/* User details */

#kunena .kpost-user-username a {
	font-size: 16px;
}
#kunena .kpost-user-avatar img {
	border: 1px solid #BCBCBC;
}
#kunena .kpost-user-status {}
#kunena .kpost-user-rank {}
#kunena .kpost-user-points {}
#kunena .kpost-user-posts {}
#kunena .kpost-user-icons {}
#kunena .kpost-user-perstext {
	font-style:italic;
}

/* Post body */

#kunena .kpost-container {
	border-right: 1px solid #BCBCBC;
}
#kunena .kpost-body-attach {
	font-size: 9px;
}
#kunena .kpost-body-lastedit {
	font-size: 9px;
}
#kunena .kpost-body-editreason {
	font-size: 9px;
}
#kunena .kpost-body-sig {
	color: #999;
	border-top: 1px dotted #BFC3C6;
	border-bottom: 1px dotted #BFC3C6;
	font-size: 11px;
}

/* Attachments */

#kunena .kpost-body-attach {
	border: 1px solid #BCBCBC;
	background-color: #f9f9f9;
}
#kunena .kattach-title {
	font-size: 11px;
	font-weight: bold;
	background-color: #bcbcbc;
}
#kunena .kattach-details span {
	font-size: 11px;
}

/*---------- Pagination ------------- */

#kunena .kpage li {
	border: 0 none;
	font-size: 11px;
}
#kunena li.kpage-title {
	font-weight: bold;
}
#kunena .kpage a:link,
#kunena .kpage a:visited {
	color: #000;
	border: 1px solid #5388B4;
}
#kunena .kpage span,
#kunena .kpage a:hover {
	color: #fff;
	border: 1px solid #ccc;
	background-color: #5388B4;
}
#kunena .kpagination-topic .kpage li {
	font-size: 10px;
	line-height: 11px;
}
#kunena .kpagination-topic li.kpage-title {
	font-size: 10px;
}
/*---------- Buttons ------------- */

#kunena .kicon-button {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 11px;
	border: none;
}
#kunena a.kicon-button span span:hover {
	text-decoration: underline;
}
#kunena a.kicon-button:hover {
	color: #fff;
}
#kunena .kbuttonbar-post {
	border-top: 1px solid #bcbcbc;
}
/*---------- Filter Options ------------- */

#kunena ul.kfilter-options select {
	border: 1px solid #999999;
}

/*---------- Moderator Tools ------------- */
#ksection-modbox select,

#ktopics-modbox select {
	border: 1px solid #999;
}

/*---------- Profile ------------- */

#kunena .clrline {
	border-top-color: #BFC3C6;
}
#kunena .kblock.kflat {
	border-color: #BCBCBC;	
}
#kunena div.kmsgsignature {
	border-top-color: #BFC3C6;
	color: #999999;
}

/*---------- User list ------------- */

#kunena .kuserlist-checkbox {
	font-size: 10px;
}
/*---------- Tabs ------------- */

#kunena dl.tabs dt {
	border-left-color: #BFC3C6;
	border-right-color: #BFC3C6;
	border-top-color: #BFC3C6;
	background-color: #f0f0f0;
	color: #666;
}
#kunena dl.tabs dt.open {
	background-color: #F9F9F9;
	border-bottom-color: #F9F9F9;
	color: #000;
}
#kunena div.current {
	border-color: #BFC3C6;
}
#kunena dt.kprofile-modbtn {
	background-color:#999999 !important;
	color: #FFF !important;
}

/*---------- New Topic Form ------------- */

#kunena .kpostmessage select {
	border-color: #999;
}
#kunena .kpostmessage fieldset {
	background: #FFFFFF;
	border-color: #BCBCBC;
}
#kunena .kpost-message .invalid {
	background-color: #FFDDDD !important;
	border-color: red !important;
}
#kunena table.kblocktable {
	border-color: #BFC3C6;
}
#kunena img.kbbcode:hover {
	background-color: #e4e4e4;
}
#kunena div#kbbcode-size-options span:hover {
	background-color: #e4e4e4;
}
#kunena #kbbcode-toolbar li a:hover {
	background-color: #e4e4e4;
}
#kunena .kpostmessage .kpostbuttonset td,
#kunena .kpostmessage tr.krow2 .kpostbuttonset td {
	border-color: #BFC3C6;
}
#kunena .kpostmessage .kpostbuttonset .kposthint {
	background-color: #FFFFCC;
	border-color: #DDD5BF;
}
#kunena .kpostmessage .kposthint .kinputbox {
	background-color: #FFFFCC;
	border-color: #FFFFCC;
	padding: 0;
}
#kunena .kpostmessage .ktxtarea {
	border-color: #BFC3C6;
}

/*---------- Statistics ------------- */

#kunena #kstatistics-general .kstatistics-totals-col1 {
	border-left: none;
}
#kunena tr.ksth th.kname, 
#kunena tr.ksth th.kbar {
	background: #DDDDDD;
}

/*---------- Advanced Search ------------- */

#kunena #searchform {
	background: #F3F3F3;
}
#kunena #searchform fieldset {
	background: #FFFFFF;
	border-color: #BCBCBC;
}
#kunena #searchform .input {
	background-color: #FFFFFF;
	border-color: #BFC3C6;
	color: #000000;
}
#kunena #searchform .clrline {
	background-color: #FFFFFF;
	border-color: #BFC3C6;
}
#kunena #searchform legend {
	font-size: 1.1em;
}
#kunena #searchform .kpost-buttons {
	background-color: #FFFFFF;
	border-top-color: #BFC3C6;
}

/*---------- Manage Categories ------------- */

#kunena .kcategories .kcategory-row td {
	border-right-color: #CCCCCC;
}
#kunena .kcategories .kcategory-title h3 {
	color: #0066CC;
}
/*.kcategories .kcategory-row {
	border-top-color: #CCCCCC;
}*/
#kunena .kcategory-row th {
	background: #666;
}
#kunena .kcategory-row th a {
	font-size: 10px;
	color: #fff;
	text-decoration: none;
}
#kunena .kcategory-row th a:hover {
	color: #fff;
	text-decoration: underline;
}

/*---------- Display User Posts ------------- */

#kunena .kposts-body,
#kunena .kposts-message {
	border-color: #CCCCCC;
}

/*---------- Tooltips ------------- */

#kunena .tool-tip {
	background-color: #FFC;
	border-color: #D4D5AA;
}
#kunena .tool-title {
	font-size: 100%;
	font-weight: bold;
}
#kunena .tool-text {
	font-size: 100%;
}

/*---------- Edit Post ------------- */

/*---------- Moderate Topic ------------- */

#kunena .kmod-detailsbox .kpost-buttons {
	border-top-color: #BCBCBC;
}
#kunena .kmoderate-message {
	border-color: #BCBCBC;
}
#kunena .kmoderate-message h4 {
	font-weight: bold;
}

/*---------- Manage Subscribers ------------- */

#kunena .kcatsubscribers-list th {
	background-color: #DDDDDD;	
}
#kunena .kcatsubscribers-list td {
	border-color: #BCBCBC;
}
#ksection-subscribe {
	border-color: #BCBCBC;
}

/*---------- Footer ------------- */

#kunena #kcredit p {
	font-size: 10px;
	color: #999;
}

/*---------- Manage Subscriptions ------------- */

#kunena .kcategory-moderation {
	border-left-color: #CCCCCC;
}

/*---------- Display Tags ------------- */

/*---------- Create Category ------------- */

#kunena .kpostcategory-row,
#kunena .kpostmessage-row,
#kunena .keditprofile-row {
	border-bottom-color: #BFC3C6;
}
#kunena .ksubhead {
	background-color: #DDDDDD;
}

/*---------- General Statistics ------------- */

/*---------- Edit User ------------- */

#kunena .kedit-user-information-row {
	border-bottom-color: #BFC3C6;
}
#kunena .kedit-user-information-row .kform-label {
	width: 20%;
}
#kunena .kedit-user-information-row .kform-field {
	width: 73%;
}
#kunena #avatar_category_select {
	margin-bottom: 15px;
}

/* Deprecated
#kunena .ks {
	font-weight: normal;
}
*/

#kunena #kprofile-edit .kpost-buttons,
#kunena .kmod-userbox .kpost-buttons {
	border-color: #BFC3C6;
}

/*---------- Credits ------------- */

#kunena .kcredits-intro {
	border-color: #BFC3C6;
}
#kunena .kcredits-more {
	background-color: #F2F1EE;
	border-color: #BFC3C6;
}
#kunena .kcredits-language {
	border-color: #BFC3C6;
}