#Kunena
.externalToolBuilders/build.kunena.2.0.launch
src/components/com_kunena/template/**/params.ini
src/components/com_kunena/site/template/crypsis/css/kunena.css
src/components/com_kunena/template/crypsis/assets/js/markitup.editor.js
src/components/com_kunena/template/crypsisb3/assets/js/markitup.editor.js
src/components/com_kunena/template/blue_eagle5
src/media/kunena/avatars
src/media/kunena/cache
src/media/kunena/attachments/
src/media/cache/*

# Builds
build/tmp
releases
dist/*

# JS/CSS Build #
node_modules/
/build/assets_tmp
/scss-lint-report.xml

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# PHPStorm
.idea

# Sublime Text
*.sublime*

# Eclipse
.buildpath
.project
.settings

# Visual studio code
.vscode

# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~

# Phing
phing-latest.phar
RoboFile.ini

# Github pages and Jekyll files
/_site/
/Gemfile
/Gemfile.lock

# composer
composer.phar
vendor/*

# Test related files
tests/kunena*
tests/_output*
selenium-server-standalone.jar
codecept.phar
selenium.log
tests/cache
