#Kunena
.externalToolBuilders/build.kunena.2.0.launch
src/components/com_kunena/template/**/params.ini
src/components/com_kunena/site/template/crypsis/css/kunena.css
src/components/com_kunena/template/crypsis/assets/js/markitup.editor.js
src/components/com_kunena/template/crypsisb3/assets/js/markitup.editor.js
src/components/com_kunena/template/blue_eagle5
src/media/cache/*
src/media/kunena/avatars/resized/*
src/media/kunena/attachments/*
src/media/kunena/cache/*

# Builds
build/tmp
releases
dist/*

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
Desktop.ini

# PHPStorm
.idea

# Sublime Text
*.sublime*

# Eclipse
.buildpath
.project
.settings

# Temp files
*.tmp
*.bak
*.swp
*~.nib
*~

# Phing
phing-latest.phar
RoboFile.ini

# Github pages and Jekyll files
/_site/
/Gemfile
/Gemfile.lock

# composer
composer.phar
vendor/*

# Test related files
tests/kunena*
tests/_output*
selenium-server-standalone.jar
codecept.phar
selenium.log
tests/cache

src/media/kunena/avatars/users/

src/administrator/components/com_kunena/templates.xml

src/components/com_kunena/language/en-GB/en-GB.com_ajax.ini

src/components/com_kunena/language/en-GB/en-GB.com_config.ini

src/components/com_kunena/language/en-GB/en-GB.com_contact.ini

src/components/com_kunena/language/en-GB/en-GB.com_content.ini

src/components/com_kunena/language/en-GB/en-GB.com_finder.ini

src/components/com_kunena/language/en-GB/en-GB.com_mailto.ini

src/components/com_kunena/language/en-GB/en-GB.com_media.ini

src/components/com_kunena/language/en-GB/en-GB.com_messages.ini

src/components/com_kunena/language/en-GB/en-GB.com_newsfeeds.ini

src/components/com_kunena/language/en-GB/en-GB.com_privacy.ini

src/components/com_kunena/language/en-GB/en-GB.com_search.ini

src/components/com_kunena/language/en-GB/en-GB.com_tags.ini

src/components/com_kunena/language/en-GB/en-GB.com_users.ini

src/components/com_kunena/language/en-GB/en-GB.com_weblinks.ini

src/components/com_kunena/language/en-GB/en-GB.com_wrapper.ini

src/components/com_kunena/language/en-GB/en-GB.files_joomla.sys.ini

src/components/com_kunena/language/en-GB/en-GB.finder_cli.ini

src/components/com_kunena/language/en-GB/en-GB.ini

src/components/com_kunena/language/en-GB/en-GB.lib_fof.ini

src/components/com_kunena/language/en-GB/en-GB.lib_fof.sys.ini

src/components/com_kunena/language/en-GB/en-GB.lib_idna_convert.sys.ini

src/components/com_kunena/language/en-GB/en-GB.lib_joomla.ini

src/components/com_kunena/language/en-GB/en-GB.lib_joomla.sys.ini

src/components/com_kunena/language/en-GB/en-GB.lib_phpass.sys.ini

src/components/com_kunena/language/en-GB/en-GB.lib_phputf8.sys.ini

src/components/com_kunena/language/en-GB/en-GB.lib_simplepie.sys.ini

src/components/com_kunena/language/en-GB/en-GB.localise.php

src/components/com_kunena/language/en-GB/en-GB.mod_articles_archive.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_archive.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_categories.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_categories.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_category.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_category.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_latest.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_latest.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_news.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_news.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_popular.ini

src/components/com_kunena/language/en-GB/en-GB.mod_articles_popular.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_banners.ini

src/components/com_kunena/language/en-GB/en-GB.mod_banners.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_breadcrumbs.ini

src/components/com_kunena/language/en-GB/en-GB.mod_breadcrumbs.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_custom.ini

src/components/com_kunena/language/en-GB/en-GB.mod_custom.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_feed.ini

src/components/com_kunena/language/en-GB/en-GB.mod_feed.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_finder.ini

src/components/com_kunena/language/en-GB/en-GB.mod_finder.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_footer.ini

src/components/com_kunena/language/en-GB/en-GB.mod_footer.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_languages.ini

src/components/com_kunena/language/en-GB/en-GB.mod_languages.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_login.ini

src/components/com_kunena/language/en-GB/en-GB.mod_login.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_menu.ini

src/components/com_kunena/language/en-GB/en-GB.mod_menu.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_random_image.ini

src/components/com_kunena/language/en-GB/en-GB.mod_random_image.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_related_items.ini

src/components/com_kunena/language/en-GB/en-GB.mod_related_items.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_search.ini

src/components/com_kunena/language/en-GB/en-GB.mod_search.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_stats.ini

src/components/com_kunena/language/en-GB/en-GB.mod_stats.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_syndicate.ini

src/components/com_kunena/language/en-GB/en-GB.mod_syndicate.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_tags_popular.ini

src/components/com_kunena/language/en-GB/en-GB.mod_tags_popular.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_tags_similar.ini

src/components/com_kunena/language/en-GB/en-GB.mod_tags_similar.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_users_latest.ini

src/components/com_kunena/language/en-GB/en-GB.mod_users_latest.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_weblinks.ini

src/components/com_kunena/language/en-GB/en-GB.mod_weblinks.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_whosonline.ini

src/components/com_kunena/language/en-GB/en-GB.mod_whosonline.sys.ini

src/components/com_kunena/language/en-GB/en-GB.mod_wrapper.ini

src/components/com_kunena/language/en-GB/en-GB.mod_wrapper.sys.ini

src/components/com_kunena/language/en-GB/en-GB.tpl_beez3.ini

src/components/com_kunena/language/en-GB/en-GB.tpl_beez3.sys.ini

src/components/com_kunena/language/en-GB/en-GB.tpl_protostar.ini

src/components/com_kunena/language/en-GB/en-GB.tpl_protostar.sys.ini

src/components/com_kunena/language/en-GB/en-GB.xml

src/components/com_kunena/language/en-GB/install.xml
