sudo: true
language: php
dist: trusty

matrix:
  fast_finish: true
  include:
    - php: 5.6
      sudo: true
      addons:
        firefox: "55.0.2"
    - php: 7.0
      sudo: true
      addons:
        firefox: "55.0.2"
    - php: 7.1
      sudo: true
      addons:
        firefox: "55.0.2"
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # Until the next stable image update sometime after 2016-12-01
      addons:
        apt:
          packages:
            - mysql-server-5.6
            - mysql-client-core-5.6
            - mysql-client-5.6
      services:
        - mysql
  allow_failures:
    - php: hhvm

before_script:
# Forcing localhost in hosts file
- sudo sed -i '1s/^/127.0.0.1 localhost\n/' /etc/hosts
- sudo apt-get update -qq
- sudo apt-get install -y --force-yes apache2 libapache2-mod-fastcgi > /dev/null
- sudo mkdir $(pwd)/.run
- chmod a+x tests/travis-php-fpm.sh
- sudo ./tests/travis-php-fpm.sh $USER $(phpenv version-name)
- sudo a2enmod rewrite actions fastcgi alias
- echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
- ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
- sudo cp -f tests/travis-ci-apache.conf /etc/apache2/sites-available/default
- sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/default
- sudo sed -e "s?%PHPVERSION%?${TRAVIS_PHP_VERSION:0:1}?g" --in-place /etc/apache2/sites-available/default
- git submodule update --init --recursive
- sudo service apache2 restart
# Xvfb
- "export DISPLAY=:99.0"
- "sh -e /etc/init.d/xvfb start"
- sleep 3 # give xvfb some time to start
# Fluxbox
- sudo apt-get install fluxbox -y --force-yes
- fluxbox &
- sleep 3 # give fluxbox some time to start
# Install Chrome
- wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
- sudo dpkg -i google-chrome*.deb
- export CHROME_BIN=/usr/bin/google-chrome
# Composer
- composer install
- git clone -b master https://github.com/joomla/coding-standards.git Joomla
# vendor/bin/robo run:checker phpcs

script:
# Build
- vendor/bin/phing -f build/phing/build.xml
- mv tests/acceptance.suite.dist.yml tests/acceptance.suite.yml
- vendor/bin/robo run:tests --use-htaccess
