/**
* @version $Id: $
* Kunena Component
* @package Kunena

**/

@CHARSET "UTF-8";

div.header {
	padding-left:56px !important;
	font-size:28px !important;
}
div.header span {
	color:#334B6A !important;
	font-size:28px !important;
}

/** Custom title icons **/
.icon-48-kunena 
{
	background-image:url( ../icons/kunena.png) !important;
}

.icon-48-config
{
	background-image: url( ../icons/config.png );
}

.icon-48-forums
{
	background-image: url( ../icons/forums.png );
}

.icon-48-users
{
	background-image: url( ../icons/users.png );
}

.icon-48-smilies
{
	background-image: url( ../icons/smilies.png );
}

.icon-48-ranks
{
	background-image: url( ../icons/ranks.png );
}

.icon-48-templates
{
	background-image: url( ../icons/templates.png );
}

.icon-48-queue
{
	background-image: url( ../icons/queue.png );
}

.icon-48-tools
{
	background-image: url( ../icons/tools.png );
}

.icon-48-plugins
{
	background-image: url( ../icons/plugins.png );
}

.icon-48-about
{
	background-image: url( ../icons/about.png );
}

