.ksection {
	border:1px solid #d1d1d1;
	border-bottom:1px solid #e1e1e1;
	height:43px;
	background:url('images.png') repeat-x 0 0;
	cursor:pointer;
}
.ksection span.ktext{
	display:block;
	background:url('images.png') repeat-x 0 -43px;
	margin:7px 0 7px 10px;
	padding:0 0 0 14px;
	float:left;
	width: 200px;
	border:1px solid #fff;
	height:27px;
	line-height:27px;
	font-size:12px;
	color:#fff;
	float:left;
	font-weight:bold;
	text-transform:uppercase;
	text-shadow: 1px 1px #000;
	border-radius: 5px;
}
.ksection span.kbutton{
	display:block;
	background:url('images.png') repeat-x 0 -82px;
	margin:16px 16px 0 0;
	float:right;
	width: 14px;
	height:10px;
	text-indent:-999em;
}
.ksection.active span.kbutton{
	background-position:0 -72px;
}
.ksection:hover span.kbutton{
	background-position:14px -82px;
}
.koptions{
	border-left:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
}
td.paramlist_key {
	padding:5px !important;
	width:340px !important;
	font-size:13px;
	background: #fafafa !important;
	border-right: 1px solid #eee !important;
	border-bottom: 1px solid #eee !important;
}
td.paramlist_value input.text_area {
	width:150px;
	background: #f4f4f4; /* Old browsers */
   border-radius: 3px;
	padding:2px;
	border:1px solid #ddd;
	color:#000;
	cursor:default;
	font-size:14px;
	text-shadow:1px 1px #FFFFFF;
}
td.paramlist_value select.inputbox {
	background: #f4f4f4;
	border:1px solid #ddd;
	border-radius: 3px;
	color:#555555;
	cursor:default;
	font-size:14px;
}
