<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE phpunit>
<phpunit
	bootstrap="bootstrap.php"
	colors="false"
	stopOnFailure="false"
	testdox="true"
	verbose="true"
	backupStaticAttributes="false"
	backupGlobals="false">
	<testsuite name="AllTests">
		<directory>suite</directory>
	</testsuite>

</phpunit>
