@charset "utf-8";

/* INTERNET EXPLORER ALL VERSION
-------------------------------------------------------------------------- */

/*---------- Advanced Search ------------- */
#searchform, #searchform .clrline {
	zoom: 1;
}
#searchform FIELDSET {
    position: relative;	
}
#searchform LEGEND {
	position: absolute;
	top: -0.7em;
	left: .2em;
}
.kfile-input { filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); }
.kavatar-lg img {
	margin-top: expression((100-parseInt(offsetHeight)/2)<0 ? '0' : 100-(parseInt(offsetHeight)/2) +'px');
}