/* Kunena Search CSS*/

form#ksearchform { white-space: nowrap; }

fieldset.kfieldset-search { 
	border:0 none !important;
	margin:0 !important;
	padding:0 !important;
	background-color: transparent !important;
}

legend.klegend-search, 
fieldset.kfieldset-search .ksearchlabel { 
	display:none; 
	text-indent: -9999em;
	margin:0 !important;
	padding:0 !important;
}
