<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE config>
<config>
	<fieldset name="advanced">
		<field name="DefaultCategoryicon" type="text" default="icon-folder" label="COM_KUNENA_TEMPLATE_DEFAULT_ICON" description="COM_KUNENA_TEMPLATE_DEFAULT_ICON_DESC"/>
		<field name="buttonIconset" type="list" default="default" label="COM_KUNENA_TEMPLATE_BUTTON_SET" description="COM_KUNENA_TEMPLATE_BUTTON_SET_DESC">
			<option value="default">COM_KUNENA_TEMPLATE_DEFAULT</option>
			<option value="bluebird">COM_KUNENA_TEMPLATE_BUTTON_SET_BLUEBIRD</option>
			<option value="graybird">COM_KUNENA_TEMPLATE_BUTTON_SET_GRAYBIRD</option>
			<option value="blackbird">COM_KUNENA_TEMPLATE_BUTTON_SET_BLACKBIRD</option>
			<option value="whitebird">COM_KUNENA_TEMPLATE_BUTTON_SET_WHITEBIRD</option>
		</field>
		<field name="profileIconset" type="list" default="default" label="COM_KUNENA_TEMPLATE_PROFILE_ICON_SET" description="COM_KUNENA_TEMPLATE_PROFILE_ICON_SET_DESC">
			<option value="default">COM_KUNENA_TEMPLATE_DEFAULT</option>
		</field>
		<field name="editorIconset" type="list" default="default" label="COM_KUNENA_TEMPLATE_EDITOR_ICON_SET" description="COM_KUNENA_TEMPLATE_EDITOR_ICON_SET_DESC">
			<option value="default">COM_KUNENA_TEMPLATE_DEFAULT</option>
		</field>
		<field name="lightboxColor" type="list" default="white" label="COM_KUNENA_TEMPLATE_LIGHTBOXCOLOR_COLOR" description="COM_KUNENA_TEMPLATE_LIGHTBOXCOLOR_DESC">
			<option value="white">COM_KUNENA_TEMPLATE_LIGHTBOXCOLOR_WHITE</option>
			<option value="black">COM_KUNENA_TEMPLATE_LIGHTBOXCOLOR_BLACK</option>
		</field>
		<field name="SubjectLengthMessage" type="text" default="80" label="COM_KUNENA_TEMPLATE_SUBJECT_LENGTH_MESSAGE_LENGTH" description="COM_KUNENA_TEMPLATE_SUBJECT_LENGTH_MESSAGE_LENGTH_DESC"/>
	</fieldset>

	<fieldset name="features">
		<field name="displayMenu" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_MENU" description="COM_KUNENA_TEMPLATE_DISPLAY_MENU_DESC">
			<option value="0">COM_KUNENA_NO</option>
			<option value="1">COM_KUNENA_YES</option>
		</field>
		<field name="avatarPosition" type="list" default="left" label="COM_KUNENA_TEMPLATE_PROFILE_POSITION" description="COM_KUNENA_TEMPLATE_PROFILEPOSITION_DESC">
			<option value="left">COM_KUNENA_TEMPLATE_LEFT</option>
			<option value="right">COM_KUNENA_TEMPLATE_RIGHT</option>
			<option value="top">COM_KUNENA_TEMPLATE_TOP</option>
			<option value="bottom">COM_KUNENA_TEMPLATE_BOTTOM</option>
		</field>
		<field name="formRecover" type="list" default="0" label="COM_KUNENA_TEMPLATE_RECOVER" description="COM_KUNENA_TEMPLATE_RECOVER_DESC">
			<option value="0">COM_KUNENA_NO</option>
			<option value="1">COM_KUNENA_YES</option>
		</field>
	</fieldset>

	<fieldset name="avatar">
		<field name="templatebyText" default=""/>
		<field name="templatebyName"  default=""/>
		<field name="templatebyLink"  default=""/>
		<!-- Required avatar sizes -->
		<field name="avatarSizeXThumb"  default="36"/>
		<field name="avatarSizeYThumb"  default="36"/>
		<field name="avatarSizeXWelcome"  default="72"/>
		<field name="avatarSizeYWelcome"  default="72"/>
		<field name="avatarSizeXList"  default="36"/>
		<field name="avatarSizeYList"  default="36"/>
		<field name="avatarSizeXPost"  default="144"/>
		<field name="avatarSizeYPost"  default="144"/>
		<field name="avatarSizeXProfile"  default="200"/>
		<field name="avatarSizeYProfile"  default="200"/>
	</fieldset>
</config>
