<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE config>
<config>
    <fieldset name="COM_KUNENA_TEMPLATE_TAB_ADVANCED">
        <field name="DefaultCategoryicon" type="text" default="" label="COM_KUNENA_TEMPLATE_DEFAULT_ICON"
               description="COM_KUNENA_TEMPLATE_DEFAULT_ICON_DESC"/>
        <field name="profileIconset" type="list" default="default" label="COM_KUNENA_TEMPLATE_PROFILE_ICON_SET"
               description="COM_KUNENA_TEMPLATE_PROFILE_ICON_SET_DESC">
            <option value="default">COM_KUNENA_TEMPLATE_DEFAULT</option>
        </field>
        <field name="DefaultIconset" type="text" default="default" label="COM_KUNENA_TEMPLATE_ICON_SET"
               description="COM_KUNENA_TEMPLATE_ICON_SET_DESC"/>
        <field name="editorIconset" type="list" default="default" label="COM_KUNENA_TEMPLATE_EDITOR_ICON_SET"
               description="COM_KUNENA_TEMPLATE_EDITOR_ICON_SET_DESC">
            <option value="default">COM_KUNENA_TEMPLATE_DEFAULT</option>
        </field>
        <field name="borderless" type="list" default="1" label="COM_KUNENA_TEMPLATE_BORDERLESS"
               description="COM_KUNENA_TEMPLATE_BORDERLESS_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="tooltips" type="list" default="1" label="COM_KUNENA_TEMPLATE_LOAD_TOOLTIPS"
               description="COM_KUNENA_TEMPLATE_LOAD_TOOLTIPS_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="SubjectLengthMessage" type="text" default="80"
               label="COM_KUNENA_TEMPLATE_SUBJECT_LENGTH_MESSAGE_LENGTH"
               description="COM_KUNENA_TEMPLATE_SUBJECT_LENGTH_MESSAGE_LENGTH_DESC"/>
        <field name="fullactions" type="list" default="1" label="COM_KUNENA_TEMPLATE_FULLACTIONS"
               description="COM_KUNENA_TEMPLATE_FULLACTIONS_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="quick" type="list" default="0" label="COM_KUNENA_TEMPLATE_QUICKREPLY"
               description="COM_KUNENA_TEMPLATE_QUICKREPLY_DESC">
            <option value="0">COM_KUNENA_TEMPLATE_DEFAULT</option>
            <option value="1">COM_KUNENA_TEMPLATE_QUICKREPLY_MODAL</option>
            <option value="2">COM_KUNENA_TEMPLATE_QUICKREPLY_ALWAYS</option>
        </field>
    </fieldset>

    <fieldset name="COM_KUNENA_TEMPLATE_TAB_FEATURES">
        <field name="displayMenu" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_MENU"
               description="COM_KUNENA_TEMPLATE_DISPLAY_MENU_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="displayDropdownMenu" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_DROPDOWNMENU"
               description="COM_KUNENA_TEMPLATE_DISPLAY_DROPDOWNMENU_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="displayDropdownContent" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_DROPDOWNCONTENT"
               description="COM_KUNENA_TEMPLATE_DISPLAY_DROPDOWNCONTENT_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="displayModule" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_MODULE"
               description="COM_KUNENA_TEMPLATE_DISPLAY_MODULE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="displayBreadcrumb" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_BREADCRUMB"
               description="COM_KUNENA_TEMPLATE_DISPLAY_BREADCRUMB_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="displayAnnouncement" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_ANNOUNCEMENT"
               description="COM_KUNENA_TEMPLATE_DISPLAY_ANNOUNCEMENT_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="displayFooter" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_FOOTER"
               description="COM_KUNENA_TEMPLATE_DISPLAY_FOOTER_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="avatarPosition" type="list" default="left" label="COM_KUNENA_TEMPLATE_PROFILE_POSITION"
               description="COM_KUNENA_TEMPLATE_PROFILEPOSITION_DESC">
            <option value="left">COM_KUNENA_TEMPLATE_LEFT</option>
            <option value="right">COM_KUNENA_TEMPLATE_RIGHT</option>
            <option value="top">COM_KUNENA_TEMPLATE_TOP</option>
            <option value="bottom">COM_KUNENA_TEMPLATE_BOTTOM</option>
        </field>
        <field name="formRecover" type="list" default="0" label="COM_KUNENA_TEMPLATE_RECOVER"
               description="COM_KUNENA_TEMPLATE_RECOVER_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="labels" type="list" default="0" label="COM_KUNENA_TEMPLATE_LABELS"
               description="COM_KUNENA_TEMPLATE_LABELS_DESC">
            <option value="0">COM_KUNENA_DISABLED</option>
            <option value="1">COM_KUNENA_ENABLED_TOPIC</option>
            <option value="2">COM_KUNENA_ENABLED_LABEL</option>
        </field>
        <field name="whoisonlineName" type="list" default="default" label="COM_KUNENA_TEMPLATE_WHOISONLINE_NAME"
               description="COM_KUNENA_TEMPLATE_WHOISONLINE_NAME_DESC">
            <option value="default">COM_KUNENA_TEMPLATE_WHOISONLINE_NAME_NAME</option>
            <option value="avatar">COM_KUNENA_TEMPLATE_WHOISONLINE_NAME_AVATAR</option>
            <option value="both">COM_KUNENA_TEMPLATE_WHOISONLINE_NAME_BOTH</option>
        </field>
        <field name="avatarType" type="list" default="rounded" label="COM_KUNENA_TEMPLATE_PROFILE_TYPE"
               description="COM_KUNENA_TEMPLATE_PROFILETYPE_DESC">
            <option value="rounded">COM_KUNENA_TEMPLATE_ROUNDED</option>
            <option value="rounded-circle">COM_KUNENA_TEMPLATE_CIRCLE</option>
            <option value="img-thumbnail">COM_KUNENA_TEMPLATE_THUMBNAIL</option>
            <option value="none">COM_KUNENA_TEMPLATE_NONE</option>
        </field>
        <field name="topicicontype" type="list" default="fa" label="COM_KUNENA_A_TEMPLATE_MANAGER_TOPICICONS"
               description="COM_KUNENA_A_TEMPLATE_MANAGER_TOPICICONS_DESC">
            <option value="fa">COM_KUNENA_TEMPLATE_FONTAWESOME</option>
            <option value="image">COM_KUNENA_TEMPLATE_IMAGE_LEGACY</option>
        </field>
        <field name="fontawesome" type="list" default="0" label="COM_KUNENA_TEMPLATE_DISPLAY_FONTAWESOME"
               description="COM_KUNENA_TEMPLATE_DISPLAY_FONTAWESOME_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="fontawesome_layer_v4" type="list" default="0" label="COM_KUNENA_TEMPLATE_DISPLAY_FONTAWESOME_COMPATIBILITY_LAYER_V4"
               description="COM_KUNENA_TEMPLATE_DISPLAY_FONTAWESOME_COMPATIBILITY_LAYER_V4_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="icons" type="list" default="0" label="COM_KUNENA_TEMPLATE_LOAD_EXTERNAL_ICONS"
               description="COM_KUNENA_TEMPLATE_LOAD_EXTERNAL_ICONS_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="socialshare" type="list" default="0" label="COM_KUNENA_TEMPLATE_DISPLAY_SOCIALSHARE"
               description="COM_KUNENA_TEMPLATE_DISPLAY_SOCIALSHARE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
            <option value="2">COM_KUNENA_TEMPLATE_TAG</option>
        </field>
        <field name="socialsharetag" type="text" default="" label="COM_KUNENA_TEMPLATE_DISPLAY_SOCIALSHARETAG"
               description="COM_KUNENA_TEMPLATE_DISPLAY_SOCIALSHARETAG_DESC"/>
        <field name="socialtheme" type="list" default="classic" label="COM_KUNENA_TEMPLATE_DISPLAY_SOCIALTHEME"
               description="COM_KUNENA_TEMPLATE_DISPLAY_SOCIALTHEME_DESC">
            <option value="classic">COM_KUNENA_CLASSIC</option>
            <option value="flat">COM_KUNENA_FLAT</option>
            <option value="minima">COM_KUNENA_MINIMA</option>
            <option value="plain">COM_KUNENA_PLAIN</option>
        </field>
        <field name="optional_username" type="list" default="0" label="COM_KUNENA_TEMPLATE_DISPLAY_OPTIONAL_USERNAME"
               description="COM_KUNENA_TEMPLATE_DISPLAY_OPTIONAL_USERNAME_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_USERNAME</option>
            <option value="2">COM_KUNENA_REALNAME</option>
        </field>
        <field name="writeaccess" type="list" default="0" label="COM_KUNENA_TEMPLATE_DISPLAY_WRITEACCESS"
               description="COM_KUNENA_TEMPLATE_DISPLAY_WRITEACCESS_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="localstorage" type="list" default="0" label="COM_KUNENA_TEMPLATE_LOCALSTORAGE"
               description="COM_KUNENA_TEMPLATE_LOCALSTORAGE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
    </fieldset>

    <fieldset name="COM_KUNENA_TEMPLATE_TAB_COLORS">
        <field name="IconColor" type="color" default="inherit" label="COM_KUNENA_TEMPLATE_COLORS_ICONS_COLORS"
               description="COM_KUNENA_TEMPLATE_COLORS_ICONS_COLORS_DESC"/>
        <field name="IconColorNew" type="color" default="#48a348" label="COM_KUNENA_TEMPLATE_COLORS_ICONS_COLORS_NEW"
               description="COM_KUNENA_TEMPLATE_COLORS_ICONS_COLORS_NEW_DESC"/>
    </fieldset>

    <fieldset name="COM_KUNENA_TEMPLATE_TAB_BBCODE">
         <field name="editor" type="list" default="0" label="COM_KUNENA_TEMPLATE_EDITOR_TO_USE"
               description="COM_KUNENA_TEMPLATE_EDITOR_TO_USE_DESC">
            <option value="ckeditor">COM_KUNENA_TEMPLATE_EDITOR_TO_USE_CKEDITOR</option>
            <option value="bbcode">COM_KUNENA_TEMPLATE_EDITOR_TO_USE_BBCODE</option>
            <!-- <option value="wysibb">COM_KUNENA_TEMPLATE_EDITOR_TO_USE_WYSIBB</option>-->
         </field>
         <field name="Bold" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_BOLD"
               description="COM_KUNENA_TEMPLATE_DISPLAY_BOLD_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Italic" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_ITALIC"
               description="COM_KUNENA_TEMPLATE_DISPLAY_ITALIC_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Underline" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_UNDERLINE"
               description="COM_KUNENA_TEMPLATE_DISPLAY_UNDERLINE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
         <field name="Strike" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_STRIKETHROUGH"
               description="COM_KUNENA_TEMPLATE_DISPLAY_STRIKETHROUGH_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Subscript" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_SUBSCRIPT"
               description="COM_KUNENA_TEMPLATE_DISPLAY_SUBSCRIPT_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Superscript" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_SUPERSCRIPT"
               description="COM_KUNENA_TEMPLATE_DISPLAY_SUPERSCRIPT_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="RemoveFormat" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_REMOVEFORMAT"
               description="COM_KUNENA_TEMPLATE_DISPLAY_REMOVEFORMAT_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="BulletedList" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_BULLETS"
               description="COM_KUNENA_TEMPLATE_DISPLAY_BULLETS_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="NumberedList" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_NUMBERING"
               description="COM_KUNENA_TEMPLATE_DISPLAY_NUMBERING_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Blockquote" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_QUOTE"
               description="COM_KUNENA_TEMPLATE_DISPLAY_QUOTE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="JustifyLeft" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_ALIGNLEFT"
               description="COM_KUNENA_TEMPLATE_DISPLAY_ALIGNLEFT_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="JustifyCenter" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_CENTER"
               description="COM_KUNENA_TEMPLATE_DISPLAY_CENTER_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="JustifyRight" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_ALIGNRIGHT"
               description="COM_KUNENA_TEMPLATE_DISPLAY_ALIGNRIGHT_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="JustifyBlock" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_JUSTIFIYTEXT"
               description="COM_KUNENA_TEMPLATE_DISPLAY_JUSTIFIYTEXT_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
       <field name="Link_Unlink" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_LINK"
               description="COM_KUNENA_TEMPLATE_DISPLAY_LINK_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Image" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_PICTURE"
               description="COM_KUNENA_TEMPLATE_DISPLAY_PICTURE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Smiley" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_EMOTICONS"
               description="COM_KUNENA_TEMPLATE_DISPLAY_EMOTICONS_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Confidential" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_CONFIDENTIAL"
               description="COM_KUNENA_TEMPLATE_DISPLAY_CONFIDENTIAL_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Hidetext" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_HIDE"
               description="COM_KUNENA_TEMPLATE_DISPLAY_HIDE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Spoiler" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_SPOILER"
               description="COM_KUNENA_TEMPLATE_DISPLAY_SPOILER_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Code" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_CODE"
               description="COM_KUNENA_TEMPLATE_DISPLAY_CODE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Ebay" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_EBAY"
               description="COM_KUNENA_TEMPLATE_DISPLAY_EBAY_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Twitter" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_TWITTER"
               description="COM_KUNENA_TEMPLATE_DISPLAY_TWITTER_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Instagram" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_INSTAGRAM"
               description="COM_KUNENA_TEMPLATE_DISPLAY_INSTAGRAM_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Soundcloud" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_SOUNDCLOUD"
               description="COM_KUNENA_TEMPLATE_DISPLAY_SOUNDCLOUD_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="FontSize" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_FONTSIZE"
               description="COM_KUNENA_TEMPLATE_DISPLAY_FONTSIZE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="TextColor" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_TEXTCOLOR"
               description="COM_KUNENA_TEMPLATE_DISPLAY_TEXTCOLOR_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Maximize" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_MAXIMIZE"
               description="COM_KUNENA_TEMPLATE_DISPLAY_MAXIMIZE_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>Maximize
        <field name="Map" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_MAPS"
               description="COM_KUNENA_TEMPLATE_DISPLAY_MAPS_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="Video" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_VIDEO"
               description="COM_KUNENA_TEMPLATE_DISPLAY_VIDEO_DESC">
            <option value="0">COM_KUNENA_NO</option>
            <option value="1">COM_KUNENA_YES</option>
        </field>
        <field name="ckeditorParams" type="hidden" default=""/>
        <field name="wysibbParams" type="hidden" default=""/>
        <field name="nameskinckeditor" type="text" default="" label="COM_KUNENA_TEMPLATE_NAME_OF_SKIN_CKEDITOR"
               description="COM_KUNENA_TEMPLATE_NAME_OF_SKIN_CKEDITOR_DESC"/>
        <field name="ckeditorcustomprefixconfigfile" type="text" default="" label="COM_KUNENA_TEMPLATE_NAME_OF_PREFIX_FOR_CUSTOM_CKEDITOR_CONFIG_FILE"
               description="COM_KUNENA_TEMPLATE_NAME_OF_PREFIX_FOR_CUSTOM_CKEDITOR_CONFIG_FILE_DESC"/>
    </fieldset>

    <fieldset name="COM_KUNENA_TEMPLATE_TAB_AVATAR">
        <field name="avatarSizeX" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_DESC" default="40"/>
        <field name="avatarSizeY" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_DESC" default="90"/>
        <!-- Required avatar sizes -->
        <field name="avatarSizeXThumb" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_THUMB_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_THUMB_DESC" default="36"/>
        <field name="avatarSizeYThumb" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_THUMB_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_THUMB_DESC" default="36"/>
        <field name="avatarSizeXWelcome" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_WELCOME_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_WELCOME_DESC" default="72"/>
        <field name="avatarSizeYWelcome" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_WELCOME_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_WELCOME_DESC" default="72"/>
        <field name="avatarSizeXList" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_LIST_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_LIST_DESC" default="36"/>
        <field name="avatarSizeYList" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_LIST_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_LIST_DESC" default="36"/>
        <field name="avatarSizeXPost" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_POST_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_POST_DESC" default="144"/>
        <field name="avatarSizeYPost" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_POST_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_POST_DESC" default="144"/>
        <field name="avatarSizeXProfile" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_PROFILE_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_X_PROFILE_DESC" default="200"/>
        <field name="avatarSizeYProfile" label="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_PROFILE_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_SIZE_Y_PROFILE_DESC" default="200"/>
    </fieldset>

    <fieldset name="template">
        <field name="templatebyText" label="COM_KUNENA_TEMPLATE_AVATAR_TEXT_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_TEXT_DESC" default=""/>
        <field name="templatebyName" label="COM_KUNENA_TEMPLATE_AVATAR_NAME_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_TEXT_DESC" default=""/>
        <field name="templatebyLink" label="COM_KUNENA_TEMPLATE_AVATAR_LINK_LABEL"
               description="COM_KUNENA_TEMPLATE_AVATAR_TEXT_DESC" default=""/>
    </fieldset>
</config>
