@charset "utf-8";

/*  Kunena 2.0 StyleSheet
    --------------------------------------------------------------------
	 Style name:	Orao
	 Copyright 2011 TemplateKunena.com ( http://www.templatekunena.com/ )
    --------------------------------------------------------------------
*/
#kunena ul.kposthead li h3 {
    font-size: 120%;
}
#kunena li.header dt a {
    text-transform: uppercase;
}

#kunena .krss-icon {
    display: block;
    height: 12px;
    margin-top: 2px;
    width: 12px;
}
#kunena .kmarkread-icon {
    display: block;
    height: 12px;
    margin-top: 2px;
    width: 12px;
}
#kunena .ksubs-icon {
    display: block;
    height: 12px;
    margin-top: 2px;
    width: 12px;
}

#kunena dl.caticon-stats ul {
	line-height: 1.5em;
}

#kunena li.header dl.cat_1,
#kunena li.header dl.cat_4 {
	min-height: 20px;
	background-position: 2px center;
	background-repeat: no-repeat;
}
#kunena span.catdesc {
	clear:both;
	line-height:1.3em;
	width:95%;
	display: block;
	font-size: 90%;
}
#kunena span.cattitle {
	width:100%;
}
#kunena span.tkthead-moderators {
	clear:both;
	line-height:1.3em;
	width:95%;
	display: block;
}
#kunena span.tkalert {
	clear:both;
	line-height:1.3em;
	width:95%;
	display: block;
}

#kunena dt.catname {
	padding: 2px 0;
}
#kunena div.tksection-desc {
	padding: 5px;
	margin:0;
	overflow: auto;
}
#kunena span.tkchild-title {
	text-transform: uppercase;
	display: block;
	border-top-style: dotted;
	border-top-width: 1px;
	margin-top: 5px;
}
#kunena span.tkchild-name {
	display: block;
}
#kunena span.tkchild-name {
	display: block;
}
#kunena span.tkchild-column-0 { white-space:nowrap;display:inline-block;}
#kunena span.tkchild-column-1 { width: 98%;}
#kunena span.tkchild-column-2 { width: 48%;}
#kunena span.tkchild-column-3 { width: 32%;}
#kunena span.tkchild-column-4 { width: 22%;}

#kunena span.tk-latestpost {
	background-repeat: no-repeat;
	background-color: transparent;
}
#kunena div.tk-cat-clear {
	background-image: none !important;
}
#kunena div.tk-cat-clear ul.topiclist dl.icon {
	min-height:20px !important;
}
#kunena div.tk-cat-clear ul.topiclist dl.icon dd.markread {
	width:15% !important;
	border: none;
}

#kunena div.tk-catsubs dt {
	width:46% !important;
}
#kunena dd.tk-selecttime form {
	margin:0 !important;
}
