@charset "utf-8";

/*  Kunena 2.0 StyleSheet
*	--------------------------------------------------------------------
*	 Style name:	Orao
*	 Copyright 2011 TemplateKunena.com ( http://www.templatekunena.com/ )
*	--------------------------------------------------------------------
*/

#kunena .divider {
	background-color:transparent;
}

/* COLOR ADMINISTRATOR AND MODERATOR
----------------------------------------------------------------------------------------------- */

#kunena {
	background-color: transparent;
}

#kunena .kmessage-thankyou {
	background-color: #eee;
	padding:3px;
}
}

#kunena .kwho-admin {
	background-color: transparent;
	font-weight: normal !important;
}

#kunena .kwho-globalmoderator {
	background-color: transparent;
	font-weight: normal !important;
}

#kunena .kwho-moderator {
	background-color: transparent;
	font-weight: normal !important;
}

#kunena .kwho-user {
	background-color: transparent;
	font-weight: normal !important;
}

#kunena .kwho-guest {
	background-color: transparent;
	font-weight: normal !important;
}

#kunena .kwho-banned {
	background-color: transparent;
	font-weight: normal !important;
}

#kunena .kwho-banned-red {
	background-color: transparent;
	font-weight: normal !important;
}

/*
			CREDITS
-------------------------------------- */
#kunena table#kforumcredits {
	background-color: #f0f0f0;
	
}

#kunena .kteam {
	border-top-color: #BFC3C6;
}

#kunena .kteammember {
	border-bottom-color: #BFC3C6;
}
#kunena table#kforumcredits {
	background-color: #f0f0f0;
}
#kunena td.kcreditsdesc	{
	background: #ffffff;
}


/* Mootools Autocompleter css classes
-------------------------------------- */

ul.autocompleter-choices {
	border-color: #7c7c7c;
	border-left-color: #c3c3c3;
	border-right-color: #c3c3c3;
	border-bottom-color:	#ddd;
	background-color: #fff;
}

ul.autocompleter-choices li.kautocompleter-selected {
	background-color:		#444;
	color:					#fff;
}

ul.autocompleter-choices li.kautocompleter-selected span.kautocompleter-queried {
	color:#9FCFFF;
	background-color: transparent;
}

/* SLIDERS
-------------------------------------- */

#kunena span#kprofilebox_status {
	background-color: #5388B4;
}

#kunena #kprofilebox_toggle {
	border-color: #FFFFFF;
}

/* for form-validation
-------------------------------------- */
	
#kunena #kpost-message .invalid {
	border-color: red !important;
}

/* Online Indicator */
#kunena span.buttononline-yes {
	color: #FFFFFF;
}

#kunena span.buttononline-no {
	color: #FFFFFF;
}

#kunena .kubutton {
	background-color: #FFFFFF;
	border-color: #e6e6e6;
}

#kunena .kubutton:hover {
	background-color: #e6e6e6;
	border-color: #e6e6e6;
}

/* 				POSTING
----------------------------------------*/

#kunena .kfile-input-button {
	top: 0px;
}

#kunena #kbbcode-filelist .file-invalid {
	color: #514721;
}
#kunena #kbbcode-filelist .file-invalid span {
	background-color: #fff6bf;
}
#kunena #kbbcode-filelist .file .file-size {
	color: #666;
}
#kunena #kbbcode-filelist .file .file-error {
	color: #8a1f11;
}

/*
				POST HISTORY
-------------------------------------------------------------------- */

#kunena li.row-history:hover {
	background-color: none;
}
/*
				MENU
-------------------------------------------------------------------- */

/*
				VIEW
-------------------------------------------------------------------- */

#kunena .postprofile-right strong {
	color: #000000;
	background: transparent;
}

#kunena .postprofile-left strong {
	color: #000000;
	background: transparent;
}

#kunena .postprofile-top strong {
	color: #000000;
	background: transparent;
}

#kunena .postprofile-bot strong {
	color: #000000;
	background: transparent;
}
#kunena div.msgattach {
	border-color: #e1e1e1;
}
#kunena dd.view-ranktitle span.rank-left span {
	color:black;
}

#kunena div.msgcontent div.highlight pre.php {
	background-color: #f0f0f0;
	border-left-color: #CCCCCC;
}
#kunena div.msgcontent div.highlight pre.css {
	background-color: #f2ffff;
	border-left-color: #6495ED;
}
#kunena div.postbody div.highlight pre.ini {
	background-color: #FFE8DF;
	border-left-color: #FFB295;
}
#kunena div.postbody div.highlight pre.html4strict {
	background-color: #EFDFF7;
	border-left-color: #CE9CE7;
}
#kunena div.postbody div.highlight pre.xml {
	background-color: #D7E7D7;
	border-left-color: #8FBC8F;
}
.kgooglemap {
	background-color:#E5E3DF;
}

/* EDITOR
-------------------------------------------------------- */

img.k-bbcode:hover {
	background-color: #e4e4e4;
}

div#kbbcode-size-options span:hover {
	background-color: #e4e4e4;
}

#kbbcode-filelist .file-invalid {
	color: #514721;
}

#kbbcode-filelist .file .file-error {
	color: #8a1f11;
}

#kbbcode-filelist .file .file-size {
	color: #666;
}

div#k-color_palette,
div#link,
div#image,
div#video {
	border-bottom-color: #BFC3C6;
}

#kbbcode-filelist .file-invalid span {
	background-color: #fff6bf;
}

#kunena #kunena_post_result div {
	border-color: #999999;
}


/* FORUM PLUGINS
-------------------------------------------------------- */

#kunena img.online_admin {
	border-color: #A95618;
}
#kunena img.online_globalmoderator {
	border-color: #008000;
}
#kunena img.online_moderator {
	border-color: #84618B;
}
#kunena img.online_user {
	border-color: #5388B4;
}
#kunena img.online_guest {
	border-color: #666666;
}
#kunena img.online_banned {
	border-color: #A39D49;
}
#kunena img.online_banned_red {
	border-color: #ff0000;
}

#kunena div#kannouncement div.kheader {
	background: #e6e6e6;
}
#kunena div#kannouncement div.koption,
#kunena div#kannouncement div.kactions {
	background-color: #f0f0f0;
}
#kunena li.tk-ann-show-header {
	background-color: #f0f0f0 !important;
}
#kunena .search-category {
	background:#f0f0f0;
}
#kunena li.search {
	border-top-color: #f0f0f0;
}

/* FORUM PROFILE
-------------------------------------------------------- */

div.kprofile-rightcol1 h4 {
	color: #333333;
}
div#kprofile-stats ul li span.online-status-yes {
	color: #fff;
}
div#kprofile-stats ul li span.online-status-no {
	color:#fff;
}
#kprofile-tabs dt.kprofile-modbtn {
	background-color:#999999 !important;
	color: #FFF !important;
}
#kunena dt.kprofile-modbtn {
	background-color:#999999 !important;
	color: #FFF !important;
}
#kprofile-tabs dl.tabs dt {
	border-left-color: #BFC3C6;
	border-right-color: #BFC3C6;
	border-top-color: #BFC3C6;
	background: #f0f0f0;
	color: #666;
}
#kprofile-tabs dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom-color: #F9F9F9;
	color: #000;
}
#kprofile-tabs div.current {
	border-color: #BFC3C6;
}
div.clrline { 
	border-top-color: #BFC3C6;
}
#kunena dl.tabs dt {
	border-left-color: #BFC3C6;
	border-right-color: #BFC3C6;
	border-top-color: #BFC3C6;
	background: #f0f0f0;
	color: #666;
}
#kunena dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom-color: #F9F9F9;
	color: #000;
}
#kunena div.current {
	border-color: #BFC3C6;
}
#kunena div.kmsgtext-code-header {
	background-color: #5388b4;
	color: #ffffff;
}
#kunena span.kavatar-gallery span {
	background:#f0f0f0;
}
#kunena .profile-info {
	color: #868686;
}

