@charset "utf-8";

/* INTERNET EXPLORER 7 and lower STYLES
-------------------------------------------------------------------------- */

/* IE 7 doesn't like negative text-indent */
.klocked-icon,
.kattach-icon,
.kfeed-icon,
.ksubscribe-icon,
.ksection .krss-icon, 
#kannounce .krss-icon,
span.knonew,
span.ktopic-attach,
span.ktopic-sticky,
span.ktopicicon-default,
span.ktopicicon-question,
.kcategories-row table caption {
 	text-indent: 0;
 	font-size: .0001em;
 	color: #fff;
 }

/* IE 7 doesn't like inline-block  */
.kpage li {
    zoom: 1;
    *display: inline;
    float:left;
}

.kpage li.kpage-active,.kpage li.kpage-title,.kpage li.kpage-more {
	line-height: 22px;
}

/*  Cosmetic fixes  */
.kpage a:link, 
.kpage a:visited {
    margin: 2px;
}
.kbutton {
    padding: 0 2px;
}

.kposthead,.ktopic-taglist {zoom:1;clear:both;}
.kposthead-replytitle,.ktopic-taglist li {
	float: left;
}
.ktopic-taglist li {margin-left: 3px;}
.ktopic-taglist .ktopic-taglist-edit {float:right;}
.kpopsubstats-col3 { width: 7.6%; }