@charset "utf-8";

/*  Kunena 2.0 StyleSheet
    --------------------------------------------------------------------
	 Style name:	Orao
	 Copyright 2011 TemplateKunena.com ( http://www.templatekunena.com/ )
    --------------------------------------------------------------------
*/

/*
 PROFILE
-------------------------------------------------------------------- */

#kunena span.tk-editlink span {
    background-repeat: no-repeat;
    background-position: 0 -38px;
}
#kunena .kpost-user-details li {
	margin-top:3px;
}

div#kprofile-container { padding: 10px; overflow:auto; height: 1%;}

div#kprofile-leftcol {font-size: 1em;}

div.avatar-lg { 
	vertical-align:middle;
	text-align:center;
}

div.avatar-lg img {	 }

div#kprofile-stats ul { margin: 0 0 0 3px; padding: 0;}

div#kprofile-stats ul li { list-style-type: none; /*padding-top: 5px;*/ clear:both;}

div#kprofile-stats ul li span.online-status-yes {
	display:block; 
	background-repeat: no-repeat;
	height: 16px; 
	width: 70px;
}

div#kprofile-stats ul li span.online-status-no {
	display:block; 
	background-repeat: no-repeat;
	height: 16px; 
	width: 70px;
}	

div#kprofile-stats ul li span.rankname {
	display:block; 
	margin-right: 5px;
	font-weight:bold;
	float:left;
}
div#kprofile-stats ul li span.rank-admin {
	display:block; 
	background-repeat: no-repeat;
	height: 16px; 
	width: 70px;
	margin-right: 5px;
	float:right;
	margin-top: 0;
}

div#kprofile-rightcol  { 
	width: 75%;
	float:right;
	margin-right: 10px;
}

div#kprofile-rightcoltop  {width: 100%;}

div.kprofile-rightcol1 { 
	width: 45%;
}

div.kprofile-rightcol1 ul {margin: 0;padding: 0;}

div.kprofile-rightcol1 ul li,
div.kprofile-rightcol2 ul li { 
	list-style-type: none !important; 
	background: 0 none; 
	padding-bottom: 8px;
	padding-left: 0;
}

div#kprofile-stats ul li { 
	list-style-type: none !important; 
	background: 0 none; 
	padding-left: 0;
}

#kunena span.location { 
	float:left;
	display:block; 
	background-repeat: no-repeat;
	height: 16px; 
	width: 16px;
	margin-right: 10px;
}

#kunena span.gender-male { 
	float:left;
	display:block; 
	background-repeat: no-repeat; 
	height: 16px; 
	width: 16px;
	margin-right: 10px;
}

#kunena span.gender-female { 
	float:left;
	display:block;  
	background-repeat: no-repeat;
	height: 16px; 
	width: 16px;
	margin-right: 10px;
}

#kunena span.gender-unknown { 
	float:left;
	display:block; 
	background-repeat: no-repeat;
	height: 16px; 
	width: 16px;
	margin-right: 10px;
}

#kunena span.birthdate {
	float:left;
	display:block; 
	background-repeat: no-repeat;
	height: 16px; 
	width: 16px;
	margin-right: 10px;
}

#kunena span.bday-remind { 
	display:inline-block; 
	height: 16px; 
	width: 16px;
	background-repeat: no-repeat;
	vertical-align:middle;
}

#kunena dd span.location,
#kunena dd span.gender-male,
#kunena span.gender-female,
#kunena span.gender-unknown,
#kunena span.birthdate,
#kunena span.email,
#kunena span.website,
#kunena span.private {
	margin-left: 5px;
	margin-right: 0;
}

#kunena li.bd a {
	margin-left: 10px;
}
	
#kunena span.iconrow {
	text-align: center;
}
span.iconrow span {
	display:block;
	width: 16px;
	height: 16px;
	float:right;
	margin: 0 0px 2px 2px;
	border: 0 none;
}


div.clrline {
	clear:both; 
	border-top-width: 1px;
	border-top-style: solid; 
	margin: 15px 0 20px 0; 
	line-height: 10px;
}

#kunena div.tk-profile-personal-text {
	border-top-style:dotted;
	border-top-width:1px;
	margin:10px 0;
	padding:5px 0
}
#kunena span.email {
	float:left;
	display:block; 
	background-repeat: no-repeat;
	height: 16px; 
	width: 16px;
	margin-right: 10px;
}

#kunena span.website {
	float:left;
	display:block; 
	background-repeat: no-repeat;
	height: 16px; 
	width: 16px;
	margin-right: 10px;
}

dd.kprofile-modtools h4 {
	margin-bottom: 5px;
	margin-left: 5px;
}
dd.kprofile-modtools ul li span {
	margin-right: 15px;
}
dd.kprofile-modtools ul li {
	padding-bottom: 5px;
}

li.usertype {
	font-weight:bold;
}

li.kprofile-rank {
	line-height: 16px;
	height: 16px;
}


	
/* Tabs
----------------------------------*/

#kprofile-tabs {
	width: 100%;
	margin-top: 30px;
}

#kprofile-tabs dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}

#kprofile-tabs dl.tabs dt.tk-tabtitle {
	float: left;
	padding: 4px 10px 4px 28px;
	border-left-width: 1px;
	border-left-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-style: solid;
	margin-left: 3px;
}

#kprofile-tabs dl.tabs dt.open {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	z-index: 100;
}

#kprofile-tabs div.current {
	clear: both;
	border-width: 1px;
	border-style: solid;
	padding: 10px 10px;
	overflow:hidden;
}
#kprofile-tabs div.current dd.tk-tabbody {
	padding: 0;
	margin: 0;
}
#kprofile-tabs dd.kprofile-modtools ul {
	margin:0;
	padding:0;
	margin-left: 5px;
}
#kprofile-tabs dd.kprofile-modtools ul li {
	list-style-type:none;
}
#kprofile-tabs dd.kprofile-modtools .kcheckbox {
	float:left;
	clear:left;
}
#kprofile-tabs dd.kprofile-modtools label {
	float:left;
	clear:right;
	margin: 3px 10px 10px 5px;
}
#kunena span.kavatar-gallery img {
	border-width: 0px;
	border-style: solid;
	padding: 2px;
	max-width: 100px;
	max-height: 150px;
	margin: 5px;
}
#kunena span.kavatar-gallery span {
	display:block;
	float:left;
	height:100%;
	margin:5px;
	overflow:hidden;
	padding:5px;
	width:80px;
}
dl#profilebox-post img,
div.avatar-lg img.kavatar {
	border-style: solid;
	border-width: 0px;
	padding: 2px;
}
dd.view-rankimage img {
	border: 0px !important;
}
#kunena .profile-info {
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	text-align:center;
	vertical-align: middle;
	padding-right:2px;
	margin-left:3px;
	margin-right:0px;
	margin-top:0px;
	font-size:x-small;
	cursor: pointer;
	height:16px;
} 
#kunena .profile_info {
	padding:5px;
	display:none;
	overflow:hidden;
	margin-left:0px;
}
#kunena div.tk-profile-sommary li.rowfull dd.tk-profile-avatar {
	overflow:hidden;
	text-align:center;
	border-left:0px;
    min-height: 100px;
    min-width: 100px;
}
#kunena div.tk-profile-sommary li.rowfull dd.tk-profile-avatar img {
	max-width:72px !important;
	max-height:72px !important;
}
#kunena div.tk-profile-sommary li.rowfull dd.tk-profile-info,
#kunena div.tk-profile-sommary li.rowfull dd.tk-profile-contact {
	padding:10px;
}
#kunena div.tk-profile-sommary li.rowfull dd.tk-profile-info li,
#kunena div.tk-profile-sommary li.rowfull dd.tk-profile-contact li {
	margin-bottom: 5px;
	line-height:140%;
}
#kunena div.tk-profile-sommary li.rowfull dd.tk-profile-contact li span {
	margin: 0 10px 0 0;
}
#kunena div.tk-profile-sommary li.rowfull dd.tk-profile-contact .social-buttons {
	float:left;
}
#kunena span.tk-social-buttons {
	margin-top:5px;
	float: left;
}
#kunena ul.edituser dt.tk-user-first {
	width:35%;
	padding-left:25px;
	background-repeat:no-repeat;
}
#kunena ul.edituser dd.tk-user-last {
	width:60%;
}
#kunena ul.edituser dd {
	margin:2px !important;
	padding:0 5px !important;
}
#kunena dd.tk-wiew-perstext {
	width:30%;
	text-align: left;
}

#kunena span.tk-editlink span a {
	color: #fff !important;
	text-shadow: none;
	text-transform:none;
	font-weight: normal;
	padding:2px 5px 2px 24px;
}
#kunena span.tk-editlink {
	padding: 4px;
}
#kunena span.tk-editlink span {
	margin:0;
	padding:2px 0;
}
/*
PROFILE
-------------------------------------------------------------------- */
/* Social Icons */
#kunena .kdetails-links li a span {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: text-top;
	margin-right: 3px;
}
#kunena .kicon-profile-aim				{ background-position: 0 0; }
#kunena .kicon-profile-bebo				{ background-position: 0 -21px; }
#kunena .kicon-profile-birthdate		{ background-position: 0 -42px; }
#kunena .kicon-profile-blogspot			{ background-position: 0 -63px; }
#kunena .kicon-profile-delicious		{ background-position: 0 -84px; }
#kunena .kicon-profile-digg				{ background-position: 0 -105px; }
#kunena .kicon-profile-email			{ background-position: 0 -126px; }
#kunena .kicon-profile-facebook			{ background-position: 0 -147px; }
#kunena .kicon-profile-gender-female	{ background-position: 0 -168px; }
#kunena .kicon-profile-flickr			{ background-position: 0 -189px; }
#kunena .kicon-profile-friendfeed		{ background-position: 0 -210px; }
#kunena .kicon-profile-gender-unknown	{ background-position: 0 -231px; }
#kunena .kicon-profile-gtalk			{ background-position: 0 -252px; }
#kunena .kicon-profile-icq				{ background-position: 0 -273px; }
#kunena .kicon-profile-karmaminus		{ background-position: 0 -294px; }
#kunena .kicon-profile-karmaplus		{ background-position: 0 -313px; }
#kunena .kicon-profile-linkedin			{ background-position: 0 -332px; }
#kunena .kicon-profile-location			{ background-position: 0 -353px; }
#kunena .kicon-profile-gender-male		{ background-position: 0 -374px; }
#kunena .kicon-profile-msn				{ background-position: 0 -395px; }
#kunena .kicon-profile-myspace			{ background-position: 0 -416px; }
#kunena .kicon-profile-pm				{ background-position: 0 -437px; }
#kunena .kicon-profile-remind			{ background-position: 0 -458px; }
#kunena .kicon-profile-skype			{ background-position: 0 -479px; }
#kunena .kicon-profile-twitter			{ background-position: 0 -500px; }
#kunena .kicon-profile-website			{ background-position: 0 -521px; }
#kunena .kicon-profile-yim				{ background-position: 0 -542px; }
#kunena .kicon-profile-aim-off			{ background-position: 0 -563px; }
#kunena .kicon-profile-bebo-off			{ background-position: 0 -584px; }
#kunena .kicon-profile-birthday-off		{ background-position: 0 -605px; }
#kunena .kicon-profile-blogspot-off		{ background-position: 0 -626px; }
#kunena .kicon-profile-delicious-off	{ background-position: 0 -647px; }
#kunena .kicon-profile-digg-off			{ background-position: 0 -668px; }
#kunena .kicon-profile-facebook-off		{ background-position: 0 -689px; }
#kunena .kicon-profile-flickr-off		{ background-position: 0 -710px; }
#kunena .kicon-profile-friendfeed-off	{ background-position: 0 -731px; }
#kunena .kicon-profile-gender-off		{ background-position: 0 -752px; }
#kunena .kicon-profile-gtalk-off		{ background-position: 0 -773px; }
#kunena .kicon-profile-icq-off			{ background-position: 0 -794px; }
#kunena .kicon-profile-linkedin-off		{ background-position: 0 -815px; }
#kunena .kicon-profile-msn-off			{ background-position: 0 -836px; }
#kunena .kicon-profile-myspace-off		{ background-position: 0 -857px; }
#kunena .kicon-profile-pm-off			{ background-position: 0 -878px; }
#kunena .kicon-profile-remind-off		{ background-position: 0 -899px; }
#kunena .kicon-profile-skype-off		{ background-position: 0 -920px; }
#kunena .kicon-profile-twitter-off		{ background-position: 0 -941px; }
#kunena .kicon-profile-website-off		{ background-position: 0 -962px; }
#kunena .kicon-profile-yim-off			{ background-position: 0 -983px; }

#kunena dd.tk-view-uname {
	margin: 0;
}
#kunena dd.tk-view-uname li {
	margin: 0 0 4px 0;
}
#kunena dd.tk-profile-hor {
	float: right !important;
}
#kunena dd.tk-profile-info {
	float:right !important;
	border:0 !important;
}
#kunena div.tk-profile-info-timezone,
#kunena div.tk-profile-info-localtime {

}
#kunena div.tk-profile-info-body {
	float:right;
	margin:5px 0px 10px 5px;
	/*border:1px solid #aaa;*/
	display:inline;
	min-width:80px;
	padding:1px;
}
#kunena div.tk-profile-info-body span {
	text-align:center;
	display:block;
	overflow:hidden;
	padding:3px;
}
#kunena div.tk-profile-info-body span.tk-info-header {
	/*background:#ccc;*/
	color:#fff;
}
#kunena div.tk-profile-info-body span.tk-info-text {
	clear:both;
}
#kunena dd.tk-profile-name img {
	vertical-align: middle;
}
#kunena div.tk-profile-sommary ul li {
	margin: 0 0 5px 0;
}
#kunena ul#profiletabs li a.selected,
#kunena ul#profile-edit li a.selected,
#kunena ul#profiletabs li a:hover,
#kunena ul#profile-edit li a:hover {
	color:#fff !important;
}

/*		TAB CONTENT		
-----------------------------------------*/

.shadetabs{
    font: bold 12px Verdana;
    list-style-type: none;
    margin-bottom: 0;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: -75px !important;
    padding: 3px 0;
    text-align: left;
}
.shadetabs li{
	display: inline;
	margin: 0;
}
.shadetabs li a:visited{
	color: #2d2b2b;
}
.shadetabs li a:hover{
	
}
.shadetabs li a.selected{
	position: relative;
	top: 0px;
}
.shadetabs li a.selected:hover{
	text-decoration: none;
}
.tabcontent{
	display:none;
}
.shadetabs li a { 
	background-position: center 5px;
	background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 5px;
    overflow: hidden;
    padding: 40px 0px 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
    min-width: 90px;
    z-index: 1;
}

#kunena .shadetabs li.tk-profiletab-info a 				{ background-position: 50% 0; }
#kunena .shadetabs li.tk-profiletab-banh a 				{ background-position: 50% -77px; }
#kunena .shadetabs li.tk-profiletab-banm a 				{ background-position: 50% -159px; }
#kunena .shadetabs li.tk-profiletab-edit-avatar a 		{ background-position: 50% -241px; }
#kunena .shadetabs li.tk-profiletab-banu a				{ background-position: 50% -323px; }
#kunena .shadetabs li.tk-profiletab-edit-profile a 		{ background-position: 50% -405px; }
#kunena .shadetabs li.tk-profiletab-edit-settings a 	{ background-position: 50% -487px; }
#kunena .shadetabs li.tk-profiletab-edit-user a 		{ background-position: 50% -569px; }
#kunena .shadetabs li.tk-profiletab-fav a				{ background-position: 50% -651px; }
#kunena .shadetabs li.tk-profiletab-banu a				{ background-position: 50% -733px; }
#kunena .shadetabs li.tk-profiletab-posts a				{ background-position: 50% -815px; }
#kunena .shadetabs li.tk-profiletab-about a				{ background-position: 50% -897px; }
#kunena .shadetabs li.tk-profiletab-sub a 				{ background-position: 50% -979px; }
#kunena .shadetabs li.tk-profiletab-thankyou a 			{ background-position: 50% -1061px; }
#kunena .shadetabs li.tk-profiletab-review a 			{ background-position: 50% -1143px; }
@media print {
.tabcontent {
	display:block !important;
	}
}