
*:focus, a:active {
  outline: none;
}

a.move_up {
	display: inline-block;
	text-indent: -1000em;
	height: 16px;
	width: 16px;
	background-image: url(../../../../images/uparrow.png);
}

span.move_up {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url(../../../../images/uparrow0.png);
}

a.move_down {
	display: inline-block;
	text-indent: -1000em;
	height: 16px;
	width: 16px;
	background-image: url(../../../../images/downarrow.png);
}

span.move_down {
	display: inline-block;
	height: 16px;
	width: 16px;
	background-image: url(../../../../images/downarrow0.png);
}


a.grid_false {
	display: inline-block;
	text-indent: -1000em;
	height: 16px;
	width: 16px;
	background-image: url(../../../../images/publish_x.png);
}
a.grid_true {
	display: inline-block;
	text-indent: -1000em;
	height: 16px;
	width: 16px;
	background-image: url(../../../../images/tick.png);
}
a.grid_trash {
	display: inline-block;
	text-indent: -1000em;
	height: 16px;
	width: 16px;
	background-image: url(../images/icon-16-trash.png);
}
