#kunena.layout .box-hover {
	-moz-transition: all 0.6s ease 0s;
}

#kunena.layout .box-hover:hover {
	-moz-transition: all 0.3s ease 0s;
}

#kunena.layout .boxcolor-hover {
	-moz-transition: all 0.6s ease 0s;
}

#kunena.layout .boxcolor-hover:hover {
	-moz-transition: all 0.3s ease 0s;
}