/* The css provides template positioning and styling for Kunena, following some rules and conventions outlined below.
 * 1. Define standard Kunena container.
 * 2. Define resets for Kunena.
 * 3. Define positioning elements for multile tag instances of all possible tags.
 * 4. Define styling elements for multiple html tag instances of single tags.

/*******************
 * START CONTAINER *
 *******************/

#kunena {
	display: inline-block;
	position: relative;
	width: 100% !important;
}

/*****************
 * END CONTAINER *
 *****************/

/***************
 * START RESET *
 ***************/

/* NOTE: If third-party wrapper template is optimized correctly we can take out this section.*/
/* Box Element Reset */
#kunena.layout div, #kunena.layout h1, #kunena.layout.layout h2, #kunena.layout h3, #kunena.layout h4, #kunena.layout h5, #kunena.layout h6, #kunena.layout ul, #kunena.layout li, #kunena.layout ol, #kunena.layout dl, #kunena.layout dt, #kunena.layout dd, #kunena.layout pre, #kunena.layout form, #kunena.layout fieldset, #kunena.layout input, #kunena.layout textarea, #kunena.layout p, #kunena.layout blockquote, #kunena.layout th, #kunena.layout tr, #kunena.layout td {
	margin: 0px;
	padding: 0px;
	/*line-height: normal !important;*/
	text-decoration: none;
	background: none;
	color: #555555;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

/* List Reset */
#kunena.layout ul, #kunena.layout li, #kunena.layout ol, #kunena.layout dl, #kunena.layout dt, #kunena.layout dd {
	margin: 0px;
	padding: 0px;
	line-height: normal;
	list-style-type: none;
	text-decoration: none;
	background: none;
	color: #555555;
}

/* Link Active Status Reset */
#kunena.layout a, #kunena.layout a:link, #kunena.layout a:visited, #kunena.layout a:active {
	text-decoration: none;
	/*background: none !important;*/
}

/* Link Action Reset */
#kunena.layout a:hover, #kunena.layout a:focus {
	text-decoration: none;
	background: none;
	color: #333333;
}

#kunena.layout fieldset {
	padding: 15px;
	margin: 5px;
	/*border-width: 1px;
	border-style: solid;
	border-color: #BFC3C6;(*/
}

#kunena.layout input {
	width: 100%;
	/*margin: 5px;*/
	padding: 5px;
}

#kunena.layout select {
	padding: 3px;
	overflow: auto;
	/*margin: 5px;*/
	/*border-width: 1px;
	border-style: solid;
	border-color: #BFC3C6;(*/
}

#kunena.layout textarea {
	overflow: auto;
	/*margin: 5px;*/
	/*border-width: 1px;
	border-style: solid;
	border-color: #BFC3C6;(*/
}

/*************
 * END RESET *
 *************/

/*****************************
 * START DEFAULT POSITIONING *
 *****************************/

#kunena.layout .fl {
	float: left;
}

#kunena.layout .fr {
	float: right;
}

#kunena.layout .fn {
	float: none;
}

#kunena.layout .clear {
	clear: both;
}

/****************************
 * STOP DEFAULT POSITIONING *
 ****************************/

/* This is needed for a fix, not sure why */
#kunena.layout .box-full:before {
	content: "";
	display: block;
}

#kunena.layout .box-full:after {
	content: "";
	display: block;
	clear: both;
}

/* Box fix, not sure why */
/* http://stackoverflow.com/questions/1030793/input-with-displayblock-is-not-a-block-why-not */
#kunena.layout .box-width {
	box-sizing: border-box; /* css3 rec */
}


#kunena.layout .input {
	
}

#kunena.layout .select {
	
}

#kunena.layout .textarea {
	
}

#kunena.layout .link {
	text-decoration: none !important;
	background: none !important;
	color: #333333 !important;
}

#kunena.layout .link:hover {
	text-decoration: underline !important;
	background: none !important;
	color: #333333 !important;
}

#kunena.layout .link-header2 > a {
	text-decoration: none !important;
	background: none !important;
	color: #555555 !important;
}

#kunena.layout .link-header2 > a:hover {
	text-decoration: underline !important;
	background: none !important;
	color: #555555 !important;
}

#kunena.layout .link-header3 > a {
	text-decoration: none !important;
	background: none !important;
	color: #555555 !important;
}

#kunena.layout .link-header3 > a:hover {
	text-decoration: underline !important;
	background: none !important;
	color: #555555 !important;
}

#kunena.layout .link-menu {
	margin: 0;
	overflow: hidden;
	padding: 12px 8px;
}

#kunena.layout .link-dropdown > a{
	margin: 0;
	overflow: hidden;
	padding: 2px 5px;
}

#kunena.layout .link:hover, #kunena.layout .link:focus {
	text-decoration: underline !important;
	background: none !important;
	color: #333333 !important;
}

#kunena.layout .divider {
	display: block;
	overflow: hidden;
	margin: 5px 0px;
	height: 0px;
	width: 100%;
	float: none;
	/*background: #333333;*/
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #EEEEEE;
}

#kunena.layout .separator {
	display: block;
	overflow: hidden;
	margin: 5px 0px;
	height: 80%;
	width: 2px;
	float: none;
	/*background: #333333;*/
	border-left: 1px solid #1B1B1B;
	border-right: 1px solid #333333;
}

#kunena.layout li.dropdown a {
	position: relative;
}

#kunena.layout li.dropdown .dropdown-menu {
 	visibility: hidden;
 	display: none;
 	opacity: 0.0;
 	background-clip: padding-box;
 	background-color: rgba(255, 255, 255, 1.0);
 	border-color: rgba(0, 0, 0, 0.2);
 	border-radius: 0 0 5px 5px;
 	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
 	border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
 	border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
 	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
 	/*display: block;*/
 	/*float: right;*/
 	right: 0;
 	list-style: none outside none;
 	margin: 0;
 	max-width: 300px;
 	min-width: 240px;
 	/*padding: 4px 0;*/
 	position: absolute;
 	top: 99%;
 	z-index: 1000;
}

#kunena.layout li.dropdown .dropdown-menu > li {
 	padding: 2px 5px;
}

/*#kunena.layout li.dropdown a:hover > * {
 	visibility: visible;
 	opacity: 1.0;
 	display: block;
}*/

#kunena.layout li.dropdown:hover > * {
 	visibility: visible;
 	opacity: 1.0;
 	display: block;
}

/*#kunena.layout input.kinputbox,
#kunena.layout textarea.ktxtarea {
	border: 1px solid;
	padding: 3px 5px;
	width: 95%;
}

#kunena.layout input.kinputbox-inline {
	width: auto;
}

#kunena.layout input.kinputbox-date {
	width: 25%;
}

#kunena.layout label {
	font-weight:bold;
}

#kunena.layout label i {
	font-weight:normal;
}

#kunena.layout fieldset {
	background: none;
	padding:0;
	margin:0;
	border:0 none;
}

#kunena.layout legend.klegend {
	display: none;
}*/

#kunena.layout h2 > a {
	font-size: 18px !important;
	line-height: 24px !important;
	font-family: Georgia,"Times New Roman",Times,serif !important;
	font-weight: bold !important;
	color: #555555 !important;
}

#kunena.layout h3 > a {
 	font-size: 15px !important;
 	font-family: Georgia,"Times New Roman",Times,serif !important;
 	font-weight: bold !important;
 	color: #555555 !important;
}

/*#kunena.layout a {
	text-decoration:none;
}

#kunena.layout li {
	line-height: normal;
	list-style-type: none !important;
}

#kunena.layout ul {
	line-height: normal;
	list-style-type: none !important;
}*/

/* This outter element is needed for dropdowns */
#kunena.layout div.box-module {
 	overflow: visible;
}

#kunena.layout div.box-wrapper {
 	display: block;
 	position: relative;
 	/*position: relative;
 	/*padding: 10px;*/
 	/*overflow: auto;*/
}

#kunena.layout div.innerblock-wrapper {
 	padding: 5px;
}

/* TODO: Need configure option for: padding */
/*#kunena.layout div.block-wrapper {
 	position: relative;
 	padding: 5px;
 	overflow: hidden;
}*/

/* although we can do margin, it makes sense if we want people to configure the space easily */
#kunena.layout div.spacer {
	background: none repeat scroll 0 0 transparent;
	clear: both;
	display: block;
	height: 15px;
	margin: 0px;
	opacity: 0;
	padding: 0px;
	width: 100%;
}

/* TODO: Need configure option for: padding */
#kunena.layout div.headerbox-wrapper {
	/*padding: 10px;*/
	/*overflow: auto;*/
	clear: both;
	position: relative;
}

/*wrapper is needed for some spacing elements */
/* TODO: Need configure option for: padding */
#kunena.layout div.detailsbox-wrapper {
	padding: 8px 10px 10px 10px;
	/*overflow: auto;*/
	clear: both;
}

#kunena.layout div.modbox-wrapper {
	padding: 0px 10px 10px 10px;
	overflow: auto;
	clear: both;
}

#kunena.layout div.header {
	padding: 5px 10px;
	display: block;
}

#kunena.layout div.detailsbox {
	clear: both;
	/*margin: 2px 2px 4px;*/
	/*padding: 1px 0 0;*/
}

#kunena.layout div.innerspacer {
	padding: 5px 10px 10px 10px;
}

#kunena.layout div.modbox {
	overflow: hidden;
	float: right;
}

#kunena.layout .menubox li > a {
	/*height: 30px;*/
	/*line-height: 30px;*/
	line-height: 32px;
	margin: 0px;
	padding: 5px 8px;
	/*height: 18px;*/
	overflow: hidden;
}

#kunena.layout .menubox li > a {
	/*height: 30px;*/
	/*line-height: 30px;*/
	line-height: 32px;
	margin: 0px;
	padding: 5px 8px;
	/*height: 18px;*/
	overflow: hidden;
}

#kunena.layout div.dropdown-menu {
	display: block;
	float: none;
	position: relative;
}

#kunena.layout div.dropdown-menu li > a {
	padding: 5px;
	line-height: 15px;
}

#kunena.layout div.dropdown-menu li > span {
	padding: 5px;
}

/*---------- Advanced Search ------------- */

#kunena.layout #searchform {
	padding: 10px 10px 0px;
}
#kunena.layout #searchform fieldset {
	/*border: 1px solid;
	margin-bottom: 15px;*/
	padding: 15px;
}

#kunena.layout #searchform LEGEND {
	padding: 0 5px;
	font-size: 1em;
}

#kunena.layout #searchform .input {
	/*border: 1px solid;
	padding: 0px 5px;*/
	padding: 5px;
	width: 100%
 	background-color: #FFFFFF;
 	/*background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);*/
 	border: 1px solid silver;
 	/*border-radius: 2px;*/
 	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout #searchform select {
	/*padding: 5px;
	margin: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFC3C6;(*/
}

#kunena.layout #searchform select#catids {
	width: 100%;
	/*border-width: 1px;
	border-style: solid;
	border-color: #BFC3C6;(*/
}

#kunena.layout .ksearchform-leftcol {
	float: left;
	clear: left;
	width: 49%;
}
#kunena.layout .ksearchform-rightcol {
	float: right;
	clear: right;
	width: 49%;
}
#kunena.layout #searchform .clrline {
}
#kunena.layout #searchform .kpost-buttons {
	margin: 0 -10px;
	border-top: 1px solid;
}
#kunena.layout #searchform label input {
	vertical-align: middle;
}

#kunena.layout #search-posts-start select {
	/*margin-left: 10px;*/
}

#kunena.layout #search-posts-date select,
#kunena.layout #search-posts-sort select {
	/*margin-right: 10px;*/
}
#kunena.layout input#keywords,
#kunena.layout input#username {
	margin-right: 10px;
}
#kunena.layout .kadvsearch .clrline {
	clear: both;
}

/*---------- Breadcrmb ------------- */

#kunena.layout div.breadcrumb {
 	padding: 5px 10px;
}

#kunena.layout div.breadcrumb ul li {
 	display: inline;
}

#kunena.layout div.breadcrumb ul li a {
 	margin: 0px 10px;
}


/*---------- Announcement List ------------- */

#kunena.layout ul.announcement-list {
 	display: block;
 	list-style-type: none;
 	margin: 0px;
 	padding: 0px;
}

#kunena.layout ul.announcement-list div.header {
 	clear: both;
 	display: block;
 	position: relative;
 	vertical-align: bottom;
}

#kunena.layout ul.announcement-list li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.announcement-list li.announcements-row dl, ul.announcement-list li.header {
 	float: none !important;
 	height: auto;
 	width: auto;
}

#kunena.layout ul.announcement-list li.announcements-row {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kunena.layout ul.announcement-list li.announcements-row dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 5px;
}

#kunena.layout ul.announcement-list li.header dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 2px 5px;
}

#kunena.layout ul.announcement-list dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 2px 0;
}

/*#kunena.layout ul.topic-list li.topics-row dl {
 	display: block;
 	position: relative;
}*/

#kunena.layout ul.announcement-list li.announcements-row dd {
 	display: block;
 	float: left;
 	margin: 0px;
}

#kunena.layout ul.announcement-list dd.announcement-checkbox {
	margin: 0;
	text-align: center;
	vertical-align: center;
	width: 10px;
}

#kunena.layout ul.announcement-list dd.announcement-id {
	margin: 0;
	text-align: center;
	vertical-align: center;
	width: 5%;
}

#kunena.layout ul.announcement-list dd.announcement-date {
	margin: 0;
	text-align: left;
	vertical-align: center;
	width: 10%;
}

#kunena.layout ul.announcement-list dd.announcement-author {
	margin: 0;
	text-align: left;
	vertical-align: center;
	width: 10%;
}

#kunena.layout ul.announcement-list dd.announcement-title {
	margin: 0;
	text-align: left;
	vertical-align: center;
	width: 45%;
}

#kunena.layout ul.announcement-list dd.announcement-publish {
	margin: 0;
	text-align: center;
	vertical-align: center;
	width: 10%;
}

#kunena.layout ul.announcement-list dd.announcement-edit {
	margin: 0;
	text-align: center;
	vertical-align: center;
	width: 5%;
}

#kunena.layout ul.announcement-list dd.announcement-delete {
	margin: 0;
	text-align: center;
	vertical-align: center;
	width: 5%;
}


/*---------- Category List ------------- */

#kunena.layout ul.category-list {
 	display: block;
 	list-style-type: none;
 	margin: 0px;
 	padding: 0px;
}

#kunena.layout ul.category-list div.header {
 	clear: both;
 	display: block;
 	position: relative;
 	vertical-align: bottom;
}

#kunena.layout ul.category-list li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.category-list li.row dl, ul.category-list li.header {
 	float: none !important;
 	height: auto;
 	width: auto;
}

#kunena.layout ul.category-list li.category-row {
	margin: 0px;
	/*padding: 2px;*/
	overflow: hidden;
}

#kunena.layout ul.category-list li.category-row dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 5px;
}

#kunena.layout ul.category-list li.header dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 2px 5px;
}

#kunena.layout ul.category-list dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	/*padding: 2px 0;*/
}

#kunena.layout ul.category-list li.category-row dd {
 	display: block;
 	float: left;
 	margin: 0px;
}

#kunena.layout ul.category-list dd.category-icon {
	margin: 0;
	text-align: center;
	vertical-align: center;
	min-width: 42px;
}

#kunena.layout ul.category-list dd.category-subject {
	margin: 0;
	text-align: left;
	width: 45%;
}

#kunena.layout ul.category-list dd.category-topics, #kunena.layout dd.category-replies {
	margin: 0;
	text-align: center;
	width: 10%;
}

#kunena.layout ul.category-list dd.category-lastpost {
	margin: 0;
	text-align: left;
	width: 20%;
}

/*#kunena.layout ul.category-list li {
 	clear: both;
 	display: block;
 	margin: 0;
 	overflow: hidden;
 	padding: 1px 0 0;
 	position: relative;
 	vertical-align: bottom;
}*/


/*---------- Announcement List ------------- */

#kunena.layout ul.popsubstat-list {
 	display: block;
 	list-style-type: none;
 	margin: 0px;
 	padding: 0px;
}

#kunena.layout ul.popsubstat-list div.header {
 	clear: both;
 	display: block;
 	position: relative;
 	vertical-align: bottom;
}

#kunena.layout ul.announcement-list li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.popsubstat-list li.popsubstats-row dl, ul.announcement-list li.header {
 	float: none !important;
 	height: auto;
 	width: auto;
}

#kunena.layout ul.popsubstat-list li.popsubstats-row {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kunena.layout ul.popsubstat-list li.popsubstats-row dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 5px;
}

#kunena.layout ul.popsubstat-list li.header dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 2px 5px;
}

#kunena.layout ul.popsubstat-list dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 2px 0;
}

/*#kunena.layout ul.topic-list li.topics-row dl {
 	display: block;
 	position: relative;
}*/

#kunena.layout ul.popsubstat-list li.popsubstats-row dd {
 	display: block;
 	float: left;
 	margin: 0px;
}

#kunena.layout ul.popsubstat-list dd.announcement-checkbox {
	margin: 0;
	text-align: center;
	vertical-align: center;
	width: 10px;
}

#kunena.layout ul.popsubstat-list dd.announcement-id {
	margin: 0;
	text-align: center;
	vertical-align: center;
	width: 5%;
}


/*---------- Topic List ------------- */

#kunena.layout ul.topic-list {
 	display: block;
 	list-style-type: none;
 	margin: 0px;
 	padding: 0px;
}

#kunena.layout ul.topic-list div.header {
 	clear: both;
 	display: block;
 	position: relative;
 	vertical-align: bottom;
}

#kunena.layout ul.topic-list li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.topic-list li.row dl, ul.topic-list li.header {
 	float: none !important;
 	height: auto;
 	width: auto;
}

#kunena.layout ul.topic-list li.topics-row {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kunena.layout ul.topic-list li.topics-row dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 5px;
}

#kunena.layout ul.topic-list li.header dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 2px 5px;
}

#kunena.layout ul.topic-list dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 2px 0;
}

/*#kunena.layout ul.topic-list li.topics-row dl {
 	display: block;
 	position: relative;
}*/

#kunena.layout ul.topic-list li.topics-row dd {
 	display: block;
 	float: left;
 	margin: 0px;
}

#kunena.layout ul.topic-list dd.topic-icon {
	margin: 0;
	text-align: center;
	vertical-align: center;
	min-width: 42px;
}

#kunena.layout ul.topic-list dd.topic-subject {
	margin: 0;
	text-align: left;
	width: 40%;
}

#kunena.layout ul.topic-list dd.topic-replies, #kunena.layout dd.topic-views {
	margin: 0;
	text-align: center;
	width: 10%;
	position: relative;
	top: 50%;
}

#kunena.layout ul.topic-list dd.topic-lastpost {
	margin: 0;
	text-align: left;
	width: 20%;
}

#kunena.layout ul.topic-list dd.topic-checkbox {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 5%;
}


/*#kunena.layout ul.topic-list li.topic-row dd {
 	display: block;
 	float: left;
 	margin: 0px;
 	padding: 4px 0;
}*/


/*---------- Postmessage List ------------- */

#kunena.layout ul.postmessage-list {
 	display: block;
 	list-style-type: none;
 	margin: 0px;
 	padding: 0px;
}

#kunena.layout ul.postmessage-list li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 5px;
}

/*---------- Message List ------------- */

/*#kunena.layout div#topic .posthead {
 	padding: 5px 10px;
}*/

#kunena.layout div#topic ul.topic-posts li.topic-row {
 	padding: 8px 10px;
}

#kunena.layout div#topic ul.topic-posts li.topic-row:hover ul.message-buttons {
	visibility: visible;
}

#kunena.layout div#topic ul.message-list li.header {
 	padding: 5px 10px;
}

#kunena.layout div#topic ul.message-list li.header h3, #kunena.layout ul.message-list li.header dd, #kunena.layout ul.message-list li.header dd a {
 	display: inline;
}

#kunena.layout div#topic div.buttonbar ul.message-buttons {
	visibility: hidden;
}

#kunena.layout div#topic .topic-taglist {
 	display: block;
 	/*padding: 5px 10px;*/
}

#kunena.layout div#topic .topic-taglist-edit {
 	float: right;
}

#kunena.layout div#topic .topic-taglist li {
 	display: inline;
 	line-height: 13px;
}


/*---------- Breadcrumbs ------------- */

#kunena.layout div.breadcrumb {
	background: #f4f4f4;
	background-image: linear-gradient(top, #f4f4f4 0%,#ececec 100%);
}

#kunena.layout div.breadcrumb li.breadcumb-viewing,
#kunena.layout div.breadcrumb li.breadcumb-total {
	font-weight: bold;
}

/* Attachments */

#kunena.layout div.breadcrumb .post-body-attach {
	border: 1px solid #BCBCBC;
	background-color: #f9f9f9;
	border-radius:6px;
}

#kunena.layout div.breadcrumb .attach-title {
	font-size: 11px;
	font-weight: bold;
	background-color: #14537b;
	color: #FFF;
	border-radius: 6px 6px 0 0;
}

#kunena.layout div.breadcrumb .attach-details span {
	font-size: 11px;
}

/*---------- Credit ------------- */
#kunena.layout div.credit p {
	text-align: center;
}

/*---------- Statistics ------------- */

/*#kunena.layout div#statistics statistics-general .statistics-totals {
	width: 29%;
}

#kunena.layout div#statistics tr.sth {
	font-size: 1em;
}

#kunena.layout div#statistics tr.sth th {
	padding: 3px 5px;
	text-align: center;
}

#kunena.layout div#statistics tr.sth th.name {
	width: 50%;
	text-align: left;
}

#kunena.layout div#statistics tr.sth th.bar {
	width: 40%;
}

#kunena.layout div#statistics tr.sth th.nr {
	width: 10%;
}*/

/*---------- Userlist ------------- */

#kunena.layout .userlist-items {
	padding-left: 10px;
}

#kunena.layout .userlist-user {
	width: 43%;
	float: left;
	border: 1px solid #F4F4F4;
	margin: 5px;
	padding: 15px;
}

#kunena.layout h3.userlist-fullname,
#kunena.layout h3.userlist-fullname a {
	font-weight: bold;
	color: #5388B4;
	font-size: 20px;
	margin-bottom: 10px;
	text-decoration: none;
}

#kunena.layout h3.userlist-fullname a:hover {
	text-decoration: underline;
	color: #0099FF;
}

#kunena.layout .userlist-avatar {
	width: 110px;
	position:relative;
	float:left;
	margin-right: 10px;
}

#kunena.layout .userlist-avatar img{
	max-width: 96px;
	max-height: 96px;
	padding: 1px;
	border: 1px solid #F4F4F4;
}

#kunena.layout .details-status {
	display: block;
	background-color: #000;
	font-weight: bold;
	text-align:center;
	text-transform: uppercase;
	opacity: 0.8;
	position: absolute;
	bottom: 10px;
	left: 3px;
	width: 94px;
}

#kunena.layout .details-status.konline {
	color: green;
}

#kunena.layout .details-status.koffline {
	color: red;
}

#kunena.layout .userlist-details{
	float: left;
}

#kunena.layout .details-links {
	float: left;
}

#kunena.layout .userlist-details li span {
	font-weight: bold;
}

#kunena.layout .details-links li {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 2px;
}

/*---------- Who Is Online & Statistics ------------- */

#kunena.layout div.whosonline div.whosonline-smicon {
	display: block;
	float: left;
	/*padding: 20px 0 5px 8px;*/
	padding: 5px;
	width: 48px;
}

#kunena.layout div.whosonline div.whosonline-users {
	display: block;
	float: left;
	padding: 5px 10px 10px 10px;
}

#kunena.layout div.whosonline .section-icon span {
	margin: 15px auto;
}

#kunena.layout div.whosonline .whosonline-subtitle {
	display: block;
	width: 99%;
}

#kunena.layout div.whosonline .whosonline-legend ul li {
	display: inline;
	margin-right: 5px;
}

#kunena.layout div.whosonline .whosonline-usernames {
	clear:left;
	display: block;
	width: 99%;
}

#kunena.layout div.whosonline .whosonline-usernames ul li {
	display: inline;
	margin-right: 4px;
}

#kunena.layout div.whosonline .whosonline-details div {
	display: block;
	float: left;
}

/*---------- Statistics ------------- */

#kunena.layout div.statistics .statistics-details div {
	display: block;
	float: left;
}

#kunena.layout div.statistics .statistics-smicon {
	padding: 10px;
	width: 35px;
}

#kunena.layout div.statistics .statistics-smicon span {
	margin: 15px auto;
}

#kunena.layout div.statistics .statistics-totals ul li {
	clear: left;
}

#kunena.layout div.statistics .statistics-totals {
	padding: 5px 10px 10px 10px;
	line-height: 20px;
	/*min-height: 80px;*/
	width: 25%;
}

#kunena.layout div.statistics .statistics-totals ul li span {
	margin-left: 3px;
}

#kunena.layout div.statistics .statistics-latestmem {
	margin-bottom: 8px;
}

#kunena.layout div.statistics .header-link {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}


/* Menu */
#kunena.layout div.menubox div.menubox-global {
	display: block;
	float: left;
}

#kunena.layout div.menubox div.menubox-user {
	display: block;
	float: right;
}

#kunena.layout div.menubox ul.menu {
	background: none repeat scroll 0 0 transparent;
	margin: 0;
	padding: 0;
}

#kunena.layout div.menubox div.menubox-global ul.menu > li {
	/*background: none repeat scroll 0 0 transparent;*/
	/*border-radius: 5px 5px 0 0;*/
	display: inline;
	float: left;
	border: none;
}

#kunena.layout div.menubox div.menubox-user ul.menu > li {
	/*background: none repeat scroll 0 0 transparent;*/
	/*border-radius: 5px 5px 0 0;*/
	display: inline;
	float: left;
	border: none;
}

#kunena.layout div.menubox div.menubox-global ul.menu li > a {
	background: none;
	font-size: 14px !important;
}

#kunena.layout div.menubox div.menubox-user ul.menu li > a {
	background: none;
	font-size: 14px !important;
}

#kunena.layout div.menubox div.menubox-global ul.menu li a:hover {
	background: none;
}

#kunena.layout div.menubox div.menubox-user ul.menu li {
	/*background: none repeat scroll 0 0 transparent;*/
	/*border-radius: 5px 5px 0 0;*/
	/*display: inline;*/
	/*float: right;*/
}

#kunena.layout div.menubox div.menubox-user ul.menu li a {
	background: none;
}

#kunena.layout div.menubox div.menubox-user ul.menu li a:hover {
	background: none;
}

#kunena.layout div.login-member {
	display: block;
}

#kunena.layout div.login-member div.login-avatar {
	float: left;
}

#kunena.layout div.login-member div.loginbox {
	float: left;
	padding-left: 5px;
}

#kunena.layout div.login-member img {
	width: 32px;
	height: 32px;
}

/* Button Bar */

#kunena.layout div.buttonbar ul.message-buttons {
	padding: 0px;
	margin: 0px;
}

#kunena.layout div.buttonbar ul.message-buttons li {
	padding: 0px;
	margin: 0px;
}

#kunena.layout div.buttonbar ul.message-buttons li.button a {
	display: block;
}

#kunena.layout div.buttonbar ul.message-buttons li.button a > span {
	padding: 5px 10px;
	display: block;
	/*overflow: hidden;*/
}

/*#kunena.layout div.buttonbar ul.message-buttons span {
	padding: 10px 5px
}*/


/* color */

#kunena.layout input {
	/*border: 1px solid;
	padding: 0px 5px;*/
 	background-color: #FFFFFF;
 	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
 	border: 1px solid silver;
 	border-radius: 5px;
 	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout select {
	/*border: 1px solid;
	padding: 0px 5px;*/
 	background-color: #FFFFFF;
 	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
 	border: 1px solid silver;
 	border-radius: 5px;
 	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout textarea {
	/*border: 1px solid;
	padding: 0px 5px;*/
 	background-color: #FFFFFF;
 	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
 	border: 5px solid silver;
 	border-radius: 5px;
 	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout .box-hover {
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout .box-hover:hover {
	background-color: rgba(100, 100, 100, 0.05);
}

#kunena.layout .box-focus {
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout .box-focus:focus {
	background-color: rgba(100, 100, 100, 0.1);
}

#kunena.layout .box-shadow {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.4), -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4);
}

#kunena.layout .box-shadow:hover {

}

#kunena.layout .box-color {
	/*background-color: rgba(100, 100, 100, 0.1);*/
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%) !important;
}

#kunena.layout .box-color:hover {
	/*background-color: rgba(100, 100, 100, 0.1);*/
	background-image: linear-gradient(top, rgba(89, 155, 220, 0.15) 0%, rgba(48, 114, 179, 0.15) 100%) !important;
}

#kunena.layout .box-border {
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
	border-color: rgba(0, 0, 0, 0.05);
	border-style: solid;
	border-width: 1px;
	/*border-radius: 5px;*/
}

#kunena.layout .box-border:hover {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
	border-color: rgba(0, 0, 0, 0.05);
	border-style: solid;
	border-width: 1px;
	/*border-radius: 5px;*/
}

#kunena.layout .box-border_radius {
	border-radius: 5px;
}

#kunena.layout .box-border_radius:hover {
	border-radius: 5px;
}

#kunena.layout .box-hover_header-row {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout .box-hover_list-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout .box-hover_list-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(100, 100, 100, 0.05);
}

#kunena.layout div.block-wrapper {
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-color: transparent rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;*/
	/* need to include this line because the transition will not work */
	/*background-image: linear-gradient(top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%) !important;*/
	/*opacity: 0.1;
	background: var(styleForumHeadercolor) !important;
	background-image: linear-gradient(top, var(styleForumHeadercolor) 0%, var(styleForumHeadercolorGradient) 100%) !important;*/
}

#kunena.layout div.block-wrapper:hover {
	/*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	border-color: transparent rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;*/
	/*background: var(styleForumHeadercolor) !important;*/
	/*background-image: linear-gradient(top, rgba(89, 155, 220, 0.4) 0%, rgba(48, 114, 179, 0.4) 100%) !important;*/
	/*background-image: linear-gradient(top, (0.25, var(styleForumHeadercolor)) 0%, (0.25, var(styleForumHeadercolorGradient)) 100%) !important;*/
}

#kunena.layout div.headerbox-wrapper {
	background-image: linear-gradient(top, rgba(255, 255, 255, 1.0) 0%, rgba(240, 240, 240, 1.0) 100%) !important;
}

#kunena.layout h2.header a {
	/*color: var(styleForumHeadercolorText) !important;*/
	/*font-weight: normal;
	text-decoration: none;
	font-size: 18px !important;
	line-height: 24px;
	background: none;
	color: #444444;*/
}

#kunena.layout h2.header a:hover {
	/*color: var(styleForumHeadercolorText) !important;*/
	/*font-weight: normal;
	text-decoration: none;
	font-size: 18px !important;
	line-height: 24px;
	background: none;
	color: #444444;*/
}

#kunena.layout div.detailsbox {
	/*box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.4), -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4);
	border-color: transparent rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;*/
}

/*#kunena.layout div.announcements ul.announcement-list li.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout div.announcements ul.announcement-list li.announcements-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout div.announcements ul.announcement-list li.announcements-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(100, 100, 100, 0.05);
}*/


/*#kunena.layout div.category ul.category-list li.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout div.category ul.category-list li.category-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout div.category ul.category-list li.category-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(100, 100, 100, 0.05);*/
}

#kunena.layout div.category ul.category-list li.category-row dd.topics, #kunena.layout ul.category-list li.category-row dd.replies {
	font-size: 1.2em;
	line-height: 2.2em;
}


/*#kunena.layout div.topic ul.topic-list li.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout div.topic ul.topic-list li.topics-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout div.topic ul.topic-list li.topics-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(100, 100, 100, 0.05);
}*/

#kunena.layout li.postmessage-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout li.postmessage-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(100, 100, 100, 0.05);
}

#kunena.layout div.topic ul.topic-list li.topic-row dd.replies, #kunena.layout ul.topic-list li.category-row dd.views {
	font-size: 1.2em;
	line-height: 2.2em;
}

#kunena.layout div.topic ul.topic-posts li.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout div.menubox div.menubox-global ul.menu li a {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	/*box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(255, 255, 255, 0.0) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.0) !important;
	background-color: rgba(255, 255, 255, 0.0) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.0) !important;
	/*color: #444444;*/
}

#kunena.layout div.menubox div.menubox-global ul.menu li a:hover {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(100, 100, 100, 0.1) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
	/*color: #222222;*/
}

#kunena.layout div.menubox div.menubox-user ul.menu li a {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	/*box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(255, 255, 255, 0.0) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.0) !important;
	background-color: rgba(255, 255, 255, 0.0) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.0) !important;
	/*color: #444444;*/
}

#kunena.layout div.menubox div.menubox-user ul.menu li a:hover {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(100, 100, 100, 0.1) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
	/*color: #222222;*/
}

#kunena.layout div.menubox div.menubox-user ul.menu li a:focus {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(100, 100, 100, 0.1) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
	/*color: #222222;*/
}

#kunena.layout div.login-member img {
	border-radius: 5px;
}

#kunena.layout div.login-member img:hover {
	border-radius: 5px;
}


#kunena.layout .user-admin { color: var(styleForumLegendAdmincolorText) !important; }
#kunena.layout .user-globalmod	{ color: var(styleForumLegendGlobalcolorText) !important; }
#kunena.layout .user-moderator	{ color: var(styleForumLegendModeratorcolorText) !important;}
#kunena.layout .user-user { color: var(styleForumLegendUsercolorText) !important; }
#kunena.layout .user-guest { color: var(styleForumLegendGuestcolorText) !important; }


/* effects */

#kunena.layout .box-hover {
	-moz-transition: all 0.6s ease 0s;
}

#kunena.layout .box-hover:hover {
	-moz-transition: all 0.3s ease 0s;
}

#kunena.layout .boxcolor-hover {
	-moz-transition: all 0.6s ease 0s;
}

#kunena.layout .boxcolor-hover:hover {
	-moz-transition: all 0.3s ease 0s;
}

/*#kunena.layout div.block-wrapper {
	-moz-transition: all 0.6s ease 0s;
}

#kunena.layout div.block-wrapper:hover {
	-moz-transition: all 0.3s ease 0s;
}*/

/*#kunena.layout div.category ul.category-list li.category-row {
	-moz-transition: all 0.6s ease 0s;
}	

#kunena.layout div.category ul.category-list li.category-row:hover {
	-moz-transition: all 0.3s ease 0s;
}

#kunena.layout div.category ul.category-list li.category-row + li.category-row {
	-moz-transition: all 0.3s ease 0s;
}*/

/*--------*/
/* Search */
/*--------*/


/*#kunena.layout #searchform {
	background: #F3F3F3;
}

#kunena.layout #searchform fieldset {
	background: #FFFFFF;
	border-color: #BCBCBC;
	border-radius: 3px 3px 3px 3px;
 	padding: 0;
}

#kunena.layout #searchform .input {
 	padding: 5px;
 	background-color: transparent;
 	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
 	border: 1px solid silver;
 	border-radius: 2px;
 	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout #searchform .clrline {
}

#kunena.layout #searchform legend {
	font-size: 1.1em;
}

#kunena.layout #searchform .kpost-buttons {
	background-color: #FFFFFF;
	border-top-color: #BFC3C6;
}*/


/*---------*/
/* Buttons */
/*---------*/

#kunena.layout li.button {
	display: inline-block;
	overflow: visible;
	position: relative;
	white-space: nowrap;
}

/* Color */
#kunena.layout li.button a {
	cursor: pointer;
	border: 1px solid #D4D4D4;
	border-radius: 3px;
	/*box-shadow: 0 1px 0 #FFFFFF;*/
}

#kunena.layout li.button a:hover {
	cursor: pointer;
	border: 1px solid #D4D4D4;
	border-radius: 3px;
	/*box-shadow: 0 1px 0 #FFFFFF;*/
}

#kunena.layout li.button a > span {
	background: rgba(0, 0, 0, 0.0) !important;
}

#kunena.layout li.button a > span:hover {
	/*background: #599bdc;*/
	/*background-image: linear-gradient(top, #599bdc 0%,#3072b3 100%);*/
	background: rgba(0, 0, 0, 0.15) !important;
	
}

/* Color */
#kunena.layout li.button a {
	background: none;
	text-decoration: none;
	color: #FFFFFF !important;
}

#kunena.layout li.button a:hover {
	background: none;
	text-decoration: none;
	color: #FFFFFF !important;
}

/*---------- Editor Icons ------------- */
#kunena.layout #kbbcode-toolbar li a {
	height:18px;
	width:18px;
	background-image:url("../images/icons-editor.png");
}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-separator {
	background-position:-400px 0;
	width: 8px;
	cursor: default;
}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-bold-button {background-position:0 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-italic-button {background-position:-18px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-underline-button {background-position:-36px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-strike-button {background-position:-54px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-sub-button {background-position:-72px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-sup-button {background-position:-90px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-size-button {background-position:-108px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-color-button {background-position:-126px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-spoiler-button {background-position:-144px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-hide-button {background-position:-162px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-ulist-button {background-position:-180px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-olist-button {background-position:-198px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-list-button {background-position:-216px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-left-button {background-position:-234px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-center-button {background-position:-252px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-right-button {background-position:-270px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-quote-button {background-position:-288px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-code-button {background-position:-306px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-image-button {background-position:-324px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-link-button {background-position:-342px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-table-button {background-position:0 -18px;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-module-button {background-position:-18px -18px;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-ebay-button {background-position:-360px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-video-button {background-position:-378px 0;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-map-button {background-position:-72px -18px;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-attach-button {background-position:-36px -18px;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-gallery-button {background-position:-54px -18px;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-poll-button {background-position:-90px -18px;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-previewbottom-button {background-position:-252px -18px;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-previewright-button {background-position:-270px -18px;}
#kunena.layout ul#kbbcode-toolbar li a.kbbcode-help-button {background-position:-396px -18px;}



#kunena.layout li.topic-replytopic a { background-image: linear-gradient(top, rgba(89, 220, 91, 1.0) 0%, rgba(48, 179, 50, 1.0) 100%) !important; }
#kunena.layout li.topic-subscribe a { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important; }
#kunena.layout li.topic-favorite a { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important; }
#kunena.layout li.topic-lock a { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important; }
#kunena.layout li.topic-sticky a { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important; }
#kunena.layout li.topic-moderatetopic a { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important; }
#kunena.layout li.topic-delete a { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important; }

#kunena.layout li.topic-replytopic a:hover { background-image: linear-gradient(top, rgba(89, 220, 91, 1.0) 0%, rgba(48, 179, 50, 1.0) 100%) !important;; }
#kunena.layout li.topic-subscribe a:hover { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important;; }
#kunena.layout li.topic-favorite a:hover { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important;; }
#kunena.layout li.topic-lock a:hover { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.topic-sticky a:hover { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.topic-moderatetopic a:hover { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.topic-delete a:hover { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }


#kunena.layout li.topics-newtopic a { background-image: linear-gradient(top, rgba(89, 220, 91, 1.0) 0%, rgba(48, 179, 50, 1.0) 100%) !important; }
#kunena.layout li.topics-marktopicread a { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important; }
#kunena.layout li.topics-subscribe a { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important; }

#kunena.layout li.topics-newtopic a:hover { background-image: linear-gradient(top, rgba(89, 220, 91, 1.0) 0%, rgba(48, 179, 50, 1.0) 100%) !important; }
#kunena.layout li.topics-marktopicread a:hover { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important; }
#kunena.layout li.topics-subscribe a:hover { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important; }


#kunena.layout li.message-quickreply a { background-image: linear-gradient(top, rgba(89, 220, 91, 1.0) 0%, rgba(48, 179, 50, 1.0) 100%) !important;; }
#kunena.layout li.message-reply a { background-image: linear-gradient(top, rgba(89, 220, 91, 1.0) 0%, rgba(48, 179, 50, 1.0) 100%) !important;; }
#kunena.layout li.message-quote a { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important;; }
#kunena.layout li.message-thankyou a { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important;; }
#kunena.layout li.message-report a { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important;; }
#kunena.layout li.message-edit a { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.message-moderate a { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.message-delete a { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.message-undelete a { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.message-permdelete a { background-image: linear-gradient(top, rgba(220, 89, 89, 1.0) 0%, rgba(179, 48, 50, 1.0) 100%) !important;; }

#kunena.layout li.message-quickreply a:hover { background-image: linear-gradient(top, rgba(89, 220, 91, 1.0) 0%, rgba(48, 179, 50, 1.0) 100%) !important;; }
#kunena.layout li.message-reply a:hover { background-image: linear-gradient(top, rgba(89, 220, 91, 1.0) 0%, rgba(48, 179, 50, 1.0) 100%) !important;; }
#kunena.layout li.message-quote a:hover { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important;; }
#kunena.layout li.message-thankyou a:hover { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important;; }
#kunena.layout li.message-report a:hover { background-image: linear-gradient(top, rgba(89, 155, 220, 1.0) 0%, rgba(48, 114, 179, 1.0) 100%) !important;; }
#kunena.layout li.message-edit a:hover { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.message-moderate a:hover { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.message-delete a:hover { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.message-undelete a:hover { background-image: linear-gradient(top, rgba(220, 89, 218, 1.0) 0%, rgba(179, 48, 162, 1.0) 100%) !important;; }
#kunena.layout li.message-permdelete:hover { background-image: linear-gradient(top, rgba(220, 89, 89, 1.0) 0%, rgba(179, 48, 50, 1.0) 100%) !important;; }


#kunena.layout .file-input-button, #kunena.layout .file-input-button:hover, #kunena.layout .file-input-button:focus {
	background-color: #F2F1EE;
	border-color: #999999;
	color: #000000;
}

#kunena.layout .postbuttonset, .postbuttons {
	border-color: #BFC3C6;
}

#kunena.layout .filter-button {
	border: 1px solid #666;
	margin: 2px;
	background-color:#5388B4;
	color: #fff;
	font-size: 10px;
}

#kunena.layout .filter-button:hover {
	border: 1px solid #F4F4F4;
	background-color: #DDDDDD;
	cursor:pointer;
	color: #000;
}
#kunena.layout .icon-button {
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	border: none;
}

#kunena.layout a.icon-button span span:hover {
	text-decoration: underline;
}

#kunena.layout a.icon-button:hover {
	color: #fff;
}

#kunena.layout .buttonbar-post {
	border-top: 1px solid #F4F4F4;
}

#kunena.layout .mod-detailsbox .post-buttons {
	border-top-color: #F4F4F4;
}

#kunena.layout .postmessage .postbuttonset td, #kunena.layout .postmessage tr.krow2 .postbuttonset td {
	border-color: #F4F4F4;
}

#kunena.layout .postmessage .postbuttonset .posthint {
	background-color: #FFFFCC;
	border-color: #F4F4F4;
}

/* effects */
#kunena.layout li.button:hover {
	-moz-transition: all 0.6s ease 0s;
}

#kunena.layout li.button:hover {
	-moz-transition: all 0.3s ease 0s;
}