/*****************************
 * START DEFAULT POSITIONING *
 *****************************/

/* This is needed for a fix, not sure why */
#kunena.layout .kbox-full:before {
	content: "";
	display: block;
}

#kunena.layout .kbox-full:after {
	content: "";
	display: block;
	clear: both;
}

#kunena.layout .kbox-width {
	box-sizing: border-box; /* css3 rec */
	width: 100%
}

#kunena.layout .ac {
	margin: 0px auto;
}

#kunena.layout .fl {
	float: left;
}

#kunena.layout .fr {
	float: right;
}
#kunena.layout .fn {
	float: none;
}

#kunena.layout .clear {
	clear: both;
}

#kunena.layout .inline {
	display: inline;
}

#kunena.layout .inline-block {
	display: inline-block;
}

#kunena.layout .input {

}

#kunena.layout .select {

}

#kunena.layout .textarea {

}

#kunena.layout .link-menu {
	margin: 0;
	overflow: hidden;
	padding: 12px 8px;
}

#kunena.layout .link-dropdown > a{
	margin: 0;
	overflow: hidden;
	padding: 2px 5px;
}

#kunena.layout .divider {
	display: block;
	overflow: hidden;
	margin: 5px 0px;
	height: 0px;
	width: 100%;
	float: none;
}

#kunena.layout .inline-divider {
	padding: 0 10px;
}

#kunena.layout .divider-vertical-inline-dotted {
	border-bottom: 1px dotted #EEEEEE;
	border-top: 1px dotted #CCCCCC;
}

#kunena.layout .divider-vertical-inline-dotted {
	border-bottom: 1px dotted #EEEEEE;
	border-top: 1px dotted #CCCCCC;
}

#kunena.layout .divider-vertical-inline-dotted {
	display: block;
	float: none;
	height: 0;
	margin: 5px 0;
	overflow: hidden;
	width: 95%;
}

/*#kunena.layout .kcontent-32 > a {
	position: absolute;
	top: 5px;
	left: 5px;
}

#kunena.layout .kcontent-48 > a {
	position: absolute;
	top: 5px;
	left: 5px;
}*/

#kunena.layout .kcontent-32 {
	margin-left: 42px;
}

#kunena.layout .kcontent-48 {
	margin-left: 58px;
}

#kunena.layout .kcontent-128 {
	margin-left: 138px;
}


#kunena.layout img.kavatar {
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.3), 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset, -1px 0 0 rgba(0, 0, 0, 0.2) inset, 2px 0 0 rgba(0, 0, 0, 0.2) inset, 0 2px 0 rgba(0, 0, 0, 0.2) inset, 0 2px 2px rgba(0, 0, 0, 0.2) inset;
}

#kunena.layout img.kavatar-32 {
	min-height: 32px;
	max-height: 32px;
	min-width: 32px;
	max-width: 32px;
	border-radius: 5px;
}

#kunena.layout img.kavatar-48 {
	min-height: 32px;
	max-height: 48px;
	min-width: 32px;
	max-width: 48px;
	border-radius: 5px;
}

#kunena.layout img.kavatar-64 {
	min-height: 32px;
	max-height: 64px;
	min-width: 32px;
	max-width: 64px;
	border-radius: 5px;
}

#kunena.layout img.kavatar-128 {
	min-height: 32px;
	max-height: 128px;
	min-width: 32px;
	max-width: 128px;
	border-radius: 5px;
}


/*#kunena.layout .separator {
	display: block;
	overflow: hidden;
	margin: 5px 0px;
	height: 80%;
	width: 2px;
	float: none;
}*/

/****************************
 * STOP DEFAULT POSITIONING *
 ****************************/


/****************************
 * START COMMON POSITIONING *
 ****************************/

#kunena.layout div.progress {
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
	height: 18px;
	/*margin-bottom: 18px;*/
	overflow: hidden;
	position: relative;
}

#kunena.layout .progress .bar {
	-moz-box-sizing: border-box;
	/*transition: width 0.6s ease 0s;*/
	background-color: #0E90D2;
	background-image: -moz-linear-gradient(center top , #149BDF, #0480BE);
	background-repeat: repeat-x;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
	color: #FFFFFF;
	font-size: 14px;
	height: 18px;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	width: 0;
	overflow: hidden;
	position: relative;
}

#kunena.layout li.dropdown a {
	position: relative;
}

#kunena.layout li.dropdown .dropdown-menu {
	left: 0;
	right: auto;
	margin: 0px;
	min-width: 140px;
	/*padding: 4px 0;*/
	position: absolute;
	top: 99%;
	z-index: 1000;
}

#kunena.layout .fr li.dropdown .dropdown-menu {
	left: auto;
	right: 0;
	margin: 0px;
	max-width: 300px;
	min-width: 210px;
	/*padding: 4px 0;*/
	position: absolute;
	top: 99%;
	z-index: 1000;
}

#kunena.layout li.dropdown .dropdown-menu li > a {
	padding: 5px 20px;
	line-height: normal;
}

#kunena.layout li.dropdown .dropdown-menu > * {
	visibility: hidden;
	display: none;
}

#kunena.layout li.dropdown:hover .dropdown-menu > * {
	visibility: visible;
	display: block;
}

#kunena.layout div.kmodule {
	overflow: visible;
	margin-top: 15px;
	margin-bottom: 15px;
}

#kunena.layout div.kbox-wrapper {
	display: block;
	position: relative;
	/*padding: 10px;*/
	/*overflow: auto;*/
}

#kunena.layout div.innerblock-wrapper {
	padding: 5px;
}

#kunena.layout div.spacer {
	clear: both;
	display: block;
	height: 15px;
	margin: 0px;
	opacity: 0;
	padding: 0px;
	width: 100%;
}

#kunena.layout .tabbable:after {
	clear: both;
}

#kunena.layout .tabbable:before, #kunena.layout .tabbable:after {
	content: "";
	display: block;
}

#kunena.layout .tabbable:before, #kunena.layout .tabbable:after {
	content: "";
	display: block;
}

#kunena.layout div.kpagination {
	/*margin: 12px 0;*/
}

#kunena.layout div.kpagination ul {
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
}

#kunena.layout div.kpagination li {
	display: inline;
}

#kunena.layout div.kpagination li:first-child > a {
	border-left-width: 1px;
	border-radius: 3px 0 0 3px;
}

#kunena.layout div.kpagination a {
	border-bottom-colors: none;
	border-image: none;
	border-left-colors: none;
	border-right-colors: none;
	border-top-colors: none;
	border-color: #DDDDDD;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	float: left;
	line-height: 34px;
	padding: 0 14px;
	text-decoration: none;
}

#kunena.layout div.headerbox-wrapper {
	/*padding: 10px;*/
	overflow: auto;
	clear: both;
	position: relative;
}

#kunena.layout div.detailsbox-wrapper innerspacer {
	/*padding: 8px 10px 10px 10px;*/
	overflow: auto;
	clear: both;
}

#kunena.layout div.modbox-wrapper {
	/*padding: 0px 10px 10px 10px;*/
	overflow: auto;
	clear: both;
	position: relative;
}

#kunena.layout div.header {
	padding: 5px 10px;
	display: block;
}

#kunena.layout div.headerbox {
	clear: both;
	position: relative;
	/*margin: 2px 2px 4px;*/
	/*padding: 1px 0 0;*/
}

#kunena.layout div.detailsbox {
	clear: both;
	position: relative;
	/*margin: 2px 2px 4px;*/
	/*padding: 1px 0 0;*/
}

#kunena.layout div.footerbox {
	clear: both;
	position: relative;
	/*margin: 2px 2px 4px;*/
	/*padding: 1px 0 0;*/
}

#kunena.layout .innerspacer {
	/*padding: 5px 10px 10px 10px;*/
	padding: 10px 10px 10px 10px;
}


#kunena.layout .innerspacer-top {
	/*padding: 5px 10px 10px 10px;*/
	padding: 10px 10px 0px 10px;
}

#kunena.layout .innerspacer-right {
	/*padding: 5px 10px 10px 10px;*/
	padding: 10px 10px 10px 0px;
}

#kunena.layout .innerspacer-bottom {
	/*padding: 5px 10px 10px 10px;*/
	padding: 0px 10px 10px 10px;
}

#kunena.layout .innerspacer-left {
	/*padding: 5px 10px 10px 10px;*/
	padding: 10px 0px 10px 10px;
}

#kunena.layout .innerspacer-header {
	/*padding: 5px 10px 10px 10px;*/
	padding: 5px 5px 5px 5px;
}

#kunena.layout .innerspacer-column {
	/*padding: 5px 10px 10px 10px;*/
	padding: 10px 5px 10px 5px;
}

#kunena.layout .innerspacer-horizontal {
	/*padding: 5px 10px 10px 10px;*/
	padding: 0px 10px 0px 10px;
}

#kunena.layout div.modbox {
	overflow: hidden;
	float: right;
}

#kunena.layout ul.list-vertical > li {
	float: right;
	clear: both;
}

#kunena.layout ul.list-horizontal > li {
	float: right;
}

#kunena.layout ul.menu li > a {
	/*height: 30px;*/
	/*line-height: 30px;*/
	display: block;
	line-height: 32px;
	margin: 0px;
	padding: 4px 8px;
	position: relative;
	/*height: 18px;*/
	overflow: hidden;
}

/*#kunena.layout ul.menu li:first-child > a {
	border-radius: 5px 0px 0px 5px
}

#kunena.layout ul.menu li:last-child > a {
	border-radius: 0px 5px 5px 0px
}*/

#kunena.layout div.dropdown-menu {
	display: block;
	float: none;
	position: relative;
}

#kunena.layout div.dropdown-menu li > a {
	padding: 5px 4px;
	line-height: 15px;
	position: relative;
	display: block;
}

#kunena.layout div.dropdown-menu li > span {
	padding: 5px 3px;
}

#kunena.layout legend.legend-hide {
	display: none;
}

#kunena.layout .form-label {
	float: left;
	/*padding: 10px;*/
	width: 20%;
	position: relative;
}

#kunena.layout .form-field {
	float: left;
	/*padding: 10px;*/
	width: 80%;
	position: relative;
}

#kunena.layout .form-field_simple {
	float: left;
	/*padding: 10px;*/
	width: 100%;
}

#kunena.layout .form-vertical {
	margin-bottom: 10px;
}

#kunena.layout .form-horizontal {
	display: inline-block;
	margin-right: 3px;
}

#kunena.layout dl.ktabs > dt {
	/*padding: 9px 12px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0px 2px;*/
}

#kunena.layout dl.ktabs {
	margin-bottom: 10px;
}

#kunena.layout .ktabs:after {
	clear: both;
}

#kunena.layout .ktabs:before {
	content: "";
	display: block;
}

#kunena.layout .ktabs:after {
	content: "";
	display: block;
}

#kunena.layout .pills:after {
	clear: both;
}

#kunena.layout .pills:before {
	content: "";
	display: block;
}

#kunena.layout .pills:after {
	content: "";
	display: block;
}

#kunena.layout a.kbutton, #kunena.layout button.kbutton {
	display: block;
	line-height: normal;
}

#kunena.layout a.kbutton > span, #kunena.layout button.kbutton > span {
	display: block;
	line-height: normal;
	padding: 5px 10px;
	font-size: 13px;
}



/************************
 * START ADVANCE SEARCH *
 ************************/

#kunena.layout .searchform {
	padding: 10px 10px 0px;
}
#kunena.layout .searchform fieldset {
	/*border: 1px solid;
	margin-bottom: 15px;*/
	padding: 15px;
}

#kunena.layout .searchform legend {
	padding: 0 5px;
	font-size: 1em;
}

#kunena.layout .searchform .input {
	/*border: 1px solid;
	padding: 0px 5px;*/
	padding: 5px;
	width: 100%;
	background-color: #FFFFFF;
	/*background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);*/
	border: 1px solid silver;
	/*border-radius: 2px;*/
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout .searchform select {
	/*padding: 5px;
	margin: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: #BFC3C6;(*/
}

#kunena.layout .searchform select.catids {
	width: 100%;
	/*border-width: 1px;
	border-style: solid;
	border-color: #BFC3C6;(*/
}

#kunena.layout .searchform-leftcol {
	float: left;
	clear: left;
	width: 49%;
}
#kunena.layout .searchform-rightcol {
	float: right;
	clear: right;
	width: 49%;
}
#kunena.layout .searchform .clrline {
}
#kunena.layout .searchform .kpost-buttons {
	margin: 0 -10px;
	border-top: 1px solid;
}
#kunena.layout .searchform label input {
	vertical-align: middle;
}

#kunena.layout .search-posts-start select {
	/*margin-left: 10px;*/
}

#kunena.layout .search-posts-date select,
#kunena.layout .search-posts-sort select {
	/*margin-right: 10px;*/
}
#kunena.layout input.keywords,
#kunena.layout input.username {
	margin-right: 10px;
}
#kunena.layout .advsearch .clrline {
	clear: both;
}

#kunena.layout .kpost-user_details-vertical {
	width: 25%;
	/*padding: 10px;*/
	text-align:center;
	/*float:right;*/
}

#kunena.layout .kpost-user_details-horizontal {
	/*padding: 10px;
	text-align:center;*/
	/*float:right;*/
}

#kunena.layout .kpost-user-vertical-username a {
	text-decoration: none;
}

#kunena.layout .kpost-user-vertical-avatar img {
	margin: 0;
	padding: 0;
}


/* Post body */
#kunena.layout .kpost-post-body {
	padding: 20px;
}

#kunena.layout .kpost-container-left {
	margin-left: 25%;
}

#kunena.layout .kpost-container-right {
	margin-right: 25%;
}

#kunena.layout .kpost-body-attach {
	margin: 15px 0;
}
#kunena.layout .kpost-body-sig {
	text-align:left;
	margin: 15px 0;
	padding: 5px 0;
}

#kunena.layout .kpost-user-vertical-username {;
	margin: 20px 0px 5px 0px;
}

#kunena.layout .kpost-user-vertical-username > a {;
	font-size: 16px;
}

#kunena.layout .kpost-user-vertical-avatar {
	margin: 5px 0px 5px 0px;
}

#kunena.layout .kpost-user-vertical-status {
	margin: 5px 0px 5px 0px;
}

#kunena.layout .kpost-user-vertical-rank {
	margin: 5px 0px 0px 0px;
}

#kunena.layout .kpost-user-vertical-rank-img {
	margin: 0px 0px 5px 0px;
}

#kunena.layout .kpost-user-vertical-posts {
	margin: 5px 0px 0px 0px;
}

#kunena.layout .kpost-user-vertical-karma {
	margin: 0px 0px 5px 0px;
}


/***************************
 * START ANNOUNCEMENT LIST *
 ***************************/

#kunena.layout ul.announcement-list {
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#kunena.layout ul.announcement-list div.header {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
}

#kunena.layout ul.announcement-list > li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.announcement-list li.announcements-row dl, ul.announcement-list li.header {
	float: none !important;
	height: auto;
	width: auto;
}

#kunena.layout ul.announcement-list li.announcements-row {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kunena.layout ul.announcement-list li.announcements-row dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 10px 5px;*/
	position: relative;
}

#kunena.layout ul.announcement-list li.header dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 5px;*/
}

#kunena.layout ul.announcement-list dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 0;*/
}

/*#kunena.layout ul.topic-list li.topics-row dl {
	display: block;
	position: relative;
}*/

#kunena.layout ul.announcement-list li.announcements-row dd {
	display: block;
	float: left;
	margin: 0px;
}

#kunena.layout ul.announcement-list dd.announcement-checkbox {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 5%;
}

#kunena.layout ul.announcement-list dd.announcement-id {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 5%;
}

#kunena.layout ul.announcement-list dd.announcement-date {
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 10%;
}

#kunena.layout ul.announcement-list dd.announcement-author {
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 15%;
}

#kunena.layout ul.announcement-list dd.announcement-title {
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 45%;
}

#kunena.layout ul.announcement-list dd.announcement-publish {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 10%;
}

#kunena.layout ul.announcement-list dd.announcement-edit {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 5%;
}

#kunena.layout ul.announcement-list dd.announcement-delete {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 5%;
}

/**************************
 * STOP ANNOUNCEMENT LIST *
 **************************/


/*************************
 * START BANMANAGER LIST *
 *************************/

#kunena.layout ul.banmanager-list {
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#kunena.layout ul.banmanager-list div.header {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
}

#kunena.layout ul.banmanager-list > li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.banmanager-list li.banmanager-row dl, ul.banmanager-list li.header {
	float: none !important;
	height: auto;
	width: auto;
}

#kunena.layout ul.banmanager-list li.banmanager-row {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kunena.layout ul.banmanager-list li.banmanager-row dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 10px 5px;*/
	position: relative;
}

#kunena.layout ul.banmanager-list li.header dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 5px;*/
}

#kunena.layout ul.banmanager-list dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 0;*/
}

/*#kunena.layout ul.topic-list li.topics-row dl {
	display: block;
	position: relative;
}*/

#kunena.layout ul.banmanager-list li.banmanager-row dd {
	display: block;
	float: left;
	margin: 0px;
}

#kunena.layout ul.banmanager-list dd.banmanager-id {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 5%;
}

#kunena.layout ul.banmanager-list dd.banmanager-user {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 20%;
}

#kunena.layout ul.banmanager-list dd.banmanager-from {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 20%;
}

#kunena.layout ul.banmanager-list dd.banmanager-start {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 20%;
}

#kunena.layout ul.banmanager-list dd.banmanager-expire {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 20%;
}

/*************************
 * STOP BANMANAGER LIST *
 *************************/


/********************
 * START BREADCRUMB *
 ********************/

#kunena.layout div.common-breadcrumb-kbox {
	padding: 4px 8px;
}

#kunena.layout div.common-breadcrumb-kbox ul li {
	display: inline-block;
}

#kunena.layout div.common-breadcrumb-kbox ul li a {
	/*margin: 0px 10px;*/
	line-height: 32px;
}

/*******************
 * STOP BREADCRUMB *
 *******************/


/***********************
 * START CATEGORY-LIST *
 ***********************/

#kunena.layout ul.category-list {
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#kunena.layout ul.category-list div.header {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
}

#kunena.layout ul.category-list > li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.category-list li.row dl, ul.category-list li.header {
	float: none !important;
	height: auto;
	width: auto;
}

#kunena.layout ul.category-list li.category-row {
	margin: 0px;
	/*padding: 2px;*/
	overflow: hidden;
}

#kunena.layout ul.category-list li.category-row dd {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	position: relative;
}

#kunena.layout ul.category-list li.header dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 5px;*/
}

#kunena.layout ul.category-list dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 0;*/
}

#kunena.layout ul.category-list li.category-row dd {
	display: block;
	float: left;
	margin: 0px;
}

/*#kunena.layout ul.category-list i.category-icon {
	margin: 0;
	min-width: 42px;
}*/

#kunena.layout ul.category-list dd.category-subject {
	margin: 0;
	text-align: left;
	width: 55%;
}

#kunena.layout ul.category-list dd.category-topics, #kunena.layout ul.category-list dd.category-replies {
	margin: 0;
	text-align: center;
	width: 10%;
}

#kunena.layout ul.category-list dd.category-topics span.number, #kunena.layout  ul.category-list dd.category-replies span.number {
	font-size: 24px;
	color: #666666;
}

#kunena.layout ul.category-list dd.category-lastpost {
	margin: 0;
	text-align: left;
	width: 25%;
}

#kunena.layout li.category-lastpost-avatar{
	float: left;
}

/*#kunena.layout ul.category-list li {
	clear: both;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
	position: relative;
	vertical-align: bottom;
}*/

/**********************
 * STOP CATEGORY-LIST *
 **********************/


/**********************
 * START LOGIN-MEMBER *
 **********************/

#kunena.layout div.login-form {
	padding: 10px;
}

#kunena.layout span.login-member {
	display: block;
}

#kunena.layout span.login-member span.login-avatar {
	float: left;
}

#kunena.layout span.login-member span.loginbox {
	float: left;
	padding-left: 5px;
}

#kunena.layout span.login-member img {
	width: 32px;
	height: 32px;
}

#kunena.layout span.login-member img {
	border-radius: 5px;
}

#kunena.layout span.login-member img:hover {
	border-radius: 5px;
}

#kunena.layout a.login-profile {
	min-height: 48px;
}

#kunena.layout a.login-profile span.login_profile-content {
	display: block;
	margin-left: 68px;
}

#kunena.layout a.login-profile span.login_profile-content img {
	position: absolute;
	top: 5px;
	left: 20px;
	border-radius: 5px;
	height: 48px;
	width: 48px;
}

#kunena.layout span.login-profile-details {
	
}

/*********************
 * STOP LOGIN-MEMBER *
 *********************/


/*****************
 * START MENUBOX *
 *****************/

#kunena.layout ul.menu {
	display: block;
	/*float: left;*/
	left: 0px;
	position: relative;
	margin: 0px;
	padding: 0px;
}

#kunena.layout ul.menu > li {
	display: inline;
	float: left;
	border: none;
	position: relative;
}

/****************
 * STOP MENUBOX *
 ****************/

#kunena.layout ul.button-list {
	display: block;
}


/***************************
 * START MESSAGE BUTTONBAR *
 ***************************/

#kunena.layout div.buttonbar ul.buttons-message {
	padding: 0px;
	margin: 0px;
}

#kunena.layout div.buttonbar ul.buttons-message {
	padding: 0px;
	margin: 0px;
}

#kunena.layout div.buttonbar ul.buttons-message li {
	padding: 0px;
	margin: 0px;
}

#kunena.layout div.buttonbar ul.buttons-message li.button a {
	display: block;
}

#kunena.layout div.buttonbar ul.buttons-message li.button a > span {
	padding: 5px 10px;
	display: block;
	/*overflow: hidden;*/
}

/**************************
 * STOP MESSAGE BUTTONBAR *
 **************************/


/**********************
 * START MESSAGE-LIST *
 **********************/

/*#kunena.layout div#topic .posthead {
	padding: 5px 10px;
}*/

#kunena.layout div.topic-default_list-kbox ul.topic-posts li.topic-row {
	padding: 8px 10px;
}

#kunena.layout div.topic-default_list-kbox ul.topic-posts li.topic-row:hover div.buttonbar ul.buttons-message {
	visibility: visible;
}

#kunena.layout div.topic-default_list-kbox ul.message-list li.header {
	padding: 5px 10px;
}

#kunena.layout div.topic-default_list-kbox ul.message-list li.header h3, #kunena.layout ul.message-list li.header dd, #kunena.layout ul.message-list li.header dd a {
	display: inline;
}

#kunena.layout div.topic-default_list-kbox ul.topic-posts li.topic-row div.buttonbar ul.buttons-message {
	visibility: hidden;
}

#kunena.layout div.topic-default_list-kbox .topic-taglist {
	display: block;
	/*padding: 5px 10px;*/
}

#kunena.layout div.topic-default_list-kbox .topic-taglist-edit {
	float: right;
}

#kunena.layout div.topic-default_list-kbox .topic-taglist li {
	display: inline;
	line-height: 13px;
}


#kunena.layout div.topic-indented_list-kbox ul.topic-posts li.topic-row {
	padding: 8px 10px;
}

#kunena.layout div.topic-indented_list-kbox ul.topic-posts li.topic-row:hover div.buttonbar ul.buttons-message {
	visibility: visible;
}

#kunena.layout div.topic-indented_list-kbox ul.message-list li.header {
	padding: 5px 10px;
}

#kunena.layout div.topic-indented_list-kbox ul.message-list li.header h3, #kunena.layout ul.message-list li.header dd, #kunena.layout ul.message-list li.header dd a {
	display: inline;
}

#kunena.layout div.topic-indented_list-kbox ul.topic-posts li.topic-row div.buttonbar ul.buttons-message {
	visibility: hidden;
}

#kunena.layout div.topic-indented_list-kbox .topic-taglist {
	display: block;
	/*padding: 5px 10px;*/
}

#kunena.layout div.topic-indented_list-kbox .topic-taglist-edit {
	float: right;
}

#kunena.layout div.topic-indented_list-kbox .topic-taglist li {
	display: inline;
	line-height: 13px;
}


#kunena.layout div.topic-threaded_list-kbox ul.topic-posts li.topic-row {
	padding: 8px 10px;
}

#kunena.layout div.topic-threaded_list-kbox ul.topic-posts li.topic-row:hover div.buttonbar ul.buttons-message {
	visibility: visible;
}

#kunena.layout div.topic-threaded_list-kbox ul.message-list li.header {
	padding: 5px 10px;
}

#kunena.layout div.topic-threaded_list-kbox ul.message-list li.header h3, #kunena.layout ul.message-list li.header dd, #kunena.layout ul.message-list li.header dd a {
	display: inline;
}

#kunena.layout div.topic-threaded_list-kbox ul.topic-posts li.topic-row div.buttonbar ul.buttons-message {
	visibility: hidden;
}

#kunena.layout div.topic-threaded_list-kbox .topic-taglist {
	display: block;
	/*padding: 5px 10px;*/
}

#kunena.layout div.topic-threaded_list-kbox .topic-taglist-edit {
	float: right;
}

#kunena.layout div.topic-threaded_list-kbox .topic-taglist li {
	display: inline;
	line-height: 13px;
}

/**********************
 * STOP MESSAGE-LIST *
 **********************/


/********************
 * START PAGINATION *
 ********************/

#kunena.layout div.pagination {
}

#kunena.layout div.pagination ul.list-pagination li {
	display: inline;
	float: left;
}

#kunena.layout div.pagination ul.list-pagination li.page-item a {
	display: block;
}

#kunena.layout div.pagination ul.list-pagination li.page-item a > span {
	display: block;
	padding: 5px 10px;
	line-height: 24px;
}


/*******************
 * STOP PAGINATION *
 *******************/


/**************************
 * START POSTMESSAGE-LIST *
 **************************/

#kunena.layout ul.postmessage-list {
	display: block;
	/*list-style-type: none;*/
	margin: 0px;
	padding: 0px;
}

#kunena.layout ul.postmessage-list > li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	/*padding: 5px;*/
}

/*************************
 * STOP POSTMESSAGE LIST *
 *************************/

/*************************
 * START POSTICONS LIST *
 *************************/

#kunena.layout ul.checkbox-outline li.checkbox-outline-item > input {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
}

#kunena.layout ul.checkbox-outline li.checkbox-outline-item label {
	background: none repeat scroll 0 0 transparent;
	border: 2px solid transparent;
	border-radius: 5px 5px 5px 5px;
	float: left;
	margin: 2px;
	padding: 2px;
	position: relative;

}

#kunena.layout ul.checkbox-outline li.checkbox-outline-item input:checked + label {
	background: none repeat scroll 0 0 transparent;
	border: 2px solid;
	border-color: #4B99DD;
	border-radius: 5px 5px 5px 5px;
	float: left;
	margin: 2px;
	padding: 2px;
	position: relative;

}

#kunena.layout ul.checkbox-outline li.checkbox-outline-item li {
	float: left;
	display: inline;
}

/*************************
 * START POPSUBSTAT LIST *
 *************************/

#kunena.layout ul.popsubstat-list {
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#kunena.layout ul.popsubstat-list div.header {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
}

#kunena.layout ul.popsubstat-list li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.popsubstat-list li.popsubstats-row dl, ul.popsubstat-list li.header {
	float: none !important;
	height: auto;
	width: auto;
}

#kunena.layout ul.popsubstat-list li.popsubstats-row {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kunena.layout ul.popsubstat-list li.popsubstats-row dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 10px 5px;*/
}

#kunena.layout ul.popsubstat-list li.header dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 5px;*/
}

#kunena.layout ul.popsubstat-list dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 0;*/
}

/*#kunena.layout ul.topic-list li.topics-row dl {
	display: block;
	position: relative;
}*/

#kunena.layout ul.popsubstat-list li.popsubstats-row dd {
	display: block;
	float: left;
	margin: 0px;
	position: relative;
}

#kunena.layout ul.popsubstat-list dd.popsubstats-col1 {
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 30%;
}

#kunena.layout ul.popsubstat-list dd.popsubstats-col2 {
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 60%;
}

#kunena.layout ul.popsubstat-list dd.popsubstats-col3 {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 10%;
}

/************************
 * STOP POPSUBSTAT LIST *
 ************************/


/********************
 * START STATISTICS *
 ********************/

#kunena.layout div.common-statistics-kbox .statistics-details div {
	display: block;
	float: left;
}

#kunena.layout div.common-statistics-kbox .statistics-smicon {
	padding: 10px;
	width: 35px;
}

#kunena.layout div.common-statistics-kbox .statistics-smicon span {
	margin: 15px auto;
}

#kunena.layout div.common-statistics-kbox .statistics-totals ul li {
	clear: left;
}

#kunena.layout div.common-statistics-kbox .statistics-totals {
	padding: 5px 10px 10px 10px;
	line-height: 20px;
	/*min-height: 80px;*/
	width: 25%;
}

#kunena.layout div.common-statistics-kbox .statistics-totals ul li span {
	margin-left: 3px;
}

#kunena.layout div.common-statistics-kbox .statistics-latestmem {
	margin-bottom: 8px;
}

#kunena.layout div.common-statistics-kbox .header-link {
	float: right;
	margin-right: 10px;
	margin-top: 5px;
}

#kunena.layout div.statistics-default div.stats-bar {
	display: block;
	height: 15px;
	border-radius: 5px;
}

#kunena.layout div.statistics-default div.stats-bar {
	background-image: linear-gradient(center left, rgba(139, 190, 242, 1.0) 0%, rgba(107, 158, 209, 1.0) 100%);
}


/********************
 * STOP STATISTICS *
 ********************/


/**********************************
 * START TOPIC THREADED TREE LIST *
 **********************************/

#kunena.layout ul.topic_threaded_tree-list {
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#kunena.layout ul.topic_threaded_tree-list div.header {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
}

#kunena.layout ul.topic_threaded_tree-list li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.topic_threaded_tree-list li.topic_threaded_tree-row dl, ul.topic_threaded_tree-list li.header {
	float: none !important;
	height: auto;
	width: auto;
}

#kunena.layout ul.topic_threaded_tree-list li.topic_threaded_tree-row {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kunena.layout ul.topic_threaded_tree-list li.topic_threaded_tree-row dd {
	display: block;
	float: left;
	margin: 0px;
	padding: 10px 5px;
}

#kunena.layout ul.topic_threaded_tree-list li.header dd {
	display: block;
	float: left;
	margin: 0px;
	padding: 2px 5px;
}

#kunena.layout ul.topic_threaded_tree-list dd {
	display: block;
	float: left;
	margin: 0px;
	padding: 2px 0;
}

/*#kunena.layout ul.topic-list li.topics-row dl {
	display: block;
	position: relative;
}*/

#kunena.layout ul.topic_threaded_tree-list li.topic_threaded_tree-row dd {
	display: block;
	float: left;
	margin: 0px;
}

#kunena.layout ul.topic_threaded_tree-list dd.topic_threaded_tree-post {
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 60%;
}

#kunena.layout ul.topic_threaded_tree-list dd.topic_threaded_tree-author {
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 15%;
}

#kunena.layout ul.topic_threaded_tree-list dd.topic_threaded_tree-time {
	margin: 0;
	text-align: left;
	vertical-align: middle;
	width: 15%;
}

/*********************************
 * STOP TOPIC THREADED TREE LIST *
 *********************************/


/*************************
 * START TOPIC BUTTONBAR *
 *************************/

#kunena.layout div.buttonbar ul.buttons-topic {
	padding: 0px;
	margin: 0px;
}

#kunena.layout div.buttonbar ul.buttons-topic > li {
	padding: 0px;
	margin: 0px;
}

#kunena.layout div.buttonbar ul.buttons-topic > li.button a {
	display: block;
}

/************************
 * STOP TOPIC BUTTONBAR *
 ************************/

/**************************
 * START TOPICS BUTTONBAR *
 **************************/

#kunena.layout div.buttonbar ul.buttons-topics {
	padding: 0px;
	margin: 0px;
}

#kunena.layout div.buttonbar ul.buttons-topics > li {
	padding: 0px;
	margin: 0px;
}

#kunena.layout div.buttonbar ul.buttons-topics > li a.button {
	display: block;
}

/*************************
 * STOP TOPICS BUTTONBAR *
 *************************/


/********************
 * START TOPIC-LIST *
 ********************/

#kunena.layout ul.topic-list {
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#kunena.layout ul.topic-list div.header {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
}

#kunena.layout ul.topic-list > li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}

#kunena.layout ul.topic-list li.row dl, ul.topic-list li.header {
	float: none !important;
	height: auto;
	width: auto;
}

#kunena.layout ul.topic-list li.topic-row {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#kunena.layout ul.topic-list li.topic-row dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 10px 5px;*/
	position: relative;
}

#kunena.layout ul.topic-list li.header dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 5px;*/
}

#kunena.layout ul.topic-list dd {
	display: block;
	float: left;
	margin: 0px;
	/*padding: 2px 0;*/
}

/*#kunena.layout ul.topic-list li.topics-row dl {
	display: block;
	position: relative;
}*/

#kunena.layout ul.topic-list li.topic-row dd {
	display: block;
	float: left;
	margin: 0px;
}

/*#kunena.layout ul.topic-list dd.topic-icon {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	min-width: 42px;
}*/

#kunena.layout ul.topic-list dd.topic-subject {
	margin: 0;
	text-align: left;
	width: 50%;
}

#kunena.layout ul.topic-list dd.topic-replies, #kunena.layout ul.topic-list dd.topic-views {
	margin: 0;
	text-align: center;
	width: 10%;
	position: relative;
	top: 50%;
}

#kunena.layout ul.topic-list dd.topic-replies span.number, #kunena.layout ul.topic-list dd.topic-views span.number {
	font-size: 24px;
	color: #666666;
}

#kunena.layout ul.topic-list dd.topic-lastpost {
	margin: 0;
	text-align: left;
	width: 25%;
}

#kunena.layout ul.topic-list dd.topic-checkbox {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	width: 5%;
}

/*#kunena.layout ul.topic-list li.topic-row dd {
	display: block;
	float: left;
	margin: 0px;
	padding: 4px 0;
}*/

/*******************
 * STOP TOPIC-LIST *
 *******************/


/*******************
 * START USER LIST *
 *******************/

#kunena.layout .userlist-items {
	padding-left: 10px;
}

#kunena.layout .userlist-user {
	width: 43%;
	float: left;
	margin: 5px;
	padding: 15px;
}

#kunena.layout h3.userlist-fullname,
#kunena.layout h3.userlist-fullname a {
	font-size: 20px;
	margin-bottom: 10px;
}

#kunena.layout .userlist-avatar {
	width: 110px;
	position:relative;
	float:left;
	margin-right: 10px;
}

#kunena.layout .userlist-avatar img{
	max-width: 96px;
	max-height: 96px;
	padding: 1px;
}

#kunena.layout .details-status {
	display: block;
	position: absolute;
	bottom: 10px;
	left: 3px;
	width: 94px;
}

#kunena.layout .details-links li {
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	margin: 2px;
}


/***********************
 * START WHO IS ONLINE *
 ***********************/

#kunena.layout div.common-whosonline-kbox div.whosonline-smicon {
	display: block;
	/*float: left;*/
	/*padding: 20px 0 5px 8px;*/
	padding: 5px;
	width: 48px;
}

#kunena.layout div.common-whosonline-kbox div.whosonline-users {
	display: block;
	/*float: left;*/
	padding: 5px 10px 10px 0px;
}

#kunena.layout div.common-whosonline-kbox .section-icon span {
	margin: 15px auto;
}

#kunena.layout div.common-whosonline-kbox .whosonline-subtitle {
	display: block;
	width: 99%;
}

#kunena.layout div.common-whosonline-kbox .whosonline-legend ul li {
	display: inline;
	margin-right: 5px;
}

#kunena.layout div.common-whosonline-kbox .whosonline-usernames {
	/*clear:left;*/
	display: block;
	width: 99%;
}

#kunena.layout div.common-whosonline-kbox .whosonline-usernames ul li {
	display: inline;
	margin-right: 4px;
}

#kunena.layout div.common-whosonline-kbox .whosonline-details div {
	display: block;
	/*float: left;*/
}

/**********************
 * STOP WHO IS ONLINE *
 **********************/


#kunena.layout ul.user-edit-information-list {
	display: block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#kunena.layout ul.user-edit-information-list > li {
	clear: both;
	display: block;
	position: relative;
	vertical-align: bottom;
	margin: 0;
	overflow: hidden;
	padding: 1px 0 0;
}


#kunena.layout div.category ul.category-list li.category-row dd.topics, #kunena.layout ul.category-list li.category-row dd.replies {
	font-size: 1.2em;
	line-height: 2.2em;
}

#kunena.layout div.topic ul.topic-list li.topic-row dd.replies, #kunena.layout ul.topic-list li.category-row dd.views {
	font-size: 1.2em;
	line-height: 2.2em;
}

#kunena.layout span.ktree {
	width: 20px;
	position: relative;
}

#kunena.layout span.ktree span.root-circle {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	display: block;
	background: #000000;
	top: 25%;
	position: absolute;
	margin: 0 auto 0 auto;
}

#kunena.layout span.ktree span.root-halfbottom_vertical_line {
	width: 3px;
	height: 50%;
	top: 50%;
	display: block;
	background: #000000;
	position: relative;
}

#kunena.layout span.ktree span.edge-vertical_line {
	width: 3px;
	height: 100%;
	display: block;
	background: #000000;
	left: 49%;
	position: absolute;
}

#kunena.layout span.ktree span.edge-halfright_horizontal_line {
	width: 100%;
	height: 3px;
	display: block;
	background: #000000;
	left: 49%;
	top: 49%;
	position: absolute;
}
