/* color */

#kunena.layout input {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #BFC3C6;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout input:focus {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #4B99DD;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout input[type="checkbox"] {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #BFC3C6;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout input[type="password"] {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #BFC3C6;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout input[type="password"]:focus {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #4B99DD;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout input[type="search"] {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #BFC3C6;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout input[type="search"]:focus {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #4B99DD;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}



#kunena.layout select {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #BFC3C6;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout select:focus {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #4B99DD;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout textarea {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #BFC3C6;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout textarea:focus {
	/*border: 1px solid;
	padding: 0px 5px;*/
	background-color: #FFFFFF;
	background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);
	border: 1px solid #4B99DD;
	border-radius: 5px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;
}

#kunena.layout fieldset {
	/*border: 1px solid;*/
	/*padding: 10px 15px;
	margin-bottom: 15px;*/
	/*background-color: #FFFFFF;
	/*background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);*/
	/*border: 1px solid #BFC3C6;
	border-radius: 5px;*/
	/*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;*/
}

#kunena.layout label {
	font-weight: bold;
}

#kunena.layout .display-hidden {
	display: none
}

#kunena.layout .kbox-hover {
	background-color: rgba(0, 0, 0, 0.0);
}

#kunena.layout .kbox-hover:hover {
	background-color: rgba(0, 0, 0, 0.01);
}

#kunena.layout .kbox-focus {
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout .kbox-focus:focus {
	background-color: rgba(100, 100, 100, 0.1);
}

#kunena.layout .kbox-shadow {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.4), -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4);
}

#kunena.layout .kbox-shadow:hover {
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1), 1px 1px 0 rgba(255, 255, 255, 0.4), -1px -1px 0 rgba(255, 255, 255, 0.4), 1px -1px 0 rgba(255, 255, 255, 0.4), -1px 1px 0 rgba(255, 255, 255, 0.4);
}

#kunena.layout .kbox-color {
	/*background-color: rgba(100, 100, 100, 0.1);*/
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) 100%) !important;
}

#kunena.layout .kbox-color:hover {
	/*background-color: rgba(100, 100, 100, 0.1);*/
	background-image: linear-gradient(top, rgba(100, 100, 100, 0.1) 0%, rgba(100, 100, 100, 0.1) 100%) !important;
}

#kunena.layout .kbox-border {
	/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;
	/*border-radius: 5px;*/
}

#kunena.layout .kbox-border:hover {
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
	border-color: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-width: 1px;
	/*border-radius: 5px;*/
}

#kunena.layout .kbox-border_radius {
	border-radius: 5px;
}

#kunena.layout .kbox-border_radius {
	border-radius: 5px;
}

#kunena.layout .kbox-border_radius-vchild > :first-child {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#kunena.layout .kbox-border_radius-vchild > :first-child:hover {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#kunena.layout .kbox-border_radius-vchild > :last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#kunena.layout .kbox-border_radius-vchild > :last-child:hover {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

#kunena.layout .kbox-hover_header-row {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout .kbox-hover_list-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}

#kunena.layout .kbox-hover_list-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 0, 0.03);
}

#kunena.layout .list-unstyled {
	list-style: none outside none;
}

#kunena.layout .fieldset {
	/*border: 1px solid;*/
	padding: 10px 15px 15px 15px;
	margin-bottom: 15px;
	/*background-color: #FFFFFF;*/
	/*background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.05) 0%, rgba(127, 127, 127, 0.05) 50%, rgba(255, 255, 255, 0.05) 100%);*/
	/*box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.1) inset;*/
}

#kunena.layout .bold {
	font-weight: bold;
}

#kunena.layout .link {
	text-decoration: none !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #0088CC !important;
}

#kunena.layout .link:hover {
	text-decoration: underline !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #005580 !important;
}

#kunena.layout .link-menu {
	text-decoration: none !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #0088CC !important;
}

#kunena.layout .link-menu:hover {
	text-decoration: none !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #005580 !important;
}

#kunena.layout .link-dropdown,
#kunena.layout ul.menu li a:visited {
	text-decoration: none !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #0088CC !important;
}

#kunena.layout .link-dropdown:hover {
	text-decoration: none !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #005580 !important;
}

#kunena.layout .header2 > a {
	text-decoration: none !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #0088CC !important;
}

#kunena.layout .header2 > a:hover {
	text-decoration: none !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #005580 !important;
}

#kunena.layout .link-header2 > a {
	text-decoration: none !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #0088CC !important;
}

#kunena.layout .link-header2 > a:hover {
	text-decoration: underline !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #005580 !important;
}

#kunena.layout .link-header3 > a {
	text-decoration: none !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #0088CC !important;
}

#kunena.layout .link-header3 > a:hover {
	text-decoration: underline !important;
	background: none !important;
	/*color: #555555 !important;*/
	color: #005580 !important;
}

#kunena.layout a.link-tab {
	text-decoration: none;
	background: none;
	color: #0088CC !important;
	/*color: #555555 !important;*/
}

#kunena.layout a.link-tab:hover {
	text-decoration: none;
	background: #EFEFEF;
	color: #005580 !important;
	/*color: #555555 !important;*/
}

#kunena.layout .link:hover, #kunena.layout .link:focus {
	text-decoration: underline;
	background: none;
	/*color: #333333 !important;*/
	/*color: #0088CC !important;*/
}

#kunena.layout .divider {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #EEEEEE;
}

/*#kunena.layout .separator {
	border-left: 1px solid #1B1B1B;
	border-right: 1px solid #333333;
}*/

#kunena.layout div.progress {
	background-color: #F7F7F7;
	background-image: -moz-linear-gradient(center top , #F5F5F5, #F9F9F9);
	background-repeat: repeat-x;
}

#kunena.layout div.progress-striped .bar {
	background-color: #149BDF;
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
}

#kunena.layout li.dropdown .dropdown-menu {
	opacity: 0.0;
	background-clip: padding-box;
	background-color: rgba(255, 255, 255, 1.0);
	border-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	list-style: none outside none;
}

#kunena.layout li.dropdown:hover > * {
	opacity: 1.0;
}

#kunena.layout h2 > a {
	font-size: 18px !important;
	line-height: 24px !important;
	font-family: Georgia,"Times New Roman",Times,serif !important;
	font-weight: bold !important;
	color: #555555 !important;
}

#kunena.layout h3 > a {
 	font-size: 15px !important;
 	font-family: Georgia,"Times New Roman",Times,serif !important;
 	font-weight: bold !important;
 	color: #555555 !important;
}

#kunena.layout .spacer {
	background: none repeat scroll 0 0 transparent;
}

#kunena.layout div.headerbox-wrapper {
	background-image: linear-gradient(top, rgba(250, 250, 250, 1.0) 0%, rgba(240, 240, 240, 1.0) 100%) !important;
}

#kunena.layout div.footerkbox-wrapper {
    background: none repeat scroll 0 0 transparent;}

#kunena.layout dl.ktabs {
	border-bottom: 1px solid #DDDDDD;
}

#kunena.layout dl.ktabs > dt {
	float: left;
	margin-bottom: -1px;
}

#kunena.layout dl.ktabs > dt > a {
	/*background-color: #FFFFFF;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;*/
}

#kunena.layout dl.ktabs > dt.open > a, #kunena.layout dl.ktabs > dt.open > a:hover {
	background-color: #FFFFFF;
	border-color: #DDDDDD #DDDDDD transparent;
	border-style: solid;
	border-width: 1px;
	cursor: default;
}

#kunena.layout dl.ktabs > dt.closed > a, #kunena.layout dl.ktabs > dt.closed > a:hover {
	border-color: transparent;
	border-style: solid;
	border-width: 1px;
	cursor: default;
}

#kunena.layout dl.ktabs > dt > a {
	display: block;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
	padding: 9px 12px;
	line-height: 18px;
	margin-right: 2px;
}
#kunena.layout div.current{
	padding:0;
}
/*#kunena.layout li.postmessage-row {
	border-top: 1px solid rgba(0, 0, 0, 0.0);
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.0);
}*/

/*#kunena.layout li.postmessage-row:hover {
	border-top: 1px solid rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
	background-color: rgba(100, 100, 100, 0.05);
}*/

#kunena.layout div.topic-default_list-kbox ul.message-list li.header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#kunena.layout ul.menu li a {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	/*box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(255, 255, 255, 0.0) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.0) !important;
	background-color: rgba(255, 255, 255, 0.0) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.0) !important;
	/*color: #444444;*/
}

#kunena.layout ul.menu li a:hover {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(100, 100, 100, 0.1) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
	/*color: #222222;*/
}

#kunena.layout ul.menu li a {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	/*box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(255, 255, 255, 0.0) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.0) !important;
	background-color: rgba(255, 255, 255, 0.0) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.0) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.0) !important;
	/*color: #444444;*/
}

#kunena.layout ul.menu li a:hover {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(100, 100, 100, 0.1) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
	/*color: #222222;*/
}

#kunena.layout ul.menu li a:focus {
	/*border-left: 1px solid rgba(0, 0, 0, 0.1);*/
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1) !important;
	background-color: rgba(100, 100, 100, 0.1) !important;
	border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
	border-left: 1px solid rgba(0, 0, 0, 0.05) !important;
	/*color: #222222;*/
}


/*********************
 * START BREADCRUMBS *
 *********************/

#kunena.layout div.breadcrumb {
	/*background: #f4f4f4;
	background-image: linear-gradient(top, #f4f4f4 0%,#ececec 100%);*/
}

#kunena.layout div.breadcrumb li.breadcumb-viewing,
#kunena.layout div.breadcrumb li.breadcumb-total {
	font-weight: bold;
}

/* Attachments */

#kunena.layout div.breadcrumb .post-body-attach {
	border: 1px solid #BCBCBC;
	background-color: #f9f9f9;
	border-radius:6px;
}

#kunena.layout div.breadcrumb .attach-title {
	font-size: 11px;
	font-weight: bold;
	background-color: #14537b;
	color: #FFF;
	border-radius: 6px 6px 0 0;
}

#kunena.layout div.breadcrumb .attach-details span {
	font-size: 11px;
}

/********************
 * STOP BREADCRUMBS *
 ********************/


/****************
 * START BUTTON *
 ****************/

#kunena.layout li.item-button {
	display: inline-block;
	overflow: visible;
	position: relative;
	white-space: nowrap;
}

/* Color */
#kunena.layout a.kbutton, #kunena.layout button.kbutton {
	cursor: pointer;
	border: 1px solid #D4D4D4;
	border-radius: 3px;
	/*box-shadow: 0 1px 0 #FFFFFF;*/
}

#kunena.layout a.kbutton:hover, #kunena.layout button.kbutton:hover {
	cursor: pointer;
	border: 1px solid #D4D4D4;
	border-radius: 3px;
	/*box-shadow: 0 1px 0 #FFFFFF;*/
}

#kunena.layout a.kbutton > span, #kunena.layout button.kbutton > span {
	background: rgba(0, 0, 0, 0.0);
}

#kunena.layout a.kbutton:hover > span, #kunena.layout button.kbutton:hover > span {
	/*background: #599bdc;*/
	/*background-image: linear-gradient(top, #599bdc 0%,#3072b3 100%);*/
	background: rgba(0, 0, 0, 0.15);
}

#kunena.layout a.kbutton, #kunena.layout button.kbutton {
	background: none;
	text-decoration: none;
	color: #FFFFFF !important;
	display: block;
}

#kunena.layout a.kbutton:hover, #kunena.layout button.kbutton:hover {
	background: none;
	text-decoration: none;
	color: #FFFFFF !important;
	display: block;
}

/***************
 * STOP BUTTON *
 ***************/
 
 
/*****************
 * START CREDITS *
 *****************/

#kunena.layout div.credit p {
	text-align: center;
}

/****************
 * STOP CREDITS *
 ****************/


/*****************
 * START MENUBOX *
 *****************/

#kunena.layout div.moduletable > ul {
	background: none repeat scroll 0 0 transparent;
	border-style: none;
}

#kunena.layout ul.menu li > a {
	background: none;
	border-color: none;
	font-size: 13px !important;
	font-weight: normal;
}

#kunena.layout ul.menu li a:hover {
	background: none;
}

#kunena.layout ul.menu li a {
	background: none;
}

#kunena.layout ul.menu li a:hover {
	background: none;
}

/****************
 * STOP MENUBOX *
 ****************/


/*******************
 * START USER LIST *
 *******************/

#kunena.layout .userlist-user {
	border: 1px solid #F4F4F4;
}

#kunena.layout h3.userlist-fullname,
#kunena.layout h3.userlist-fullname a {
	font-weight: bold;
	color: #5388B4;
	text-decoration: none;
}

#kunena.layout h3.userlist-fullname a:hover {
	text-decoration: underline;
	color: #0099FF;
}

#kunena.layout .userlist-avatar img{
	border: 1px solid #F4F4F4;
}

#kunena.layout .details-status {
	background-color: #000;
	font-weight: bold;
	text-align:center;
	text-transform: uppercase;
	opacity: 0.8;
}

#kunena.layout .details-status.konline {
	color: green;
}

#kunena.layout .details-status.koffline {
	color: red;
}

#kunena.layout .userlist-details{
	float: left;
}

#kunena.layout .details-links {
	float: left;
}

#kunena.layout .userlist-details li span {
	font-weight: bold;
}

/******************
 * STOP USER LIST *
 ******************/


/**************
 * START MISC *
 **************/
 
#kunena.layout .user-admin { color: var(styleForumLegendAdmincolorText) !important; }
#kunena.layout .user-globalmod { color: var(styleForumLegendGlobalcolorText) !important; }
#kunena.layout .user-moderator { color: var(styleForumLegendModeratorcolorText) !important;}
#kunena.layout .user-user { color: var(styleForumLegendUsercolorText) !important; }
#kunena.layout .user-guest { color: var(styleForumLegendGuestcolorText) !important; }

#kunena.layout .file-input-button, #kunena.layout .file-input-button:hover, #kunena.layout .file-input-button:focus {
	background-color: #F2F1EE;
	border-color: #999999;
	color: #000000;
}

#kunena.layout .postbuttonset, .postbuttons {
	border-color: #BFC3C6;
}

#kunena.layout .filter-button {
	border: 1px solid #666;
	margin: 2px;
	background-color:#5388B4;
	color: #fff;
	font-size: 10px;
}

#kunena.layout .filter-button:hover {
	border: 1px solid #F4F4F4;
	background-color: #DDDDDD;
	cursor:pointer;
	color: #000;
}
#kunena.layout .icon-button {
	color: #fff;
	text-decoration: none;
	font-size: 11px;
	border: none;
}

#kunena.layout a.icon-button span span:hover {
	text-decoration: underline;
}

#kunena.layout a.icon-button:hover {
	color: #fff;
}

#kunena.layout .buttonbar-post {
	border-top: 1px solid #F4F4F4;
}

#kunena.layout .mod-detailsbox .post-buttons {
	border-top-color: #F4F4F4;
}

#kunena.layout .postmessage .postbuttonset td, #kunena.layout .postmessage tr.krow2 .postbuttonset td {
	border-color: #F4F4F4;
}

#kunena.layout .postmessage .postbuttonset .posthint {
	background-color: #FFFFCC;
	border-color: #F4F4F4;
}

#kunena.layout .common-credit-kbox {
	text-align:center;
}
/*************
 * STOP MISC *
 *************/