<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE config>
<config>
	<fieldset name="advanced">
		<field name="displayMenu" type="list" default="1" label="COM_KUNENA_TEMPLATE_DISPLAY_MENU" description="COM_KUNENA_TEMPLATE_DISPLAY_MENU_DESC">
			<option value="0">COM_KUNENA_NO</option>
			<option value="1">COM_KUNENA_YES</option>
		</field>
		<field name="avatarPosition" type="list" default="left" label="COM_KUNENA_TEMPLATE_PROFILE_POSITION" description="COM_KUNENA_TEMPLATE_PROFILEPOSITION_DESC">
			<option value="left">COM_KUNENA_TEMPLATE_LEFT</option>
			<option value="right">COM_KUNENA_TEMPLATE_RIGHT</option>
			<option value="top">COM_KUNENA_TEMPLATE_TOP</option>
			<option value="bottom">COM_KUNENA_TEMPLATE_BOTTOM</option>
		</field>
		<field name="avatarPosition" type="list" default="left" label="COM_KUNENA_TEMPLATE_PROFILE_POSITION" description="COM_KUNENA_TEMPLATE_PROFILEPOSITION_DESC">
			<option value="left">COM_KUNENA_TEMPLATE_LEFT</option>
			<option value="top">COM_KUNENA_TEMPLATE_TOP</option>
			<option value="right">COM_KUNENA_TEMPLATE_RIGHT</option>
			<option value="bottom">COM_KUNENA_TEMPLATE_BOTTOM</option>
		</field>
		<field name="buttonIconset" type="list" default="default" label="COM_KUNENA_TEMPLATE_BUTTON_SET" description="COM_KUNENA_TEMPLATE_BUTTON_SET_DESC">
			<option value="default">COM_KUNENA_TEMPLATE_DEFAULT</option>
			<option value="bluebird">COM_KUNENA_TEMPLATE_BUTTON_SET_BLUEBIRD</option>
			<option value="graybird">COM_KUNENA_TEMPLATE_BUTTON_SET_GRAYBIRD</option>
			<option value="blackbird">COM_KUNENA_TEMPLATE_BUTTON_SET_BLACKBIRD</option>
			<option value="whitebird">COM_KUNENA_TEMPLATE_BUTTON_SET_WHITEBIRD</option>
		</field>
		<field name="profileIconset" type="list" default="default" label="COM_KUNENA_TEMPLATE_PROFILE_ICON_SET" description="COM_KUNENA_TEMPLATE_PROFILE_ICON_SET_DESC">
			<option value="default">COM_KUNENA_TEMPLATE_DEFAULT</option>
		</field>
		<field name="editorIconset" type="list" default="default" label="COM_KUNENA_TEMPLATE_EDITOR_ICON_SET" description="COM_KUNENA_TEMPLATE_EDITOR_ICON_SET_DESC">
			<option value="default">COM_KUNENA_TEMPLATE_DEFAULT</option>
		</field>
		<field name="lightboxColor" type="list" default="white" label="COM_KUNENA_TEMPLATE_LIGHTBOXCOLOR_COLOR" description="COM_KUNENA_TEMPLATE_LIGHTBOXCOLOR_DESC">
			<option value="white">COM_KUNENA_TEMPLATE_LIGHTBOXCOLOR_WHITE</option>
			<option value="black">COM_KUNENA_TEMPLATE_LIGHTBOXCOLOR_BLACK</option>
		</field>
		<field name="forumHeadercolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_FORUM_HEADER_BACKGROUND"
		       description="COM_KUNENA_TEMPLATE_FORUM_HEADER_BACKGROUND_DESC"
				/>

		<field name="announcementHeadercolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_ANNOUNCEMENT_HEADER_BACKGROUND"
		       description="COM_KUNENA_TEMPLATE_HEADER_BACKGROUND_COLOR_DESC"
				/>

		<field name="announcementBoxbgcolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_ANNOUNCEMENT_BOX_BACKGROUND"
		       description="COM_KUNENA_TEMPLATE_HEADER_BACKGROUND_COLOR_DESC"
				/>

		<field name="frontstatsHeadercolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_FRONTSTATS_HEADER_BACKGROUND"
		       description="COM_KUNENA_TEMPLATE_HEADER_BACKGROUND_COLOR_DESC"
				/>

		<field name="whoisonlineHeadercolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_WHOISONLINE_HEADER_BACKGROUND"
		       description="COM_KUNENA_TEMPLATE_HEADER_BACKGROUND_COLOR_DESC"
				/>

		<field name="inactiveTabcolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_INACTIVE_TAB_COLOR"
		       description="COM_KUNENA_TEMPLATE_INACTIVE_TAB_COLOR_DESC"
				/>

		<field name="activeTabcolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_ACTIVE_TAB_COLOR"
		       description="COM_KUNENA_TEMPLATE_ACTIVE_TAB_COLOR_DESC"
				/>

		<field name="hoverTabcolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_HOVER_TAB_COLOR"
		       description="COM_KUNENA_TEMPLATE_HOVER_TAB_COLOR_DESC"
				/>

		<field name="topBordercolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_TOP_BORDER_COLOR"
		       description="COM_KUNENA_TEMPLATE_TOP_BORDER_COLOR_DESC"
				/>

		<field name="inactiveFontcolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_INACTIVE_FONT_COLOR"
		       description="COM_KUNENA_TEMPLATE_INACTIVE_FONT_COLOR_DESC"
				/>

		<field name="activeFontcolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_ACTIVE_FONT_COLOR"
		       description="COM_KUNENA_TEMPLATE_ACTIVE_FONT_COLOR_DESC"
				/>

		<field name="toggleButtoncolor" type="color" default=""
		       label="COM_KUNENA_TEMPLATE_TOGGLER_COLOR"
		       description="COM_KUNENA_TEMPLATE_TOGGLER_COLOR_DESC"
				/>
		<field name="enableSkinner" type="list" default="0"
		       label="COM_KUNENA_TEMPLATE_SKINNER"
		       description="COM_KUNENA_TEMPLATE_SKINNER_DESC"
				>
			<option value="0">COM_KUNENA_NO</option>
			<option value="1">COM_KUNENA_YES</option>
		</field>

		<field name="loadResponsiveCSS" type="list" default="1"
		       label="COM_KUNENA_TEMPLATE_LOAD_RESPONSIVE_CSS"
		       description="COM_KUNENA_TEMPLATE_LOAD_RESPONSIVE_CSS_DESC"
				>
			<option value="0">COM_KUNENA_NO</option>
			<option value="1">COM_KUNENA_YES</option>
		</field>
		<field name="templatebyText" type="hidden" default=""/>
		<field name="templatebyName" type="hidden" default=""/>
		<field name="templatebyLink" type="hidden" default=""/>
		<!-- Required avatar sizes -->
		<field name="avatarSizeXThumb" type="hidden" default="36"/>
		<field name="avatarSizeYThumb" type="hidden" default="36"/>
		<field name="avatarSizeXWelcome" type="hidden" default="72"/>
		<field name="avatarSizeYWelcome" type="hidden" default="72"/>
		<field name="avatarSizeXList" type="hidden" default="36"/>
		<field name="avatarSizeYList" type="hidden" default="36"/>
		<field name="avatarSizeXPost" type="hidden" default="144"/>
		<field name="avatarSizeYPost" type="hidden" default="144"/>
		<field name="avatarSizeXProfile" type="hidden" default="200"/>
		<field name="avatarSizeYProfile" type="hidden" default="200"/>
		<field name="SubjectLengthMessage" type="text" default="80" label="COM_KUNENA_TEMPLATE_SUBJECT_LENGTH_MESSAGE_LENGTH" description="COM_KUNENA_TEMPLATE_SUBJECT_LENGTH_MESSAGE_LENGTH_DESC"/>
	</fieldset>
</config>
