<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!DOCTYPE config [
<!ELEMENT config (params)>
]>
<config>
    <params>
	<param name='extforum' type='list' default='localhost' label='Forum Type' description='' size='30'>
		<option value='kunena'>Kunena</option>
		<option value='phpbb3'>phpBB3</option>
		<option value='phpbb2'>phpBB2</option>
		<option value='pnphpbb2'>PNphpBB2</option>
	</param>
	<param name='db_host' type='text' default='localhost' label='Database Host' description='' size='30' />
	<param name='db_user' type='text' default='' label='Database User' description='' size='30' />
	<param name='db_passwd' type='password' default='' label='Database Password' description='' size='30' />
	<param name='db_name' type='text' default='' label='Forum Database Name' description='' size='30' />
	<param name='db_prefix' type='text' default='phpbb_' label='Forum Table Prefix' description='' size='30' />
    </params>
</config>
