<patTemplate:tmpl name="jb-header">
<!-- closed in footer.html -->
<div id="fireboard">
{OFFLINE_MESSAGE}
<table class="fb_header  " width="100%" border="0" cellspacing="0" cellpadding="0" >
  <thead>
    <tr>
      <th class="fb_header_th_1" align="left" width="1%" ><img id="BoxSwitch_topprofilebox__topprofilebox_tbody"  class="hideshow" src="{PB_IMGSWITCHURL}" alt="" /></th>
      <th class="fb_header_th_2"  align="left" width="10%" nowrap="nowrap" > <span class = "fb_title fbl">{BOARD_TITLE}</span></th>
      <th class="fb_header_th_3" align="center" >{MENU}</th>
      <th class="fb_header_th_4" width="5%" align="right" >{SEARCHBOX}</th>
    </tr>
  </thead>
  <tbody><tr><td></td></tr></tbody>
</table>
</patTemplate:tmpl>
