/*	mediaboxAdvanced Dark theme	*/
/*	version 2.6 - June 2011			*/
/*	for mediaboxAdvanced v.1.5.x	*/

/*	Overlay background styling	*/

#mbOverlay {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;
	background-color: #fff;
	cursor: pointer;
}

/*	Fixes for older or limited browsers	*/

#mbOverlay.mbOverlayOpaque {
	background: transparent url(../images/mediabox_overlay.png) repeat;
}

#mbOverlay.mbOverlayAbsolute {
	position: absolute;
}

#mbOverlay.mbMobile {
	position: absolute;
	background-color: transparent;
}

#mbBottom.mbMobile {
	line-height: 24px;
	font-size: 16px;
}

/*	Overlay panel styling	*/

#mbCenter {
	position: absolute;
	z-index: 9999;
	left: 50%;
	padding: 10px;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=180, Color='#000000'); /* For IE 5.5 - 7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=180, Color='#000000')"; /* For IE 8 */
	-webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.50);
	-khtml-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.50);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.50);
}

#mbCenter.mbLoading {
	background: #000 url(../images/loading.gif) no-repeat center;
	/*	This style is applied only during animation.	*/
	/*	For example, the next lines turn off shadows	*/
	/*	improving browser performance on slow systems.	*/
	/*	To leave shadows on, just remove the following:	*/
	-webkit-box-shadow: none;
	-khtml-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#mbMedia {
	position: relative;
	left: 0;
	top: 0;

	/*	Inline content styling	*/

	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	text-align: left;
	background: no-repeat center center;
}

/*	Title, Caption and Button styling	*/

#mbBottom {
	line-height: 20px;
	font-size: 12px;
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	color: #999;
	min-height: 20px;
	padding: 10px 0 0;
}

#mbTitle, #mbPrevLink, #mbNextLink, #mbCloseLink {
	display: inline;
	color: #000;
	font-weight: bold;
}

#mbNumber {
	display: inline;
	color: #999;
	/*	line-height: 0.8em; */
	font-size: 0.8em;
	margin: auto 10px;
}

#mbCaption {
	display: block;
	color: #999;
	line-height: 1.6em;
	font-size: 0.8em;
}

#mbPrevLink, #mbNextLink, #mbCloseLink {
	float: right;
	outline: none;
	margin: 0 0 0 10px;
	font-weight: normal;
}

#mbPrevLink b, #mbNextLink b, #mbCloseLink b {
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}

#mbPrevLink big, #mbNextLink big, #mbCloseLink big {
	color: #000;
	font-size: 1.4em;
	/*	line-height: 0.9em;*/
	font-weight: bold;
}

#mbBottom a, #mbBottom a:link, #mbBottom a:visited {
	/* Thanks to Danny Jung for feedback and corrections */
	text-decoration: none;
	color: #ddd;
}

#mbBottom a:hover, #mbBottom a:active {
	text-decoration: underline;
	color: #fff;
}

/*	Error message styling	*/

#mbError {
	position: relative;
	font-family: Myriad, Verdana, Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	border: 10px solid #700;
	padding: 10px 10px 10px;
	margin: 20px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#mbError a, #mbError a:link, #mbError a:visited, #mbError a:hover, #mbError a:active {
	color: #d00;
	font-weight: bold;
	text-decoration: underline;
}
