/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a	{
	background-image:url(images/bold.png);
}
.markItUp .markItUpButton2 a	{
	background-image:url(images/italic.png);
}
.markItUp .markItUpButton3 a	{
	background-image:url(images/underline.png);
}
.markItUp .markItUpButton4 a	{
	background-image:url(images/stroke.png);
}
.markItUp .markItUpButton5 a	{
	background-image:url(images/supscript.png);
}
.markItUp .markItUpButton6 a	{
	background-image:url(images/subscript.png);
}
.markItUp .markItUpButton7 a	{
	background-image:url(images/fonts.png);
}
.markItUp .markItUpButton8  a {
	background-image:url(images/colors.png);
}

.markItUp .markItUpButton9 a	{
	background-image:url(images/list-bullet.png);
}
.markItUp .markItUpButton10 a	{
	background-image:url(images/list-numeric.png);
}
.markItUp .markItUpButton11 a	{
	background-image:url(images/list-item.png);
}
.markItUp .markItUpButton12 a	{
	background-image:url(images/text_align_left.png);
}
.markItUp .markItUpButton13 a	{
	background-image:url(images/text_align_center.png);
}
.markItUp .markItUpButton14 a	{
	background-image:url(images/text_align_right.png);
}
.markItUp .markItUpButton15 a	{
	background-image:url(images/quotes.png);
}
.markItUp .markItUpButton16 a	{
	background-image:url(images/code.png);
}
.markItUp .markItUpButton17 a	{
	background-image:url(images/table.png);
}
.markItUp .markItUpButton18 a	{
	background-image:url(images/spoiler.png);
}
.markItUp .markItUpButton19 a	{
	background-image:url(images/hidden.png);
}
.markItUp .markItUpButton20 a	{
	background-image:url(images/picture.png);
}
.markItUp .markItUpButton21 a	{
	background-image:url(images/link.png);
}
.markItUp .markItUpButton22 a	{
	background-image:url(images/ebay.png);
}    	
.markItUp .markItUpButton23 a	{
	background-image:url(images/film.png);
}  
.markItUp .markItUpButton24 a	{
	background-image:url(images/map.png);
}
.markItUp .markItUpButton25 a	{
	background-image:url(images/poll.png);
} 	 	
	
.markItUp .clean a {
	background-image:url(images/clean.png);
}
.markItUp .colors ul {
 width:500px;
 padding:1px;	
}
	.markItUp .colors  li {
		border:1px solid white;
		width:25px;	height:25px;
		overflow:hidden;
		padding:0px; margin:0px;
		float:left;
	}
	.markItUp .colors ul a {
		width:25px;	height:25px;
	}
	.markItUp .colors ul a:hover {
		background-color:none;
	}
	
	.markItUp .colors .col1-1 a {
		background:black;
	}
	.markItUp .colors .col1-2 a {
		background:orange;
	}
	.markItUp .colors .col1-3 a {
		background:red;
	}
	
	.markItUp .colors .col2-1 a {
		background:blue;
	}
	.markItUp .colors .col2-2 a {
		background:purple;
	}
	.markItUp .colors .col2-3 a {
		background:green;
	}
	
	.markItUp .colors .col3-1 a {
		background:white;
	}
	.markItUp .colors .col3-2 a {
		background:gray;
	}
	.markItUp .colors .col3-3 a {
		background:black;
	}